{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.daytona.api#DaytonaConfiguration": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Daytona version",
            "smithy.api#required": {}
          }
        },
        "buildSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the source the app was built from"
          }
        },
        "posthog": {
          "target": "com.daytona.api#PosthogConfig",
          "traits": {
            "smithy.api#documentation": "PostHog configuration"
          }
        },
        "oidc": {
          "target": "com.daytona.api#OidcConfig",
          "traits": {
            "smithy.api#documentation": "OIDC configuration",
            "smithy.api#required": {}
          }
        },
        "ssoOidc": {
          "target": "com.daytona.api#SsoOidcConfig",
          "traits": {
            "smithy.api#documentation": "OIDC configuration for org-SSO logins (Daytona Auth issuer). Present only when the secondary (org-SSO) issuer is configured; the dashboard uses it as its authority when entered via an organization SSO link."
          }
        },
        "forcedFeatureFlags": {
          "target": "com.daytona.api#DaytonaConfigurationForcedFeatureFlagsList",
          "traits": {
            "smithy.api#documentation": "Feature flags forced on for this deployment regardless of PostHog targeting. Lets environments without PostHog (previews, local dev) enable flag-gated dashboard features."
          }
        },
        "linkedAccountsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether linked accounts are enabled",
            "smithy.api#required": {}
          }
        },
        "announcements": {
          "target": "com.daytona.api#DaytonaConfigurationAnnouncementsMap",
          "traits": {
            "smithy.api#documentation": "System announcements",
            "smithy.api#required": {}
          }
        },
        "pylonAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pylon application ID"
          }
        },
        "proxyTemplateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proxy template URL",
            "smithy.api#required": {}
          }
        },
        "proxyToolboxUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Toolbox template URL",
            "smithy.api#required": {}
          }
        },
        "defaultSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default snapshot for sandboxes",
            "smithy.api#required": {}
          }
        },
        "dashboardUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard URL",
            "smithy.api#required": {}
          }
        },
        "maxAutoArchiveInterval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum auto-archive interval in minutes",
            "smithy.api#required": {}
          }
        },
        "maintananceMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether maintenance mode is enabled",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current environment",
            "smithy.api#required": {}
          }
        },
        "billingApiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing API URL"
          }
        },
        "analyticsApiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Analytics API URL"
          }
        },
        "stripePublishableKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stripe publishable key for client-side Stripe.js"
          }
        },
        "sshGatewayCommand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH Gateway command"
          }
        },
        "sshGatewayPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded SSH Gateway public key"
          }
        },
        "rateLimit": {
          "target": "com.daytona.api#RateLimitConfig",
          "traits": {
            "smithy.api#documentation": "Rate limit configuration"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#PosthogConfig": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostHog API key",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostHog host URL",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OidcConfig": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OIDC issuer",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OIDC client ID",
            "smithy.api#required": {}
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OIDC audience",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.daytona.api#OidcConfigProvider",
          "traits": {
            "smithy.api#documentation": "Which identity provider the advertised issuer above belongs to. The dashboard needs this because provider-specific logout URLs are not discoverable from the issuer alone: ending an Auth0 session uses its proprietary /v2/logout, which does not exist on WorkOS AuthKit. Anything that branches on provider behaviour must read this rather than pattern-matching the issuer hostname.",
            "smithy.api#required": {}
          }
        },
        "authApiHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WorkOS \"Authentication API\" custom domain the dashboard's client-side SDK should call instead of api.workos.com, so the refresh-token cookie is first-party. Present only when the provider is workos and a custom domain is configured (WorkOS production environments only); absent means the SDK runs in devMode and keeps the refresh token in localStorage."
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OidcConfigProvider": {
      "type": "enum",
      "members": {
        "AUTH0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth0"
          }
        },
        "WORKOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workos"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which identity provider the advertised issuer above belongs to. The dashboard needs this because provider-specific logout URLs are not discoverable from the issuer alone: ending an Auth0 session uses its proprietary /v2/logout, which does not exist on WorkOS AuthKit. Anything that branches on provider behaviour must read this rather than pattern-matching the issuer hostname."
      }
    },
    "com.daytona.api#SsoOidcConfig": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OIDC issuer for org-SSO logins (Daytona Auth)",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OIDC client ID for org-SSO logins",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#DaytonaConfigurationForcedFeatureFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Feature flags forced on for this deployment regardless of PostHog targeting. Lets environments without PostHog (previews, local dev) enable flag-gated dashboard features."
      }
    },
    "com.daytona.api#Announcement": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The announcement text",
            "smithy.api#required": {}
          }
        },
        "learnMoreUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to learn more about the announcement"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#DaytonaConfigurationAnnouncementsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.daytona.api#Announcement"
      },
      "traits": {
        "smithy.api#documentation": "System announcements"
      }
    },
    "com.daytona.api#RateLimitConfig": {
      "type": "structure",
      "members": {
        "failedAuth": {
          "target": "com.daytona.api#RateLimitEntry",
          "traits": {
            "smithy.api#documentation": "Failed authentication rate limit"
          }
        },
        "authenticated": {
          "target": "com.daytona.api#RateLimitEntry",
          "traits": {
            "smithy.api#documentation": "Authenticated rate limit"
          }
        },
        "sandboxCreate": {
          "target": "com.daytona.api#RateLimitEntry",
          "traits": {
            "smithy.api#documentation": "Sandbox create rate limit"
          }
        },
        "sandboxLifecycle": {
          "target": "com.daytona.api#RateLimitEntry",
          "traits": {
            "smithy.api#documentation": "Sandbox lifecycle rate limit"
          }
        },
        "sandboxList": {
          "target": "com.daytona.api#RateLimitEntry",
          "traits": {
            "smithy.api#documentation": "Sandbox list rate limit"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#RateLimitEntry": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rate limit TTL in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rate limit max requests"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#GetConfigControllerConfig": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.api#DaytonaConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/config",
          "code": 200
        },
        "smithy.api#documentation": "Get config"
      }
    },
    "com.daytona.api#ApiKeyList": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API key",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The masked API key value",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key was created",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.daytona.api#ApiKeyListPermissionsList",
          "traits": {
            "smithy.api#documentation": "The list of organization resource permissions assigned to the API key",
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key was last used",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key expires",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user ID of the user who created the API key",
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization ID associated with the API key"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#ApiKeyListPermissionsItem": {
      "type": "enum",
      "members": {
        "WRITE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:registries"
          }
        },
        "DELETE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:registries"
          }
        },
        "WRITE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:snapshots"
          }
        },
        "DELETE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:snapshots"
          }
        },
        "WRITE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:sandboxes"
          }
        },
        "DELETE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:sandboxes"
          }
        },
        "READ_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:volumes"
          }
        },
        "WRITE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:volumes"
          }
        },
        "DELETE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:volumes"
          }
        },
        "WRITE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:regions"
          }
        },
        "DELETE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:regions"
          }
        },
        "READ_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:runners"
          }
        },
        "WRITE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:runners"
          }
        },
        "DELETE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:runners"
          }
        },
        "READ_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:audit_logs"
          }
        },
        "MANAGE_API_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:api_keys"
          }
        },
        "MANAGE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:secrets"
          }
        },
        "READ_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:limits"
          }
        },
        "MANAGE_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:sso"
          }
        },
        "READ_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:billing"
          }
        },
        "MANAGE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:billing"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#ApiKeyListPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#ApiKeyListPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of organization resource permissions assigned to the API key"
      }
    },
    "com.daytona.api#ListApiKeysResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#ApiKeyList"
      },
      "traits": {}
    },
    "com.daytona.api#ListApiKeysResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.api#ListApiKeysResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#ListApiKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.api#ListApiKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "List API keys"
      }
    },
    "com.daytona.api#CreateApiKeyRequestPermissionsItem": {
      "type": "enum",
      "members": {
        "WRITE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:registries"
          }
        },
        "DELETE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:registries"
          }
        },
        "WRITE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:snapshots"
          }
        },
        "DELETE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:snapshots"
          }
        },
        "WRITE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:sandboxes"
          }
        },
        "DELETE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:sandboxes"
          }
        },
        "READ_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:volumes"
          }
        },
        "WRITE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:volumes"
          }
        },
        "DELETE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:volumes"
          }
        },
        "WRITE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:regions"
          }
        },
        "DELETE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:regions"
          }
        },
        "READ_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:runners"
          }
        },
        "WRITE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:runners"
          }
        },
        "DELETE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:runners"
          }
        },
        "READ_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:audit_logs"
          }
        },
        "MANAGE_API_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:api_keys"
          }
        },
        "MANAGE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:secrets"
          }
        },
        "READ_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:limits"
          }
        },
        "MANAGE_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:sso"
          }
        },
        "READ_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:billing"
          }
        },
        "MANAGE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:billing"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#CreateApiKeyRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#CreateApiKeyRequestPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of organization resource permissions explicitly assigned to the API key"
      }
    },
    "com.daytona.api#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API key",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.daytona.api#CreateApiKeyRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "The list of organization resource permissions explicitly assigned to the API key",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key expires",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#ApiKeyResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API key",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key value",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key was created",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.daytona.api#ApiKeyResponsePermissionsList",
          "traits": {
            "smithy.api#documentation": "The list of organization resource permissions assigned to the API key",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key expires",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#ApiKeyResponsePermissionsItem": {
      "type": "enum",
      "members": {
        "WRITE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:registries"
          }
        },
        "DELETE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:registries"
          }
        },
        "WRITE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:snapshots"
          }
        },
        "DELETE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:snapshots"
          }
        },
        "WRITE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:sandboxes"
          }
        },
        "DELETE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:sandboxes"
          }
        },
        "READ_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:volumes"
          }
        },
        "WRITE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:volumes"
          }
        },
        "DELETE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:volumes"
          }
        },
        "WRITE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:regions"
          }
        },
        "DELETE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:regions"
          }
        },
        "READ_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:runners"
          }
        },
        "WRITE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:runners"
          }
        },
        "DELETE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:runners"
          }
        },
        "READ_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:audit_logs"
          }
        },
        "MANAGE_API_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:api_keys"
          }
        },
        "MANAGE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:secrets"
          }
        },
        "READ_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:limits"
          }
        },
        "MANAGE_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:sso"
          }
        },
        "READ_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:billing"
          }
        },
        "MANAGE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:billing"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#ApiKeyResponsePermissionsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#ApiKeyResponsePermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of organization resource permissions assigned to the API key"
      }
    },
    "com.daytona.api#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.daytona.api#ApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Create API key"
      }
    },
    "com.daytona.api#GetCurrentApiKey": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.api#ApiKeyList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys/current",
          "code": 200
        },
        "smithy.api#documentation": "Get current API key's details"
      }
    },
    "com.daytona.api#GetApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#GetApiKey": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#GetApiKeyRequest"
      },
      "output": {
        "target": "com.daytona.api#ApiKeyList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get API key"
      }
    },
    "com.daytona.api#DeleteApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeleteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeleteApiKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api-keys/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete API key"
      }
    },
    "com.daytona.api#DeleteApiKeyForUserRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeleteApiKeyForUser": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeleteApiKeyForUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api-keys/{userId}/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete API key for user"
      }
    },
    "com.daytona.api#OrganizationInvitation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Invitation ID",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the invitee",
            "smithy.api#required": {}
          }
        },
        "invitedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the inviter",
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization ID",
            "smithy.api#required": {}
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration date of the invitation",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.daytona.api#OrganizationInvitationStatus",
          "traits": {
            "smithy.api#documentation": "Invitation status",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.daytona.api#OrganizationInvitationRole",
          "traits": {
            "smithy.api#documentation": "Member role",
            "smithy.api#required": {}
          }
        },
        "assignedRoles": {
          "target": "com.daytona.api#OrganizationInvitationAssignedRolesList",
          "traits": {
            "smithy.api#documentation": "Assigned roles",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update timestamp",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OrganizationInvitationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Invitation status"
      }
    },
    "com.daytona.api#OrganizationInvitationRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Member role"
      }
    },
    "com.daytona.api#OrganizationRole": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role name",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role description",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.daytona.api#OrganizationRolePermissionsList",
          "traits": {
            "smithy.api#documentation": "Roles assigned to the user",
            "smithy.api#required": {}
          }
        },
        "isGlobal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Global role flag",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update timestamp",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OrganizationRolePermissionsItem": {
      "type": "enum",
      "members": {
        "WRITE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:registries"
          }
        },
        "DELETE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:registries"
          }
        },
        "WRITE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:snapshots"
          }
        },
        "DELETE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:snapshots"
          }
        },
        "WRITE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:sandboxes"
          }
        },
        "DELETE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:sandboxes"
          }
        },
        "READ_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:volumes"
          }
        },
        "WRITE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:volumes"
          }
        },
        "DELETE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:volumes"
          }
        },
        "WRITE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:regions"
          }
        },
        "DELETE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:regions"
          }
        },
        "READ_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:runners"
          }
        },
        "WRITE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:runners"
          }
        },
        "DELETE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:runners"
          }
        },
        "READ_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:audit_logs"
          }
        },
        "MANAGE_API_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:api_keys"
          }
        },
        "MANAGE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:secrets"
          }
        },
        "READ_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:limits"
          }
        },
        "MANAGE_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:sso"
          }
        },
        "READ_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:billing"
          }
        },
        "MANAGE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:billing"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OrganizationRolePermissionsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#OrganizationRolePermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Roles assigned to the user"
      }
    },
    "com.daytona.api#OrganizationInvitationAssignedRolesList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#OrganizationRole"
      },
      "traits": {
        "smithy.api#documentation": "Assigned roles"
      }
    },
    "com.daytona.api#ListOrganizationInvitationsForAuthenticatedUserResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#OrganizationInvitation"
      },
      "traits": {}
    },
    "com.daytona.api#ListOrganizationInvitationsForAuthenticatedUserResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.api#ListOrganizationInvitationsForAuthenticatedUserResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#ListOrganizationInvitationsForAuthenticatedUser": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.api#ListOrganizationInvitationsForAuthenticatedUserResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/invitations",
          "code": 200
        },
        "smithy.api#documentation": "List organization invitations for authenticated user"
      }
    },
    "com.daytona.api#GetOrganizationInvitationsCountForAuthenticatedUserResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#GetOrganizationInvitationsCountForAuthenticatedUser": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.api#GetOrganizationInvitationsCountForAuthenticatedUserResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/invitations/count",
          "code": 200
        },
        "smithy.api#documentation": "Get count of organization invitations for authenticated user"
      }
    },
    "com.daytona.api#AcceptOrganizationInvitationRequest": {
      "type": "structure",
      "members": {
        "invitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Invitation ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#AcceptOrganizationInvitation": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#AcceptOrganizationInvitationRequest"
      },
      "output": {
        "target": "com.daytona.api#OrganizationInvitation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/invitations/{invitationId}/accept",
          "code": 200
        },
        "smithy.api#documentation": "Accept organization invitation"
      }
    },
    "com.daytona.api#DeclineOrganizationInvitationRequest": {
      "type": "structure",
      "members": {
        "invitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Invitation ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeclineOrganizationInvitation": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeclineOrganizationInvitationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/invitations/{invitationId}/decline",
          "code": 200
        },
        "smithy.api#documentation": "Decline organization invitation"
      }
    },
    "com.daytona.api#Organization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID of the organization creator",
            "smithy.api#required": {}
          }
        },
        "personal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Personal organization flag",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update timestamp",
            "smithy.api#required": {}
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Suspended flag",
            "smithy.api#required": {}
          }
        },
        "suspendedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suspended at",
            "smithy.api#required": {}
          }
        },
        "suspensionReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suspended reason",
            "smithy.api#required": {}
          }
        },
        "suspendedUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suspended until",
            "smithy.api#required": {}
          }
        },
        "suspensionCleanupGracePeriodHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Suspension cleanup grace period hours",
            "smithy.api#required": {}
          }
        },
        "maxCpuPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max CPU per sandbox",
            "smithy.api#required": {}
          }
        },
        "maxMemoryPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max memory per sandbox",
            "smithy.api#required": {}
          }
        },
        "maxDiskPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max disk per sandbox",
            "smithy.api#required": {}
          }
        },
        "secretQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of secrets",
            "smithy.api#required": {}
          }
        },
        "maxSecretsPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of secrets that can be mounted to a single sandbox",
            "smithy.api#required": {}
          }
        },
        "snapshotDeactivationTimeoutMinutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in minutes before an unused snapshot is deactivated",
            "smithy.api#required": {}
          }
        },
        "sandboxLimitedNetworkEgress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sandbox default network block all",
            "smithy.api#required": {}
          }
        },
        "previewWarningEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the proxy shows the preview URL warning page for this organization",
            "smithy.api#required": {}
          }
        },
        "ssoEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this organization may configure SSO identity providers",
            "smithy.api#required": {}
          }
        },
        "scimEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this organization may use SCIM directory sync",
            "smithy.api#required": {}
          }
        },
        "defaultRegionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default region ID"
          }
        },
        "workosOrgId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the WorkOS organization mirrored from this organization (absent for personal organizations, which are never mirrored)"
          }
        },
        "authenticatedRateLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Authenticated rate limit per minute",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandboxCreateRateLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sandbox create rate limit per minute",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandboxLifecycleRateLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sandbox lifecycle rate limit per minute",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "experimentalConfig": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Experimental configuration",
            "smithy.api#required": {}
          }
        },
        "otelConfig": {
          "target": "com.daytona.api#OtelConfig",
          "traits": {
            "smithy.api#documentation": "OpenTelemetry collection configuration",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "authenticatedRateLimitTtlSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Authenticated rate limit TTL in seconds",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandboxCreateRateLimitTtlSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sandbox create rate limit TTL in seconds",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandboxLifecycleRateLimitTtlSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sandbox lifecycle rate limit TTL in seconds",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OtelConfig": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoint",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.daytona.api#OtelConfigHeadersMap",
          "traits": {
            "smithy.api#documentation": "Headers",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization ID the config belongs to"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OtelConfigHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Headers"
      }
    },
    "com.daytona.api#ListOrganizationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#Organization"
      },
      "traits": {}
    },
    "com.daytona.api#ListOrganizationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.api#ListOrganizationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#ListOrganizations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.api#ListOrganizationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations",
          "code": 200
        },
        "smithy.api#documentation": "List organizations"
      }
    },
    "com.daytona.api#CreateOrganizationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of organization",
            "smithy.api#required": {}
          }
        },
        "defaultRegionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default region for the organization",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#CreateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#CreateOrganizationRequest"
      },
      "output": {
        "target": "com.daytona.api#Organization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations",
          "code": 200
        },
        "smithy.api#documentation": "Create organization"
      }
    },
    "com.daytona.api#SetOrganizationDefaultRegionRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "defaultRegionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default region for the organization",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#SetOrganizationDefaultRegion": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#SetOrganizationDefaultRegionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/organizations/{organizationId}/default-region",
          "code": 200
        },
        "smithy.api#documentation": "Set default region for organization"
      }
    },
    "com.daytona.api#GetOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#GetOrganization": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#GetOrganizationRequest"
      },
      "output": {
        "target": "com.daytona.api#Organization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationId}",
          "code": 200
        },
        "smithy.api#documentation": "Get organization by ID"
      }
    },
    "com.daytona.api#DeleteOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeleteOrganization": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeleteOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete organization"
      }
    },
    "com.daytona.api#GetOrganizationUsageOverviewRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#OrganizationUsageOverview": {
      "type": "structure",
      "members": {
        "regionUsage": {
          "target": "com.daytona.api#OrganizationUsageOverviewRegionUsageList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalSnapshotQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentSnapshotUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalVolumeQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentVolumeUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#RegionUsageOverview": {
      "type": "structure",
      "members": {
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxClass": {
          "target": "com.daytona.api#SandboxClass",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalCpuQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentCpuUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalMemoryQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentMemoryUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalDiskQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentDiskUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalGpuQuota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentGpuUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowedGpuTypes": {
          "target": "com.daytona.api#RegionUsageOverviewAllowedGpuTypesList"
        },
        "maxCpuPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxMemoryPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxDiskPerSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxDiskPerNonEphemeralSandbox": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxCpuPerGpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU maximum per requested GPU unit for GPU sandboxes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxMemoryPerGpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory maximum per requested GPU unit for GPU sandboxes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxDiskPerGpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk maximum per requested GPU unit for GPU sandboxes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#SandboxClass": {
      "type": "enum",
      "members": {
        "LINUX_VM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linux-vm"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "android"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "windows"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#GpuType": {
      "type": "enum",
      "members": {
        "H100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "H100"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "H200"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RTX-PRO-6000"
          }
        },
        "RTX_4090": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RTX-4090"
          }
        },
        "RTX_5090": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RTX-5090"
          }
        },
        "MI355X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MI355X"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#RegionUsageOverviewAllowedGpuTypesList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#GpuType"
      },
      "traits": {}
    },
    "com.daytona.api#OrganizationUsageOverviewRegionUsageList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#RegionUsageOverview"
      },
      "traits": {}
    },
    "com.daytona.api#GetOrganizationUsageOverview": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#GetOrganizationUsageOverviewRequest"
      },
      "output": {
        "target": "com.daytona.api#OrganizationUsageOverview"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationId}/usage",
          "code": 200
        },
        "smithy.api#documentation": "Get organization current usage overview"
      }
    },
    "com.daytona.api#ListAvailableSandboxClassesRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#AvailableSandboxClass": {
      "type": "structure",
      "members": {
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxClass": {
          "target": "com.daytona.api#SandboxClass",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gpuAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowedGpuTypes": {
          "target": "com.daytona.api#AvailableSandboxClassAllowedGpuTypesList"
        }
      },
      "traits": {}
    },
    "com.daytona.api#AvailableSandboxClassAllowedGpuTypesList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#GpuType"
      },
      "traits": {}
    },
    "com.daytona.api#ListAvailableSandboxClassesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#AvailableSandboxClass"
      },
      "traits": {}
    },
    "com.daytona.api#ListAvailableSandboxClassesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.api#ListAvailableSandboxClassesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#ListAvailableSandboxClasses": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#ListAvailableSandboxClassesRequest"
      },
      "output": {
        "target": "com.daytona.api#ListAvailableSandboxClassesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationId}/available-sandbox-classes",
          "code": 200
        },
        "smithy.api#documentation": "List available sandbox classes for organization"
      }
    },
    "com.daytona.api#LeaveOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#LeaveOrganization": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#LeaveOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationId}/leave",
          "code": 200
        },
        "smithy.api#documentation": "Leave organization"
      }
    },
    "com.daytona.api#GetOrganizationOtelConfigBySandboxAuthTokenRequest": {
      "type": "structure",
      "members": {
        "authToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox Auth Token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#GetOrganizationOtelConfigBySandboxAuthToken": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#GetOrganizationOtelConfigBySandboxAuthTokenRequest"
      },
      "output": {
        "target": "com.daytona.api#OtelConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/otel-config/by-sandbox-auth-token/{authToken}",
          "code": 200
        },
        "smithy.api#documentation": "Get organization OTEL config by sandbox auth token"
      }
    },
    "com.daytona.api#GetSandboxIdentityBySandboxAuthTokenRequest": {
      "type": "structure",
      "members": {
        "authToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox Auth Token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#SandboxIdentity": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox ID",
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization ID",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#GetSandboxIdentityBySandboxAuthToken": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#GetSandboxIdentityBySandboxAuthTokenRequest"
      },
      "output": {
        "target": "com.daytona.api#SandboxIdentity"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/sandbox-identity/by-sandbox-auth-token/{authToken}",
          "code": 200
        },
        "smithy.api#documentation": "Get sandbox identity by sandbox auth token"
      }
    },
    "com.daytona.api#GetOrganizationOtelConfigRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#GetOrganizationOtelConfig": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#GetOrganizationOtelConfigRequest"
      },
      "output": {
        "target": "com.daytona.api#OtelConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationId}/otel-config",
          "code": 200
        },
        "smithy.api#documentation": "Get organization OTEL config by organization ID"
      }
    },
    "com.daytona.api#UpdateOrganizationOtelConfigRequestHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Headers"
      }
    },
    "com.daytona.api#UpdateOrganizationOtelConfigRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoint",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.daytona.api#UpdateOrganizationOtelConfigRequestHeadersMap",
          "traits": {
            "smithy.api#documentation": "Headers",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#UpdateOrganizationOtelConfig": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#UpdateOrganizationOtelConfigRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/organizations/{organizationId}/otel-config",
          "code": 200
        },
        "smithy.api#documentation": "Update organization OpenTelemetry configuration"
      }
    },
    "com.daytona.api#DeleteOrganizationOtelConfigRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeleteOrganizationOtelConfig": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeleteOrganizationOtelConfigRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationId}/otel-config",
          "code": 200
        },
        "smithy.api#documentation": "Delete organization OpenTelemetry configuration"
      }
    },
    "com.daytona.api#UpdateExperimentalConfigRequestBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.daytona.api#UpdateExperimentalConfigRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "body": {
          "target": "com.daytona.api#UpdateExperimentalConfigRequestBodyMap",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#UpdateExperimentalConfig": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#UpdateExperimentalConfigRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/organizations/{organizationId}/experimental-config",
          "code": 200
        },
        "smithy.api#documentation": "Update experimental configuration"
      }
    },
    "com.daytona.api#ListOrganizationRolesRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#ListOrganizationRolesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#OrganizationRole"
      },
      "traits": {}
    },
    "com.daytona.api#ListOrganizationRolesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.api#ListOrganizationRolesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#ListOrganizationRoles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#ListOrganizationRolesRequest"
      },
      "output": {
        "target": "com.daytona.api#ListOrganizationRolesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "List organization roles"
      }
    },
    "com.daytona.api#CreateOrganizationRoleRequestPermissionsItem": {
      "type": "enum",
      "members": {
        "WRITE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:registries"
          }
        },
        "DELETE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:registries"
          }
        },
        "WRITE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:snapshots"
          }
        },
        "DELETE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:snapshots"
          }
        },
        "WRITE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:sandboxes"
          }
        },
        "DELETE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:sandboxes"
          }
        },
        "READ_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:volumes"
          }
        },
        "WRITE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:volumes"
          }
        },
        "DELETE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:volumes"
          }
        },
        "WRITE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:regions"
          }
        },
        "DELETE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:regions"
          }
        },
        "READ_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:runners"
          }
        },
        "WRITE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:runners"
          }
        },
        "DELETE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:runners"
          }
        },
        "READ_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:audit_logs"
          }
        },
        "MANAGE_API_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:api_keys"
          }
        },
        "MANAGE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:secrets"
          }
        },
        "READ_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:limits"
          }
        },
        "MANAGE_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:sso"
          }
        },
        "READ_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:billing"
          }
        },
        "MANAGE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:billing"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#CreateOrganizationRoleRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#CreateOrganizationRoleRequestPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of permissions assigned to the role"
      }
    },
    "com.daytona.api#CreateOrganizationRoleRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the role",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the role",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.daytona.api#CreateOrganizationRoleRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "The list of permissions assigned to the role",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#CreateOrganizationRole": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#CreateOrganizationRoleRequest"
      },
      "output": {
        "target": "com.daytona.api#OrganizationRole"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Create organization role"
      }
    },
    "com.daytona.api#UpdateOrganizationRoleRequestPermissionsItem": {
      "type": "enum",
      "members": {
        "WRITE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:registries"
          }
        },
        "DELETE_REGISTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:registries"
          }
        },
        "WRITE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:snapshots"
          }
        },
        "DELETE_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:snapshots"
          }
        },
        "WRITE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:sandboxes"
          }
        },
        "DELETE_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:sandboxes"
          }
        },
        "READ_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:volumes"
          }
        },
        "WRITE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:volumes"
          }
        },
        "DELETE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:volumes"
          }
        },
        "WRITE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:regions"
          }
        },
        "DELETE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:regions"
          }
        },
        "READ_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:runners"
          }
        },
        "WRITE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write:runners"
          }
        },
        "DELETE_RUNNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:runners"
          }
        },
        "READ_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:audit_logs"
          }
        },
        "MANAGE_API_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:api_keys"
          }
        },
        "MANAGE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:secrets"
          }
        },
        "READ_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:limits"
          }
        },
        "MANAGE_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:sso"
          }
        },
        "READ_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read:billing"
          }
        },
        "MANAGE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage:billing"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#UpdateOrganizationRoleRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#UpdateOrganizationRoleRequestPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of permissions assigned to the role"
      }
    },
    "com.daytona.api#UpdateOrganizationRoleRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Role ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the role",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the role",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.daytona.api#UpdateOrganizationRoleRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "The list of permissions assigned to the role",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#UpdateOrganizationRole": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#UpdateOrganizationRoleRequest"
      },
      "output": {
        "target": "com.daytona.api#OrganizationRole"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/organizations/{organizationId}/roles/{roleId}",
          "code": 200
        },
        "smithy.api#documentation": "Update organization role"
      }
    },
    "com.daytona.api#DeleteOrganizationRoleRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Role ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeleteOrganizationRole": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeleteOrganizationRoleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationId}/roles/{roleId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete organization role"
      }
    },
    "com.daytona.api#ListOrganizationMembersRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#OrganizationUser": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID",
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User email",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.daytona.api#OrganizationUserRole",
          "traits": {
            "smithy.api#documentation": "Member role",
            "smithy.api#required": {}
          }
        },
        "assignedRoles": {
          "target": "com.daytona.api#OrganizationUserAssignedRolesList",
          "traits": {
            "smithy.api#documentation": "Roles assigned to the user",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update timestamp",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.api#OrganizationUserRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Member role"
      }
    },
    "com.daytona.api#OrganizationUserAssignedRolesList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#OrganizationRole"
      },
      "traits": {
        "smithy.api#documentation": "Roles assigned to the user"
      }
    },
    "com.daytona.api#ListOrganizationMembersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.api#OrganizationUser"
      },
      "traits": {}
    },
    "com.daytona.api#ListOrganizationMembersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.api#ListOrganizationMembersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.api#ListOrganizationMembers": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#ListOrganizationMembersRequest"
      },
      "output": {
        "target": "com.daytona.api#ListOrganizationMembersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationId}/users",
          "code": 200
        },
        "smithy.api#documentation": "List organization members"
      }
    },
    "com.daytona.api#UpdateAccessForOrganizationMemberRequestRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization member role"
      }
    },
    "com.daytona.api#UpdateAccessForOrganizationMemberRequestAssignedRoleIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of assigned role IDs"
      }
    },
    "com.daytona.api#UpdateAccessForOrganizationMemberRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "User ID"
          }
        },
        "role": {
          "target": "com.daytona.api#UpdateAccessForOrganizationMemberRequestRole",
          "traits": {
            "smithy.api#documentation": "Organization member role",
            "smithy.api#required": {}
          }
        },
        "assignedRoleIds": {
          "target": "com.daytona.api#UpdateAccessForOrganizationMemberRequestAssignedRoleIdsList",
          "traits": {
            "smithy.api#documentation": "Array of assigned role IDs",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#UpdateAccessForOrganizationMember": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#UpdateAccessForOrganizationMemberRequest"
      },
      "output": {
        "target": "com.daytona.api#OrganizationUser"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationId}/users/{userId}/access",
          "code": 200
        },
        "smithy.api#documentation": "Update access for organization member"
      }
    },
    "com.daytona.api#DeleteOrganizationMemberRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization ID"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "User ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.api#DeleteOrganizationMember": {
      "type": "operation",
      "input": {
        "target": "com.daytona.api#DeleteOrganizationMemberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationId}/users/{userId}",
[...]
