{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.daytona.toolbox#FindAccessibilityNodesRequestStatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#FindAccessibilityNodesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "limit": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "nameMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"exact\" | \"substring\" | \"regex\""
          }
        },
        "pid": {
          "target": "smithy.api#Integer"
        },
        "role": {
          "target": "smithy.api#String"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "states": {
          "target": "com.daytona.toolbox#FindAccessibilityNodesRequestStatesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#AccessibilityNodesResponse": {
      "type": "structure",
      "members": {
        "matches": {
          "target": "com.daytona.toolbox#AccessibilityNodesResponseMatchesList"
        },
        "truncated": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ComputeruseAccessibilityNode": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.daytona.toolbox#ComputeruseAccessibilityNodeActionsList"
        },
        "bounds": {
          "target": "com.daytona.toolbox#AccessibilityBounds"
        },
        "children": {
          "target": "com.daytona.toolbox#ComputeruseAccessibilityNodeChildrenList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "smithy.api#String"
        },
        "states": {
          "target": "com.daytona.toolbox#ComputeruseAccessibilityNodeStatesList"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ComputeruseAccessibilityNodeActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#AccessibilityBounds": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer"
        },
        "width": {
          "target": "smithy.api#Integer"
        },
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ComputeruseAccessibilityNodeChildrenList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#ComputeruseAccessibilityNode"
      },
      "traits": {}
    },
    "com.daytona.toolbox#ComputeruseAccessibilityNodeStatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#AccessibilityNodesResponseMatchesList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#ComputeruseAccessibilityNode"
      },
      "traits": {}
    },
    "com.daytona.toolbox#FindAccessibilityNodes": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#FindAccessibilityNodesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#AccessibilityNodesResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/a11y/find",
          "code": 200
        },
        "smithy.api#documentation": "Find accessibility nodes\n\nSearch the AT-SPI tree for nodes matching a role/name/state filter and return a flat list."
      }
    },
    "com.daytona.toolbox#FocusAccessibilityNodeRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#FocusAccessibilityNodeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#FocusAccessibilityNode": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#FocusAccessibilityNodeRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#FocusAccessibilityNodeResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/a11y/node/focus",
          "code": 200
        },
        "smithy.api#documentation": "Focus an accessibility node\n\nMove keyboard focus to the AT-SPI node identified by id (bus-name:object-path)."
      }
    },
    "com.daytona.toolbox#InvokeAccessibilityNodeRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "action": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#InvokeAccessibilityNodeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#InvokeAccessibilityNode": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#InvokeAccessibilityNodeRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#InvokeAccessibilityNodeResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/a11y/node/invoke",
          "code": 200
        },
        "smithy.api#documentation": "Invoke an action on an accessibility node\n\nCall an AT-SPI Action on the node. Leave action empty to invoke the node's primary (first) action."
      }
    },
    "com.daytona.toolbox#SetAccessibilityNodeValueRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#SetAccessibilityNodeValueResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#SetAccessibilityNodeValue": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#SetAccessibilityNodeValueRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#SetAccessibilityNodeValueResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/a11y/node/value",
          "code": 200
        },
        "smithy.api#documentation": "Set the value of an accessibility node\n\nWrite the given value to the node via EditableText.SetTextContents or, for numeric controls, Value.CurrentValue."
      }
    },
    "com.daytona.toolbox#GetAccessibilityTreeRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scope",
            "smithy.api#documentation": "Scope: focused | pid | all (default: focused)"
          }
        },
        "pid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pid",
            "smithy.api#documentation": "Process ID when scope=pid"
          }
        },
        "maxDepth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "maxDepth",
            "smithy.api#documentation": "Max tree depth (-1 unbounded, 0 root only; default -1)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#AccessibilityTreeResponse": {
      "type": "structure",
      "members": {
        "root": {
          "target": "com.daytona.toolbox#ComputeruseAccessibilityNode"
        },
        "truncated": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetAccessibilityTree": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetAccessibilityTreeRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#AccessibilityTreeResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/a11y/tree",
          "code": 200
        },
        "smithy.api#documentation": "Get accessibility tree\n\nFetch the AT-SPI accessibility tree for the focused application, a specific PID, or all registered applications."
      }
    },
    "com.daytona.toolbox#GetDisplayInfoRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#DisplayInfoResponse": {
      "type": "structure",
      "members": {
        "displays": {
          "target": "com.daytona.toolbox#DisplayInfoResponseDisplaysList"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#DisplayInfo": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "isActive": {
          "target": "smithy.api#Boolean"
        },
        "width": {
          "target": "smithy.api#Integer"
        },
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#DisplayInfoResponseDisplaysList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#DisplayInfo"
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetDisplayInfo": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetDisplayInfoRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#DisplayInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/display/info",
          "code": 200
        },
        "smithy.api#documentation": "Get display information\n\nGet information about all available displays"
      }
    },
    "com.daytona.toolbox#GetWindowsRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#WindowsResponse": {
      "type": "structure",
      "members": {
        "windows": {
          "target": "com.daytona.toolbox#WindowsResponseWindowsList"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#WindowInfo": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "isActive": {
          "target": "smithy.api#Boolean"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "width": {
          "target": "smithy.api#Integer"
        },
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#WindowsResponseWindowsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#WindowInfo"
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetWindows": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetWindowsRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#WindowsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/display/windows",
          "code": 200
        },
        "smithy.api#documentation": "Get windows information\n\nGet information about all open windows"
      }
    },
    "com.daytona.toolbox#PressHotkeyRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "keys": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "e.g., \"ctrl+c\", \"cmd+v\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#PressHotkeyResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#PressHotkey": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#PressHotkeyRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#PressHotkeyResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/keyboard/hotkey",
          "code": 200
        },
        "smithy.api#documentation": "Press hotkey\n\nPress a hotkey combination (e.g., ctrl+c, cmd+v)"
      }
    },
    "com.daytona.toolbox#PressKeyRequestModifiersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "ctrl, alt, shift, cmd"
      }
    },
    "com.daytona.toolbox#PressKeyRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "modifiers": {
          "target": "com.daytona.toolbox#PressKeyRequestModifiersList",
          "traits": {
            "smithy.api#documentation": "ctrl, alt, shift, cmd"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#PressKeyResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#PressKey": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#PressKeyRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#PressKeyResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/keyboard/key",
          "code": 200
        },
        "smithy.api#documentation": "Press key\n\nPress a key with optional modifiers"
      }
    },
    "com.daytona.toolbox#TypeTextRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "delay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "milliseconds between keystrokes"
          }
        },
        "text": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#TypeTextResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#TypeText": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#TypeTextRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#TypeTextResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/keyboard/type",
          "code": 200
        },
        "smithy.api#documentation": "Type text\n\nType text with optional delay between keystrokes"
      }
    },
    "com.daytona.toolbox#ClickRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "button": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "left, right, middle"
          }
        },
        "double": {
          "target": "smithy.api#Boolean"
        },
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#MouseClickResponse": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#Click": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#ClickRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#MouseClickResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/mouse/click",
          "code": 200
        },
        "smithy.api#documentation": "Click mouse button\n\nClick the mouse button at the specified coordinates"
      }
    },
    "com.daytona.toolbox#DragRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "button": {
          "target": "smithy.api#String"
        },
        "endX": {
          "target": "smithy.api#Integer"
        },
        "endY": {
          "target": "smithy.api#Integer"
        },
        "startX": {
          "target": "smithy.api#Integer"
        },
        "startY": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#MouseDragResponse": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#Drag": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DragRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#MouseDragResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/mouse/drag",
          "code": 200
        },
        "smithy.api#documentation": "Drag mouse\n\nDrag the mouse from start to end coordinates"
      }
    },
    "com.daytona.toolbox#MoveMouseRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#MousePositionResponse": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#MoveMouse": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#MoveMouseRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#MousePositionResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/mouse/move",
          "code": 200
        },
        "smithy.api#documentation": "Move mouse cursor\n\nMove the mouse cursor to the specified coordinates"
      }
    },
    "com.daytona.toolbox#GetMousePositionRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#GetMousePosition": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetMousePositionRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#MousePositionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/mouse/position",
          "code": 200
        },
        "smithy.api#documentation": "Get mouse position\n\nGet the current mouse cursor position"
      }
    },
    "com.daytona.toolbox#ScrollRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "amount": {
          "target": "smithy.api#Integer"
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "up, down"
          }
        },
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ScrollResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#Scroll": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#ScrollRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ScrollResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/mouse/scroll",
          "code": 200
        },
        "smithy.api#documentation": "Scroll mouse wheel\n\nScroll the mouse wheel at the specified coordinates"
      }
    },
    "com.daytona.toolbox#GetComputerUseStatusRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ComputerUseStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetComputerUseStatus": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetComputerUseStatusRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ComputerUseStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/process-status",
          "code": 200
        },
        "smithy.api#documentation": "Get computer use process status\n\nGet the status of all computer use processes"
      }
    },
    "com.daytona.toolbox#GetProcessErrorsRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "processName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Process name to get errors for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ProcessErrorsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "smithy.api#String"
        },
        "processName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetProcessErrors": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetProcessErrorsRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ProcessErrorsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/process/{processName}/errors",
          "code": 200
        },
        "smithy.api#documentation": "Get process errors\n\nGet errors for a specific computer use process"
      }
    },
    "com.daytona.toolbox#GetProcessLogsRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "processName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Process name to get logs for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ProcessLogsResponse": {
      "type": "structure",
      "members": {
        "logs": {
          "target": "smithy.api#String"
        },
        "processName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetProcessLogs": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetProcessLogsRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ProcessLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/process/{processName}/logs",
          "code": 200
        },
        "smithy.api#documentation": "Get process logs\n\nGet logs for a specific computer use process"
      }
    },
    "com.daytona.toolbox#RestartProcessRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "processName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Process name to restart"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ProcessRestartResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "processName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#RestartProcess": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#RestartProcessRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ProcessRestartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/process/{processName}/restart",
          "code": 200
        },
        "smithy.api#documentation": "Restart specific process\n\nRestart a specific computer use process"
      }
    },
    "com.daytona.toolbox#GetProcessStatusRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "processName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Process name to check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ProcessStatusResponse": {
      "type": "structure",
      "members": {
        "processName": {
          "target": "smithy.api#String"
        },
        "running": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#GetProcessStatus": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetProcessStatusRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ProcessStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/process/{processName}/status",
          "code": 200
        },
        "smithy.api#documentation": "Get specific process status\n\nCheck if a specific computer use process is running"
      }
    },
    "com.daytona.toolbox#ListRecordingsRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ListRecordingsResponse": {
      "type": "structure",
      "members": {
        "recordings": {
          "target": "com.daytona.toolbox#ListRecordingsResponseRecordingsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#Recording": {
      "type": "structure",
      "members": {
        "durationSeconds": {
          "target": "smithy.api#Double"
        },
        "endTime": {
          "target": "smithy.api#String"
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sizeBytes": {
          "target": "smithy.api#Integer"
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ListRecordingsResponseRecordingsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#Recording"
      },
      "traits": {}
    },
    "com.daytona.toolbox#ListRecordings": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#ListRecordingsRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ListRecordingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/recordings",
          "code": 200
        },
        "smithy.api#documentation": "List all recordings\n\nGet a list of all recordings (active and completed)"
      }
    },
    "com.daytona.toolbox#StartRecordingRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#StartRecording": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#StartRecordingRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#Recording"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/recordings/start",
          "code": 200
        },
        "smithy.api#documentation": "Start a new recording\n\nStart a new screen recording session"
      }
    },
    "com.daytona.toolbox#StopRecordingRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#StopRecording": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#StopRecordingRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#Recording"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/recordings/stop",
          "code": 200
        },
        "smithy.api#documentation": "Stop a recording\n\nStop an active screen recording session"
      }
    },
    "com.daytona.toolbox#GetRecordingRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Recording ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#GetRecording": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetRecordingRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#Recording"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/recordings/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get recording details\n\nGet details of a specific recording by ID"
      }
    },
    "com.daytona.toolbox#DeleteRecordingRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Recording ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#DeleteRecording": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DeleteRecordingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        },
        {
          "target": "com.daytona.toolbox#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{sandboxId}/computeruse/recordings/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a recording\n\nDelete a recording file by ID"
      }
    },
    "com.daytona.toolbox#DownloadRecordingRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Recording ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#DownloadRecordingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#DownloadRecording": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DownloadRecordingRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#DownloadRecordingResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/recordings/{id}/download",
          "code": 200
        },
        "smithy.api#documentation": "Download a recording\n\nDownload a recording by providing its ID"
      }
    },
    "com.daytona.toolbox#TakeScreenshotRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "showCursor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "showCursor",
            "smithy.api#documentation": "Whether to show cursor in screenshot"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ScreenshotResponse": {
      "type": "structure",
      "members": {
        "cursorPosition": {
          "target": "com.daytona.toolbox#Position"
        },
        "screenshot": {
          "target": "smithy.api#String"
        },
        "sizeBytes": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#Position": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer"
        },
        "y": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#TakeScreenshot": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#TakeScreenshotRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ScreenshotResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/screenshot",
          "code": 200
        },
        "smithy.api#documentation": "Take a screenshot\n\nTake a screenshot of the entire screen"
      }
    },
    "com.daytona.toolbox#TakeCompressedScreenshotRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "showCursor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "showCursor",
            "smithy.api#documentation": "Whether to show cursor in screenshot"
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "format",
            "smithy.api#documentation": "Image format (png or jpeg)"
          }
        },
        "quality": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "quality",
            "smithy.api#documentation": "JPEG quality (1-100)"
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "scale",
            "smithy.api#documentation": "Scale factor (0.1-1.0)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#TakeCompressedScreenshot": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#TakeCompressedScreenshotRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ScreenshotResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/screenshot/compressed",
          "code": 200
        },
        "smithy.api#documentation": "Take a compressed screenshot\n\nTake a compressed screenshot of the entire screen"
      }
    },
    "com.daytona.toolbox#TakeRegionScreenshotRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "x",
            "smithy.api#required": {},
            "smithy.api#documentation": "X coordinate of the region"
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "y",
            "smithy.api#required": {},
            "smithy.api#documentation": "Y coordinate of the region"
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "width",
            "smithy.api#required": {},
            "smithy.api#documentation": "Width of the region"
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "height",
            "smithy.api#required": {},
            "smithy.api#documentation": "Height of the region"
          }
        },
        "showCursor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "showCursor",
            "smithy.api#documentation": "Whether to show cursor in screenshot"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#TakeRegionScreenshot": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#TakeRegionScreenshotRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ScreenshotResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/screenshot/region",
          "code": 200
        },
        "smithy.api#documentation": "Take a region screenshot\n\nTake a screenshot of a specific region of the screen"
      }
    },
    "com.daytona.toolbox#TakeCompressedRegionScreenshotRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "x",
            "smithy.api#required": {},
            "smithy.api#documentation": "X coordinate of the region"
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "y",
            "smithy.api#required": {},
            "smithy.api#documentation": "Y coordinate of the region"
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "width",
            "smithy.api#required": {},
            "smithy.api#documentation": "Width of the region"
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "height",
            "smithy.api#required": {},
            "smithy.api#documentation": "Height of the region"
          }
        },
        "showCursor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "showCursor",
            "smithy.api#documentation": "Whether to show cursor in screenshot"
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "format",
            "smithy.api#documentation": "Image format (png or jpeg)"
          }
        },
        "quality": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "quality",
            "smithy.api#documentation": "JPEG quality (1-100)"
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "scale",
            "smithy.api#documentation": "Scale factor (0.1-1.0)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#TakeCompressedRegionScreenshot": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#TakeCompressedRegionScreenshotRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ScreenshotResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/screenshot/region/compressed",
          "code": 200
        },
        "smithy.api#documentation": "Take a compressed region screenshot\n\nTake a compressed screenshot of a specific region of the screen"
      }
    },
    "com.daytona.toolbox#StartComputerUseRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ComputerUseStartResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.daytona.toolbox#ComputerUseStartResponseStatusMap"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ProcessStatus": {
      "type": "structure",
      "members": {
        "autoRestart": {
          "target": "smithy.api#Boolean"
        },
        "pid": {
          "target": "smithy.api#Integer"
        },
        "priority": {
          "target": "smithy.api#Integer"
        },
        "running": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ComputerUseStartResponseStatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.daytona.toolbox#ProcessStatus"
      },
      "traits": {}
    },
    "com.daytona.toolbox#StartComputerUse": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#StartComputerUseRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ComputerUseStartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/start",
          "code": 200
        },
        "smithy.api#documentation": "Start computer use processes\n\nStart all computer use processes and return their status"
      }
    },
    "com.daytona.toolbox#GetComputerUseSystemStatusRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#GetComputerUseSystemStatus": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetComputerUseSystemStatusRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ComputerUseStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/computeruse/status",
          "code": 200
        },
        "smithy.api#documentation": "Get computer use status\n\nGet the current status of the computer use system"
      }
    },
    "com.daytona.toolbox#StopComputerUseRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ComputerUseStopResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.daytona.toolbox#ComputerUseStopResponseStatusMap"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ComputerUseStopResponseStatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.daytona.toolbox#ProcessStatus"
      },
      "traits": {}
    },
    "com.daytona.toolbox#StopComputerUse": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#StopComputerUseRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ComputerUseStopResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/computeruse/stop",
          "code": 200
        },
        "smithy.api#documentation": "Stop computer use processes\n\nStop all computer use processes and return their status"
      }
    },
    "com.daytona.toolbox#UpdateEnvRequestSetMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set maps env var names to values applied to the daemon's process env, so\nprocesses spawned after the call (exec, sessions, PTYs) inherit them."
      }
    },
    "com.daytona.toolbox#UpdateEnvRequestUnsetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Unset lists env var names to remove before Set is applied."
      }
    },
    "com.daytona.toolbox#UpdateEnvRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "set": {
          "target": "com.daytona.toolbox#UpdateEnvRequestSetMap",
          "traits": {
            "smithy.api#documentation": "Set maps env var names to values applied to the daemon's process env, so\nprocesses spawned after the call (exec, sessions, PTYs) inherit them."
          }
        },
        "unset": {
          "target": "com.daytona.toolbox#UpdateEnvRequestUnsetList",
          "traits": {
            "smithy.api#documentation": "Unset lists env var names to remove before Set is applied."
          }
        },
        "unsetValuePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UnsetValuePrefix removes every env var whose value has this prefix and\nwhose name is not a key of Set, before Set is applied. Used to reconcile\nsecret placeholder vars without the caller knowing the daemon's env."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#UpdateEnvResponseBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#UpdateEnvResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.toolbox#UpdateEnvResponseBodyMap",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#UpdateEnv": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#UpdateEnvRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#UpdateEnvResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/env",
          "code": 200
        },
        "smithy.api#documentation": "Update process environment\n\nUpdate the daemon's process environment. Newly spawned processes, sessions and PTYs inherit the change; already-running processes keep their environment."
      }
    },
    "com.daytona.toolbox#ListFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#documentation": "Directory path to list (defaults to working directory)"
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "depth",
            "smithy.api#documentation": "How many levels deep to list (default: 1, must be >= 1)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#FileInfo": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDir": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: ModTime uses Go's time.String() layout which is not a standard format.\nUse ModifiedAt instead, which is serialized as ISO 8601 / RFC 3339.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full path of the entry"
          }
        },
        "permissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ListFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#FileInfo"
      },
      "traits": {}
    },
    "com.daytona.toolbox#ListFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.toolbox#ListFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#ListFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#ListFilesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ListFilesResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/files",
          "code": 200
        },
        "smithy.api#documentation": "List files and directories\n\nList files and directories in the specified path. Use the optional depth\nparameter to list recursively: depth=1 (default) lists the directory's\nentries, depth=2 also includes their children, and so on."
      }
    },
    "com.daytona.toolbox#DeleteFileRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "File or directory path to delete"
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recursive",
            "smithy.api#documentation": "Enable recursive deletion for directories"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#DeleteFile": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DeleteFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{sandboxId}/files",
          "code": 200
        },
        "smithy.api#documentation": "Delete a file or directory\n\nDelete a file or directory at the specified path"
      }
    },
    "com.daytona.toolbox#DownloadFilesRequestPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#DownloadFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "paths": {
          "target": "com.daytona.toolbox#DownloadFilesRequestPathsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#GinH": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.daytona.toolbox#DownloadFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.toolbox#GinH",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#DownloadFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DownloadFilesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#DownloadFilesResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/bulk-download",
          "code": 200
        },
        "smithy.api#documentation": "Download multiple files\n\nDownload multiple files by providing their paths. Successful files are returned as multipart parts named `file`. Per-file failures are returned as multipart parts named `error` with JSON payloads shaped like ErrorResponse."
      }
    },
    "com.daytona.toolbox#UploadFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#UploadFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#UploadFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/bulk-upload",
          "code": 200
        },
        "smithy.api#documentation": "Upload multiple files\n\nUpload multiple files with their destination paths"
      }
    },
    "com.daytona.toolbox#DownloadFileRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "File path to download"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#DownloadFileResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#DownloadFile": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DownloadFileRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#DownloadFileResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/files/download",
          "code": 200
        },
        "smithy.api#documentation": "Download a file\n\nDownload a file by providing its path"
      }
    },
    "com.daytona.toolbox#FindInFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Directory path to search in"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pattern",
            "smithy.api#required": {},
            "smithy.api#documentation": "Text pattern to search for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#Match": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#FindInFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#Match"
      },
      "traits": {}
    },
    "com.daytona.toolbox#FindInFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.toolbox#FindInFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#FindInFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#FindInFilesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#FindInFilesResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/files/find",
          "code": 200
        },
        "smithy.api#documentation": "Find text in files\n\nSearch for text pattern within files in a directory"
      }
    },
    "com.daytona.toolbox#CreateFolderRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Folder path to create"
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "mode",
            "smithy.api#required": {},
            "smithy.api#documentation": "Octal permission mode (default: 0755)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#CreateFolder": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#CreateFolderRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/folder",
          "code": 200
        },
        "smithy.api#documentation": "Create a folder\n\nCreate a folder with the specified path and optional permissions"
      }
    },
    "com.daytona.toolbox#GetFileInfoRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "File or directory path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#GetFileInfo": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#GetFileInfoRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#FileInfo"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/files/info",
          "code": 200
        },
        "smithy.api#documentation": "Get file information\n\nGet detailed information about a file or directory"
      }
    },
    "com.daytona.toolbox#MoveFileRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source",
            "smithy.api#required": {},
            "smithy.api#documentation": "Source file or directory path"
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "destination",
            "smithy.api#required": {},
            "smithy.api#documentation": "Destination file or directory path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#MoveFile": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#MoveFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        },
        {
          "target": "com.daytona.toolbox#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/move",
          "code": 200
        },
        "smithy.api#documentation": "Move or rename file/directory\n\nMove or rename a file or directory from source to destination"
      }
    },
    "com.daytona.toolbox#SetFilePermissionsRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "File or directory path"
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "owner",
            "smithy.api#documentation": "Owner (username or UID)"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group",
            "smithy.api#documentation": "Group (group name or GID)"
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "mode",
            "smithy.api#documentation": "File mode in octal format (e.g., 0755)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#SetFilePermissions": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#SetFilePermissionsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Forbidden"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/permissions",
          "code": 200
        },
        "smithy.api#documentation": "Set file permissions\n\nSet file permissions, ownership, and group for a file or directory"
      }
    },
    "com.daytona.toolbox#ReplaceInFilesRequestFilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#ReplaceInFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "files": {
          "target": "com.daytona.toolbox#ReplaceInFilesRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ReplaceResult": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String"
        },
        "file": {
          "target": "smithy.api#String"
        },
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ReplaceInFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.toolbox#ReplaceResult"
      },
      "traits": {}
    },
    "com.daytona.toolbox#ReplaceInFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.toolbox#ReplaceInFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.toolbox#ReplaceInFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#ReplaceInFilesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ReplaceInFilesResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/replace",
          "code": 200
        },
        "smithy.api#documentation": "Replace text in files\n\nReplace text pattern with new value in multiple files"
      }
    },
    "com.daytona.toolbox#SearchFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Directory path to search in"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pattern",
            "smithy.api#required": {},
            "smithy.api#documentation": "File pattern to match (e.g., *.txt, *.go)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#SearchFilesResponse": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.daytona.toolbox#SearchFilesResponseFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#SearchFilesResponseFilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#SearchFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#SearchFilesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#SearchFilesResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/files/search",
          "code": 200
        },
        "smithy.api#documentation": "Search files by pattern\n\nSearch for files matching a specific pattern in a directory"
      }
    },
    "com.daytona.toolbox#UploadFileRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Destination path for the uploaded file"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#UploadedFile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#UploadFile": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#UploadFileRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#UploadedFile"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/files/upload-v2",
          "code": 200
        },
        "smithy.api#documentation": "Upload a file\n\nUpload a file to the specified path. Accepts either multipart/form-data\n(field \"file\") or a raw request body (e.g. application/octet-stream).\nParent directories are created if missing; an existing file is overwritten."
      }
    },
    "com.daytona.toolbox#AddFilesRequestFilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "files to add (use . for all files)"
      }
    },
    "com.daytona.toolbox#AddFilesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "files": {
          "target": "com.daytona.toolbox#AddFilesRequestFilesList",
          "traits": {
            "smithy.api#documentation": "files to add (use . for all files)",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#AddFiles": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#AddFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/git/add",
          "code": 200
        },
        "smithy.api#documentation": "Add files to Git staging\n\nAdd files to the Git staging area"
      }
    },
    "com.daytona.toolbox#ListBranchesRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Repository path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#ListBranchResponse": {
      "type": "structure",
      "members": {
        "branches": {
          "target": "com.daytona.toolbox#ListBranchResponseBranchesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current is the name of the checked out branch (empty when HEAD is detached)."
          }
        }
      },
      "traits": {}
    },
    "com.daytona.toolbox#ListBranchResponseBranchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.daytona.toolbox#ListBranches": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#ListBranchesRequest"
      },
      "output": {
        "target": "com.daytona.toolbox#ListBranchResponse"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{sandboxId}/git/branches",
          "code": 200
        },
        "smithy.api#documentation": "List branches\n\nGet a list of all branches in the Git repository"
      }
    },
    "com.daytona.toolbox#CreateBranchRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#CreateBranch": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#CreateBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/git/branches",
          "code": 200
        },
        "smithy.api#documentation": "Create a new branch\n\nCreate a new branch in the Git repository"
      }
    },
    "com.daytona.toolbox#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#DeleteBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{sandboxId}/git/branches",
          "code": 200
        },
        "smithy.api#documentation": "Delete a branch\n\nDelete a branch from the Git repository"
      }
    },
    "com.daytona.toolbox#CheckoutBranchRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.toolbox#CheckoutBranch": {
      "type": "operation",
      "input": {
        "target": "com.daytona.toolbox#CheckoutBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.daytona.toolbox#BadRequest"
        },
        {
          "target": "com.daytona.toolbox#NotFound"
        },
        {
          "target": "com.daytona.toolbox#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{sandboxId}/git/checkout",
          "code": 200
        },
        "smithy.api#documentation": "Checkout branch or commit\n\nSwitch to a different branch or commit in the Git repository"
      }
    },
    "com.daytona.toolbox#CloneRepositoryRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox ID the toolbox request targets"
          }
        },
        "branch": {
          "target": "smithy.api#String"
        },
        "commit_id": {
          "target": "smithy.api#String"
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Depth creates a shallow clone truncated to the given number of commits."
          }
        },
        "insecure_skip_tls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Skip TLS certificate verification for this clone. Defaults to false (verify).\nSet to true ONLY for trusted internal Git servers with self-signed or\nprivate-CA certs; credentials, if supplied, will be transmitted over an\nunverified TLS connection and are exposed to any MITM on the route."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
[...]
