{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.e2b.auth#Team": {
      "type": "structure",
      "members": {
        "teamID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the team",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the team",
            "smithy.api#required": {}
          }
        },
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API key for the team",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the team is the default team",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.e2b.auth#ListTeamsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.e2b.auth#Team"
      },
      "traits": {}
    },
    "com.e2b.auth#ListTeamsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.e2b.auth#ListTeamsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.auth#ListTeams": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.e2b.auth#ListTeamsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/teams",
          "code": 200
        },
        "smithy.api#documentation": "List teams\n\nList all teams"
      }
    },
    "com.e2b.auth#ListTeamMetricsRequest": {
      "type": "structure",
      "members": {
        "teamID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "start",
            "smithy.api#documentation": "Unix timestamp for the start of the interval, in seconds, for which the metrics"
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "end"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.auth#TeamMetric": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the metric entry",
            "smithy.api#required": {}
          }
        },
        "timestampUnix": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of the metric entry in Unix time (seconds since epoch)",
            "smithy.api#required": {}
          }
        },
        "concurrentSandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of concurrent sandboxes for the team",
            "smithy.api#required": {}
          }
        },
        "sandboxStartRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of sandboxes started per second",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Team metric with timestamp"
      }
    },
    "com.e2b.auth#ListTeamMetricsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.e2b.auth#TeamMetric"
      },
      "traits": {}
    },
    "com.e2b.auth#ListTeamMetricsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.e2b.auth#ListTeamMetricsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.auth#ListTeamMetrics": {
      "type": "operation",
      "input": {
        "target": "com.e2b.auth#ListTeamMetricsRequest"
      },
      "output": {
        "target": "com.e2b.auth#ListTeamMetricsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/teams/{teamID}/metrics",
          "code": 200
        },
        "smithy.api#documentation": "Team metrics\n\nGet metrics for the team"
      }
    },
    "com.e2b.auth#GetTeamMetricsMaxRequestMetric": {
      "type": "enum",
      "members": {
        "CONCURRENT_SANDBOXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "concurrent_sandboxes"
          }
        },
        "SANDBOX_START_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox_start_rate"
          }
        }
      },
      "traits": {}
    },
    "com.e2b.auth#GetTeamMetricsMaxRequest": {
      "type": "structure",
      "members": {
        "teamID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "start",
            "smithy.api#documentation": "Unix timestamp for the start of the interval, in seconds, for which the metrics"
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "end"
          }
        },
        "metric": {
          "target": "com.e2b.auth#GetTeamMetricsMaxRequestMetric",
          "traits": {
            "smithy.api#httpQuery": "metric",
            "smithy.api#required": {},
            "smithy.api#documentation": "Metric to retrieve the maximum value for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.auth#MaxTeamMetric": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the metric entry",
            "smithy.api#required": {}
          }
        },
        "timestampUnix": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of the metric entry in Unix time (seconds since epoch)",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value of the requested metric in the given interval",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Team metric with timestamp"
      }
    },
    "com.e2b.auth#GetTeamMetricsMax": {
      "type": "operation",
      "input": {
        "target": "com.e2b.auth#GetTeamMetricsMaxRequest"
      },
      "output": {
        "target": "com.e2b.auth#MaxTeamMetric"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/teams/{teamID}/metrics/max",
          "code": 200
        },
        "smithy.api#documentation": "Maximum team metrics\n\nGet the maximum metrics for the team in the given interval"
      }
    },
    "com.e2b.auth#Auth": {
      "type": "service",
      "version": "0.1.0",
      "operations": [
        {
          "target": "com.e2b.auth#ListTeams"
        },
        {
          "target": "com.e2b.auth#ListTeamMetrics"
        },
        {
          "target": "com.e2b.auth#GetTeamMetricsMax"
        }
      ],
      "traits": {
        "smithy.api#title": "E2B API"
      }
    }
  }
}
