{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.e2b.envd.filesystem#StatRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#EntryInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "type": {
          "target": "com.e2b.envd.filesystem#FileType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "FILE_TYPE_UNSPECIFIED": 0,
                "FILE_TYPE_FILE": 1,
                "FILE_TYPE_DIRECTORY": 2,
                "FILE_TYPE_SYMLINK": 3
              }
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int64"
            }
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        },
        "permissions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "symlinkTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the entry is a symlink, this field contains the target of the symlink.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.e2b.envd.filesystem#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined metadata stored as extended attributes (xattrs) on the file. Keys live under the `user.e2b.` xattr namespace; the prefix is stripped here. Plain `user.*` xattrs written by other tooling are not reflected.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.e2b.envd.filesystem#FileType": {
      "type": "enum",
      "members": {
        "FILE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_TYPE_UNSPECIFIED"
          }
        },
        "FILE_TYPE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_TYPE_FILE"
          }
        },
        "FILE_TYPE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_TYPE_DIRECTORY"
          }
        },
        "FILE_TYPE_SYMLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_TYPE_SYMLINK"
          }
        }
      }
    },
    "com.e2b.envd.filesystem#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.e2b.envd.filesystem#StatResponse": {
      "type": "structure",
      "members": {
        "entry": {
          "target": "com.e2b.envd.filesystem#EntryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#Stat": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#StatRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#StatResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/Stat",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#MakeDirRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#MakeDirResponse": {
      "type": "structure",
      "members": {
        "entry": {
          "target": "com.e2b.envd.filesystem#EntryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#MakeDir": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#MakeDirRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#MakeDirResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/MakeDir",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#MoveRequest": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#MoveResponse": {
      "type": "structure",
      "members": {
        "entry": {
          "target": "com.e2b.envd.filesystem#EntryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#Move": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#MoveRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#MoveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/Move",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#ListDirRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#EntryInfoList": {
      "type": "list",
      "member": {
        "target": "com.e2b.envd.filesystem#EntryInfo"
      }
    },
    "com.e2b.envd.filesystem#ListDirResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.e2b.envd.filesystem#EntryInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#ListDir": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#ListDirRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#ListDirResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/ListDir",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#RemoveRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#RemoveResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#Remove": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#RemoveRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#RemoveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/Remove",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#WatchDirRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "includeEntry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, each FilesystemEvent includes the EntryInfo of the affected entry, when available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "allowNetworkMounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows watching paths on network filesystem mounts (NFS, CIFS, SMB, FUSE). Events on network mounts may be unreliable or not delivered at all.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#WatchDirResponseStartEvent": {
      "type": "structure",
      "members": {}
    },
    "com.e2b.envd.filesystem#FilesystemEvent": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "type": {
          "target": "com.e2b.envd.filesystem#EventType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "EVENT_TYPE_UNSPECIFIED": 0,
                "EVENT_TYPE_CREATE": 1,
                "EVENT_TYPE_WRITE": 2,
                "EVENT_TYPE_REMOVE": 3,
                "EVENT_TYPE_RENAME": 4,
                "EVENT_TYPE_CHMOD": 5
              }
            }
          }
        },
        "entry": {
          "target": "com.e2b.envd.filesystem#EntryInfo",
          "traits": {
            "smithy.api#documentation": "Info of the entry that triggered the event. Only populated when include_entry was requested and the entry could be stat-ed (e.g. not set for remove/rename-away events, where the entry no longer exists at this path).",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.e2b.envd.filesystem#EventType": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "EVENT_TYPE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_CREATE"
          }
        },
        "EVENT_TYPE_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_WRITE"
          }
        },
        "EVENT_TYPE_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_REMOVE"
          }
        },
        "EVENT_TYPE_RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_RENAME"
          }
        },
        "EVENT_TYPE_CHMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_CHMOD"
          }
        }
      }
    },
    "com.e2b.envd.filesystem#WatchDirResponseKeepAlive": {
      "type": "structure",
      "members": {}
    },
    "com.e2b.envd.filesystem#WatchDirResponse": {
      "type": "structure",
      "members": {
        "start": {
          "target": "com.e2b.envd.filesystem#WatchDirResponseStartEvent",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "filesystem": {
          "target": "com.e2b.envd.filesystem#FilesystemEvent",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "keepalive": {
          "target": "com.e2b.envd.filesystem#WatchDirResponseKeepAlive",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#WatchDir": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#WatchDirRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#WatchDirResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/WatchDir",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.e2b.envd.filesystem#CreateWatcherRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "includeEntry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, each FilesystemEvent includes the EntryInfo of the affected entry, when available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "allowNetworkMounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows watching paths on network filesystem mounts (NFS, CIFS, SMB, FUSE). Events on network mounts may be unreliable or not delivered at all.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#CreateWatcherResponse": {
      "type": "structure",
      "members": {
        "watcherId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#CreateWatcher": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#CreateWatcherRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#CreateWatcherResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/CreateWatcher",
          "code": 200
        },
        "smithy.api#documentation": "Non-streaming versions of WatchDir"
      }
    },
    "com.e2b.envd.filesystem#GetWatcherEventsRequest": {
      "type": "structure",
      "members": {
        "watcherId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#FilesystemEventList": {
      "type": "list",
      "member": {
        "target": "com.e2b.envd.filesystem#FilesystemEvent"
      }
    },
    "com.e2b.envd.filesystem#GetWatcherEventsResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.e2b.envd.filesystem#FilesystemEventList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#GetWatcherEvents": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#GetWatcherEventsRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#GetWatcherEventsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/GetWatcherEvents",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#RemoveWatcherRequest": {
      "type": "structure",
      "members": {
        "watcherId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.envd.filesystem#RemoveWatcherResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.envd.filesystem#RemoveWatcher": {
      "type": "operation",
      "input": {
        "target": "com.e2b.envd.filesystem#RemoveWatcherRequest"
      },
      "output": {
        "target": "com.e2b.envd.filesystem#RemoveWatcherResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filesystem.Filesystem/RemoveWatcher",
          "code": 200
        }
      }
    },
    "com.e2b.envd.filesystem#FilesystemService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.e2b.envd.filesystem#Stat"
        },
        {
          "target": "com.e2b.envd.filesystem#MakeDir"
        },
        {
          "target": "com.e2b.envd.filesystem#Move"
        },
        {
          "target": "com.e2b.envd.filesystem#ListDir"
        },
        {
          "target": "com.e2b.envd.filesystem#Remove"
        },
        {
          "target": "com.e2b.envd.filesystem#WatchDir"
        },
        {
          "target": "com.e2b.envd.filesystem#CreateWatcher"
        },
        {
          "target": "com.e2b.envd.filesystem#GetWatcherEvents"
        },
        {
          "target": "com.e2b.envd.filesystem#RemoveWatcher"
        }
      ],
      "traits": {
        "smithy.api#title": "E2B envd Filesystem",
        "smithy.api#documentation": "filesystem.Filesystem — Connect-RPC service served by envd inside each sandbox. Unary calls are POSTs with an application/proto body; server-streaming calls are application/connect+proto envelopes. Requests route to the sandbox's envd URL with X-Access-Token auth."
      }
    }
  }
}
