{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.e2b.secrets#ListSecretsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#documentation": "Cursor to start the list from"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of items to return per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.secrets#Secret": {
      "type": "structure",
      "members": {
        "secretID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the secret",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret, unique within the project",
            "smithy.api#required": {}
          }
        },
        "currentVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version served to readers that do not name one",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.e2b.secrets#SecretMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the secret was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the secret was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a secret. It never carries the secret value."
      }
    },
    "com.e2b.secrets#SecretMetadata": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Customer metadata of the secret. Always present, empty when unset. At most 32 entries; keys are limited to 128 bytes, values to 1024 bytes, and a secret's metadata to 8192 bytes in total.\n"
      }
    },
    "com.e2b.secrets#ListSecretsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.e2b.secrets#Secret"
      },
      "traits": {}
    },
    "com.e2b.secrets#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "secrets": {
          "target": "com.e2b.secrets#ListSecretsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Next-Token"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.e2b.secrets#ListSecrets": {
      "type": "operation",
      "input": {
        "target": "com.e2b.secrets#ListSecretsRequest"
      },
      "output": {
        "target": "com.e2b.secrets#ListSecretsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List project secrets\n\nList the project's secrets. No response carries a secret value.",
        "smithy.api#paginated": {
          "mode": "token",
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "secrets"
        }
      }
    },
    "com.e2b.secrets#CreateSecretRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret, unique within the project. Names are lower-cased before storage and returned in that canonical form; the sec_ prefix is reserved for secret identifiers.\n",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runtime marker stored as the secret's first version. The runtime resolves it to a value at sandbox egress.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.e2b.secrets#SecretMetadata"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.secrets#CreateSecret": {
      "type": "operation",
      "input": {
        "target": "com.e2b.secrets#CreateSecretRequest"
      },
      "output": {
        "target": "com.e2b.secrets#Secret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Create a secret\n\nCreate a secret by storing a runtime marker as its first version. The response carries metadata only."
      }
    },
    "com.e2b.secrets#GetSecretRequest": {
      "type": "structure",
      "members": {
        "secretID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.secrets#GetSecret": {
      "type": "operation",
      "input": {
        "target": "com.e2b.secrets#GetSecretRequest"
      },
      "output": {
        "target": "com.e2b.secrets#Secret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/secrets/{secretID}",
          "code": 200
        },
        "smithy.api#documentation": "Get a secret\n\nGet one secret's metadata, selected by identifier or name."
      }
    },
    "com.e2b.secrets#UpdateSecretRequest": {
      "type": "structure",
      "members": {
        "secretID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runtime marker stored as the secret's new version. The runtime resolves it to a value at sandbox egress.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.e2b.secrets#SecretMetadata"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.secrets#UpdateSecret": {
      "type": "operation",
      "input": {
        "target": "com.e2b.secrets#UpdateSecretRequest"
      },
      "output": {
        "target": "com.e2b.secrets#Secret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/secrets/{secretID}",
          "code": 200
        },
        "smithy.api#documentation": "Update a secret\n\nReplace the secret's stored marker by appending a new version. The response carries metadata only."
      }
    },
    "com.e2b.secrets#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "secretID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.e2b.secrets#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.e2b.secrets#DeleteSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/secrets/{secretID}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a secret\n\nRevoke the secret and schedule its versions for cleanup."
      }
    },
    "com.e2b.secrets#Secrets": {
      "type": "service",
      "version": "0.1.0",
      "operations": [
        {
          "target": "com.e2b.secrets#ListSecrets"
        },
        {
          "target": "com.e2b.secrets#CreateSecret"
        },
        {
          "target": "com.e2b.secrets#GetSecret"
        },
        {
          "target": "com.e2b.secrets#UpdateSecret"
        },
        {
          "target": "com.e2b.secrets#DeleteSecret"
        }
      ],
      "traits": {
        "smithy.api#title": "E2B API"
      }
    }
  }
}
