{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.app#AppDisconnectReason": {
      "type": "enum",
      "members": {
        "APP_DISCONNECT_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DISCONNECT_REASON_UNSPECIFIED"
          }
        },
        "APP_DISCONNECT_REASON_LOCAL_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DISCONNECT_REASON_LOCAL_EXCEPTION"
          }
        },
        "APP_DISCONNECT_REASON_KEYBOARD_INTERRUPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DISCONNECT_REASON_KEYBOARD_INTERRUPT"
          }
        },
        "APP_DISCONNECT_REASON_ENTRYPOINT_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DISCONNECT_REASON_ENTRYPOINT_COMPLETED"
          }
        },
        "APP_DISCONNECT_REASON_DEPLOYMENT_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DISCONNECT_REASON_DEPLOYMENT_EXCEPTION"
          }
        },
        "APP_DISCONNECT_REASON_REMOTE_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DISCONNECT_REASON_REMOTE_EXCEPTION"
          }
        }
      }
    },
    "com.modal.app#DisconnectAppClientRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "reason": {
          "target": "com.modal.app#AppDisconnectReason",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "APP_DISCONNECT_REASON_UNSPECIFIED": 0,
                "APP_DISCONNECT_REASON_LOCAL_EXCEPTION": 1,
                "APP_DISCONNECT_REASON_KEYBOARD_INTERRUPT": 2,
                "APP_DISCONNECT_REASON_ENTRYPOINT_COMPLETED": 3,
                "APP_DISCONNECT_REASON_DEPLOYMENT_EXCEPTION": 4,
                "APP_DISCONNECT_REASON_REMOTE_EXCEPTION": 5
              }
            }
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#DisconnectAppClient": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#DisconnectAppClientRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppClientDisconnect",
          "code": 200
        },
        "smithy.api#documentation": "Apps"
      }
    },
    "com.modal.app#FileDescriptor": {
      "type": "enum",
      "members": {
        "FILE_DESCRIPTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_UNSPECIFIED"
          }
        },
        "FILE_DESCRIPTOR_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_STDOUT"
          }
        },
        "FILE_DESCRIPTOR_STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_STDERR"
          }
        },
        "FILE_DESCRIPTOR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_INFO"
          }
        }
      }
    },
    "com.modal.app#AppCountLogsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "searchText": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "since": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "until": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "bucketSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "uint32"
            }
          }
        },
        "source": {
          "target": "com.modal.app#FileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "parametrizedFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict logs to this exact Function ID, including when it is the base Function.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppCountLogsResponseLogBucket": {
      "type": "structure",
      "members": {
        "bucketStartAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "stdoutLogs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "stderrLogs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "systemLogs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        }
      }
    },
    "com.modal.app#AppCountLogsResponseLogBucketList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#AppCountLogsResponseLogBucket"
      }
    },
    "com.modal.app#AppCountLogsResponse": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "buckets": {
          "target": "com.modal.app#AppCountLogsResponseLogBucketList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppCountLogs": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppCountLogsRequest"
      },
      "output": {
        "target": "com.modal.app#AppCountLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppCountLogs",
          "code": 200
        }
      }
    },
    "com.modal.app#AppState": {
      "type": "enum",
      "members": {
        "APP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_UNSPECIFIED"
          }
        },
        "APP_STATE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_EPHEMERAL",
            "smithy.api#documentation": "Will be discharged when the client disconnects"
          }
        },
        "APP_STATE_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DETACHED"
          }
        },
        "APP_STATE_DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DEPLOYED",
            "smithy.api#documentation": "Will be discharged when overwritten"
          }
        },
        "APP_STATE_STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_STOPPING",
            "smithy.api#documentation": "Winding down app due to user termination."
          }
        },
        "APP_STATE_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_STOPPED",
            "smithy.api#documentation": "Stopped"
          }
        },
        "APP_STATE_INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_INITIALIZING",
            "smithy.api#documentation": "App is created and in process of deployment."
          }
        },
        "APP_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DISABLED",
            "smithy.api#documentation": "Same as stopped but prevented from being garbage collected"
          }
        },
        "APP_STATE_DETACHED_DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DETACHED_DISCONNECTED",
            "smithy.api#documentation": "App is detached and local client has disconnected."
          }
        },
        "APP_STATE_DERIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DERIVED",
            "smithy.api#documentation": "App is derived from another workspace. Acts as a static, immutable group of functions.",
            "smithy.api#deprecated": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NOTE: make sure to update the frontend if we add a new state here https://github.com/modal-labs/modal/blob/main/frontend/src/routes/(dashboard)/%5B%5Bworkspace%5D%5D/apps/+page.svelte#L95"
      }
    },
    "com.modal.app#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.app#CreateAppRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable label for the app",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "appState": {
          "target": "com.modal.app#AppState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "APP_STATE_UNSPECIFIED": 0,
                "APP_STATE_EPHEMERAL": 1,
                "APP_STATE_DETACHED": 2,
                "APP_STATE_DEPLOYED": 3,
                "APP_STATE_STOPPING": 4,
                "APP_STATE_STOPPED": 5,
                "APP_STATE_INITIALIZING": 6,
                "APP_STATE_DISABLED": 7,
                "APP_STATE_DETACHED_DISCONNECTED": 8,
                "APP_STATE_DERIVED": 9
              }
            }
          }
        },
        "tags": {
          "target": "com.modal.app#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#CreateAppResponse": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "appPageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "appLogsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#CreateAppRequest"
      },
      "output": {
        "target": "com.modal.app#CreateAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppCreate",
          "code": 200
        }
      }
    },
    "com.modal.app#AppDeployVisibility": {
      "type": "enum",
      "members": {
        "APP_DEPLOY_VISIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DEPLOY_VISIBILITY_UNSPECIFIED"
          }
        },
        "APP_DEPLOY_VISIBILITY_WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DEPLOY_VISIBILITY_WORKSPACE"
          }
        },
        "APP_DEPLOY_VISIBILITY_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_DEPLOY_VISIBILITY_PUBLIC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "gRPC protos for Modal's public API surface. Warning: direct usage of Modal's gRPC API is discouraged, and no support or compatibility guarantees are provided. Message fields or entire RPCs may be changed or removed without notice. We recommend using official SDKs instead."
      }
    },
    "com.modal.app#DeployAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "namespace",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "objectEntity": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "visibility": {
          "target": "com.modal.app#AppDeployVisibility",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "APP_DEPLOY_VISIBILITY_UNSPECIFIED": 0,
                "APP_DEPLOY_VISIBILITY_WORKSPACE": 1,
                "APP_DEPLOY_VISIBILITY_PUBLIC": 2
              }
            }
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#DeployAppResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#DeployApp": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#DeployAppRequest"
      },
      "output": {
        "target": "com.modal.app#DeployAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppDeploy",
          "code": 200
        }
      }
    },
    "com.modal.app#AppDeploymentHistoryRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppDeploymentHistory2": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "clientVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "deployedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "double"
            }
          }
        },
        "deployedBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "deployedByAvatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "rollbackVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "uint32"
            }
          }
        },
        "rollbackAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        },
        "commitInfo": {
          "target": "com.modal.app#CommitInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "message"
            }
          }
        },
        "deploymentType": {
          "target": "com.modal.app#DeploymentType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "enum",
              "e": {
                "DEPLOYMENT_TYPE_UNSPECIFIED": 0,
                "DEPLOYMENT_TYPE_STANDARD": 1,
                "DEPLOYMENT_TYPE_ROLLBACK": 2,
                "DEPLOYMENT_TYPE_ROLLOVER": 3,
                "DEPLOYMENT_TYPE_PROMOTION": 4,
                "DEPLOYMENT_TYPE_STAGED": 5
              }
            }
          }
        }
      }
    },
    "com.modal.app#CommitInfo": {
      "type": "structure",
      "members": {
        "vcs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only git is supported for now",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "commitHash": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "commitTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int64"
            }
          }
        },
        "dirty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        },
        "authorName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "authorEmail": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "repoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#DeploymentType": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_UNSPECIFIED"
          }
        },
        "DEPLOYMENT_TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_STANDARD"
          }
        },
        "DEPLOYMENT_TYPE_ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_ROLLBACK"
          }
        },
        "DEPLOYMENT_TYPE_ROLLOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_ROLLOVER"
          }
        },
        "DEPLOYMENT_TYPE_PROMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_PROMOTION"
          }
        },
        "DEPLOYMENT_TYPE_STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_STAGED"
          }
        }
      }
    },
    "com.modal.app#AppDeploymentHistory2List": {
      "type": "list",
      "member": {
        "target": "com.modal.app#AppDeploymentHistory2"
      }
    },
    "com.modal.app#AppDeploymentHistoryResponse": {
      "type": "structure",
      "members": {
        "appDeploymentHistories": {
          "target": "com.modal.app#AppDeploymentHistory2List",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "productionAppVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppDeploymentHistory": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppDeploymentHistoryRequest"
      },
      "output": {
        "target": "com.modal.app#AppDeploymentHistoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppDeploymentHistory",
          "code": 200
        }
      }
    },
    "com.modal.app#AppFetchLogsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "since": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "until": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint32"
            }
          }
        },
        "source": {
          "target": "com.modal.app#FileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "searchText": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "parametrizedFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict logs to this exact Function ID, including when it is the base Function.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#TaskLogsBatch": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "items": {
          "target": "com.modal.app#TaskLogsList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "entryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "appDone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "string"
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Used for image logs",
            "com.distilled.proto#field": {
              "n": 14,
              "t": "bool"
            }
          }
        },
        "ptyExecId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "string"
            }
          }
        },
        "rootFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used for interactive functions",
            "com.distilled.proto#field": {
              "n": 16,
              "t": "string"
            }
          }
        },
        "ttlDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.app#TaskLogs": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskState": {
          "target": "com.modal.app#TaskState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "TASK_STATE_UNSPECIFIED": 0,
                "TASK_STATE_CREATED": 6,
                "TASK_STATE_QUEUED": 1,
                "TASK_STATE_WORKER_ASSIGNED": 2,
                "TASK_STATE_LOADING_IMAGE": 3,
                "TASK_STATE_ACTIVE": 4,
                "TASK_STATE_COMPLETED": 5,
                "TASK_STATE_CREATING_CONTAINER": 7,
                "TASK_STATE_IDLE": 8,
                "TASK_STATE_PREEMPTIBLE": 9,
                "TASK_STATE_PREEMPTED": 10,
                "TASK_STATE_LOADING_CHECKPOINT_IMAGE": 11
              }
            }
          }
        },
        "timestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "fileDescriptor": {
          "target": "com.modal.app#FileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "taskProgress": {
          "target": "com.modal.app#TaskProgress",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "timestampNs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "uint64"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#TaskState": {
      "type": "enum",
      "members": {
        "TASK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_UNSPECIFIED"
          }
        },
        "TASK_STATE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CREATED"
          }
        },
        "TASK_STATE_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_QUEUED"
          }
        },
        "TASK_STATE_WORKER_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_WORKER_ASSIGNED"
          }
        },
        "TASK_STATE_LOADING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_LOADING_IMAGE"
          }
        },
        "TASK_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_ACTIVE"
          }
        },
        "TASK_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_COMPLETED"
          }
        },
        "TASK_STATE_CREATING_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CREATING_CONTAINER"
          }
        },
        "TASK_STATE_IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_IDLE"
          }
        },
        "TASK_STATE_PREEMPTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_PREEMPTIBLE"
          }
        },
        "TASK_STATE_PREEMPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_PREEMPTED"
          }
        },
        "TASK_STATE_LOADING_CHECKPOINT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_LOADING_CHECKPOINT_IMAGE"
          }
        }
      }
    },
    "com.modal.app#TaskProgress": {
      "type": "structure",
      "members": {
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint64"
            }
          }
        },
        "pos": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "progressType": {
          "target": "com.modal.app#ProgressType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "IMAGE_SNAPSHOT_UPLOAD": 0,
                "FUNCTION_QUEUED": 1
              }
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#ProgressType": {
      "type": "enum",
      "members": {
        "IMAGE_SNAPSHOT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SNAPSHOT_UPLOAD"
          }
        },
        "FUNCTION_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_QUEUED",
            "smithy.api#documentation": "TODO(erikbern): shouldn't be zero, and needs prefix"
          }
        }
      }
    },
    "com.modal.app#TaskLogsList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#TaskLogs"
      }
    },
    "com.modal.app#TaskLogsBatchList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#TaskLogsBatch"
      }
    },
    "com.modal.app#AppFetchLogsResponse": {
      "type": "structure",
      "members": {
        "batches": {
          "target": "com.modal.app#TaskLogsBatchList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppFetchLogs": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppFetchLogsRequest"
      },
      "output": {
        "target": "com.modal.app#AppFetchLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppFetchLogs",
          "code": 200
        }
      }
    },
    "com.modal.app#AppGetByDeploymentNameRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "removed namespace",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppLifecycle": {
      "type": "structure",
      "members": {
        "appState": {
          "target": "com.modal.app#AppState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "APP_STATE_UNSPECIFIED": 0,
                "APP_STATE_EPHEMERAL": 1,
                "APP_STATE_DETACHED": 2,
                "APP_STATE_DEPLOYED": 3,
                "APP_STATE_STOPPING": 4,
                "APP_STATE_STOPPED": 5,
                "APP_STATE_INITIALIZING": 6,
                "APP_STATE_DISABLED": 7,
                "APP_STATE_DETACHED_DISCONNECTED": 8,
                "APP_STATE_DERIVED": 9
              }
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "deployedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "User or service user name",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "double"
            }
          }
        },
        "deployedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent deployment event",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "User or service user name",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "int32"
            }
          }
        },
        "stoppedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Only meaningful when App is deployed",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "stoppedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unset when App is still running",
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "tag -> class id"
      }
    },
    "com.modal.app#AppGetByDeploymentNameResponse": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "previousAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Null when App with requested name is not deployed",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Populated if App with requested name was recently stopped",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "lifecycle": {
          "target": "com.modal.app#AppLifecycle",
          "traits": {
            "smithy.api#documentation": "Populated because server may resolve default environment",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetByDeploymentName": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetByDeploymentNameRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetByDeploymentNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetByDeploymentName",
          "code": 200
        }
      }
    },
    "com.modal.app#AppGetInfoRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppHandleMetadata": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "lifecycle": {
          "target": "com.modal.app#AppLifecycle",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "functions": {
          "target": "com.modal.app#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "servers": {
          "target": "com.modal.app#StringMap",
          "traits": {
            "smithy.api#documentation": "tag -> function id",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.modal.app#AppGetInfoResponse": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.modal.app#AppHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetInfo": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetInfoRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetInfo",
          "code": 200
        }
      }
    },
    "com.modal.app#AppGetLayoutRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppLayout": {
      "type": "structure",
      "members": {
        "objects": {
          "target": "com.modal.app#ObjectList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "functionIds": {
          "target": "com.modal.app#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "classIds": {
          "target": "com.modal.app#StringMap",
          "traits": {
            "smithy.api#documentation": "tag -> function id",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.modal.app#Object": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionHandleMetadata": {
          "target": "com.modal.app#FunctionHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "mountHandleMetadata": {
          "target": "com.modal.app#MountHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "classHandleMetadata": {
          "target": "com.modal.app#ClassHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        },
        "sandboxHandleMetadata": {
          "target": "com.modal.app#SandboxHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message"
            }
          }
        },
        "volumeMetadata": {
          "target": "com.modal.app#VolumeMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#FunctionHandleMetadata": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains all the info about a function that is needed to trigger the right behaviour when using a FunctionHandler. Notably excludes things purely used for *executing* the function in a container entrypoint Should be a subset and use IDs/types from `Function` above",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionType": {
          "target": "com.modal.app#FunctionFunctionType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FUNCTION_TYPE_UNSPECIFIED": 0,
                "FUNCTION_TYPE_GENERATOR": 1,
                "FUNCTION_TYPE_FUNCTION": 2
              }
            }
          }
        },
        "webUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 28,
              "t": "string"
            }
          }
        },
        "isMethod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 39,
              "t": "bool"
            }
          }
        },
        "useFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 40,
              "t": "string"
            }
          }
        },
        "useMethodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "used for methods",
            "com.distilled.proto#field": {
              "n": 41,
              "t": "string"
            }
          }
        },
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "used for methods",
            "com.distilled.proto#field": {
              "n": 42,
              "t": "string"
            }
          }
        },
        "classParameterInfo": {
          "target": "com.modal.app#ClassParameterInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 43,
              "t": "message"
            }
          }
        },
        "methodHandleMetadata": {
          "target": "com.modal.app#FunctionHandleMetadataMap",
          "traits": {
            "smithy.api#documentation": "Mapping of method names to their metadata, only non-empty for class service functions",
            "com.distilled.proto#field": {
              "n": 44,
              "t": "map",
              "k": "string",
              "v": {
                "t": "message"
              }
            }
          }
        },
        "functionSchema": {
          "target": "com.modal.app#FunctionSchema",
          "traits": {
            "com.distilled.proto#field": {
              "n": 45,
              "t": "message"
            }
          }
        },
        "inputPlaneUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 46,
              "t": "string"
            }
          }
        },
        "inputPlaneRegion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 47,
              "t": "string"
            }
          }
        },
        "maxObjectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use optional to ensure unset values default to None instead of 0",
            "com.distilled.proto#field": {
              "n": 48,
              "t": "uint64"
            }
          }
        },
        "maxAsyncObjectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 53,
              "t": "uint64"
            }
          }
        },
        "ExperimentalFlashUrls": {
          "target": "com.modal.app#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 49,
              "t": "string",
              "rep": true
            }
          }
        },
        "supportedInputFormats": {
          "target": "com.modal.app#DataFormatList",
          "traits": {
            "smithy.api#documentation": "(Optional) urls for flash services",
            "com.distilled.proto#field": {
              "n": 50,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "supportedOutputFormats": {
          "target": "com.modal.app#DataFormatList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 51,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 52,
              "t": "string"
            }
          }
        },
        "baseFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base Function ID for a variant, or the Function's own ID otherwise.",
            "com.distilled.proto#field": {
              "n": 54,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#FunctionFunctionType": {
      "type": "enum",
      "members": {
        "FUNCTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_UNSPECIFIED"
          }
        },
        "FUNCTION_TYPE_GENERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_GENERATOR"
          }
        },
        "FUNCTION_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_FUNCTION"
          }
        }
      }
    },
    "com.modal.app#ClassParameterInfo": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.modal.app#ClassParameterInfoParameterSerializationFormat",
          "traits": {
            "smithy.api#documentation": "new format using api.FunctionParameterSet",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED": 0,
                "PARAM_SERIALIZATION_FORMAT_PICKLE": 1,
                "PARAM_SERIALIZATION_FORMAT_PROTO": 2
              }
            }
          }
        },
        "schema": {
          "target": "com.modal.app#ClassParameterSpecList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.app#ClassParameterInfoParameterSerializationFormat": {
      "type": "enum",
      "members": {
        "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED"
          }
        },
        "PARAM_SERIALIZATION_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_PICKLE"
          }
        },
        "PARAM_SERIALIZATION_FORMAT_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_PROTO",
            "smithy.api#documentation": "legacy format - pickle of (args, kwargs) tuple"
          }
        }
      }
    },
    "com.modal.app#ClassParameterSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TODO: rename into NamedPayloadType or similar",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "type": {
          "target": "com.modal.app#ParameterType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "PARAM_TYPE_UNSPECIFIED": 0,
                "PARAM_TYPE_STRING": 1,
                "PARAM_TYPE_INT": 2,
                "PARAM_TYPE_PICKLE": 3,
                "PARAM_TYPE_BYTES": 4,
                "PARAM_TYPE_UNKNOWN": 5,
                "PARAM_TYPE_LIST": 6,
                "PARAM_TYPE_DICT": 7,
                "PARAM_TYPE_NONE": 8,
                "PARAM_TYPE_BOOL": 9
              }
            }
          }
        },
        "hasDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "TODO: deprecate - use full_type instead",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "stringDefault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default *values* are only registered for class parameters",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "intDefault": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "int64"
            }
          }
        },
        "pickleDefault": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bytes"
            }
          }
        },
        "bytesDefault": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "bytes"
            }
          }
        },
        "boolDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "fullType": {
          "target": "com.modal.app#GenericPayloadType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#ParameterType": {
      "type": "enum",
      "members": {
        "PARAM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_UNSPECIFIED"
          }
        },
        "PARAM_TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_STRING"
          }
        },
        "PARAM_TYPE_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_INT"
          }
        },
        "PARAM_TYPE_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_PICKLE"
          }
        },
        "PARAM_TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_BYTES",
            "smithy.api#documentation": "currently unused"
          }
        },
        "PARAM_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_UNKNOWN"
          }
        },
        "PARAM_TYPE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_LIST",
            "smithy.api#documentation": "used in schemas to signify unrecognized or un-annotated types"
          }
        },
        "PARAM_TYPE_DICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_DICT"
          }
        },
        "PARAM_TYPE_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_NONE"
          }
        },
        "PARAM_TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_BOOL"
          }
        }
      }
    },
    "com.modal.app#GenericPayloadType": {
      "type": "structure",
      "members": {
        "baseType": {
          "target": "com.modal.app#ParameterType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "PARAM_TYPE_UNSPECIFIED": 0,
                "PARAM_TYPE_STRING": 1,
                "PARAM_TYPE_INT": 2,
                "PARAM_TYPE_PICKLE": 3,
                "PARAM_TYPE_BYTES": 4,
                "PARAM_TYPE_UNKNOWN": 5,
                "PARAM_TYPE_LIST": 6,
                "PARAM_TYPE_DICT": 7,
                "PARAM_TYPE_NONE": 8,
                "PARAM_TYPE_BOOL": 9
              }
            }
          }
        },
        "subTypes": {
          "target": "com.modal.app#GenericPayloadTypeList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.app#GenericPayloadTypeList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#GenericPayloadType"
      }
    },
    "com.modal.app#ClassParameterSpecList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#ClassParameterSpec"
      }
    },
    "com.modal.app#FunctionHandleMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.modal.app#FunctionHandleMetadata"
      }
    },
    "com.modal.app#FunctionSchema": {
      "type": "structure",
      "members": {
        "schemaType": {
          "target": "com.modal.app#FunctionSchemaFunctionSchemaType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "FUNCTION_SCHEMA_UNSPECIFIED": 0,
                "FUNCTION_SCHEMA_V1": 1
              }
            }
          }
        },
        "arguments": {
          "target": "com.modal.app#ClassParameterSpecList",
          "traits": {
            "smithy.api#documentation": "allows easy disambiguation between empty schema and no schema collection etc.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "returnType": {
          "target": "com.modal.app#GenericPayloadType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#FunctionSchemaFunctionSchemaType": {
      "type": "enum",
      "members": {
        "FUNCTION_SCHEMA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_SCHEMA_UNSPECIFIED"
          }
        },
        "FUNCTION_SCHEMA_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_SCHEMA_V1"
          }
        }
      }
    },
    "com.modal.app#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.app#DataFormat": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "DATA_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_PICKLE"
          }
        },
        "DATA_FORMAT_ASGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_ASGI",
            "smithy.api#documentation": "Cloudpickle"
          }
        },
        "DATA_FORMAT_GENERATOR_DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_GENERATOR_DONE",
            "smithy.api#documentation": "\"Asgi\" protobuf message"
          }
        },
        "DATA_FORMAT_CBOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_CBOR",
            "smithy.api#documentation": "\"GeneratorDone\" protobuf message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which data format a binary message is encoded with."
      }
    },
    "com.modal.app#DataFormatList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#DataFormat"
      }
    },
    "com.modal.app#MountHandleMetadata": {
      "type": "structure",
      "members": {
        "contentChecksumSha256Hex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#ClassHandleMetadata": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.modal.app#ClassMethodList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "classFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "classFunctionMetadata": {
          "target": "com.modal.app#FunctionHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#ClassMethod": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionHandleMetadata": {
          "target": "com.modal.app#FunctionHandleMetadata",
          "traits": {
            "smithy.api#documentation": "Class methods need to hydrate all functions on the class",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#ClassMethodList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#ClassMethod"
      }
    },
    "com.modal.app#SandboxHandleMetadata": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.app#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#GenericResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.app#GenericResultGenericStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GENERIC_STATUS_UNSPECIFIED": 0,
                "GENERIC_STATUS_SUCCESS": 1,
                "GENERIC_STATUS_FAILURE": 2,
                "GENERIC_STATUS_TERMINATED": 3,
                "GENERIC_STATUS_TIMEOUT": 4,
                "GENERIC_STATUS_INIT_FAILURE": 5,
                "GENERIC_STATUS_INTERNAL_FAILURE": 6,
                "GENERIC_STATUS_IDLE_TIMEOUT": 7,
                "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": 8
              }
            }
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task or function output.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "exitcode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception message for failures, if available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "traceback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code of the container entrypoint or builder process if it terminates unexpectedly.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "serializedTb": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "String value of the Python traceback.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bytes"
            }
          }
        },
        "tbLineCache": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled traceback object.",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bytes"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled line cache for traceback object.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inline data of the result.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "propagationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob ID for large data.",
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "sub-type for generic types like lists"
      }
    },
    "com.modal.app#GenericResultGenericStatus": {
      "type": "enum",
      "members": {
        "GENERIC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_UNSPECIFIED"
          }
        },
        "GENERIC_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_SUCCESS"
          }
        },
        "GENERIC_STATUS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_FAILURE"
          }
        },
        "GENERIC_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TERMINATED",
            "smithy.api#documentation": "Used when a task was killed using an external signal."
          }
        },
        "GENERIC_STATUS_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TIMEOUT"
          }
        },
        "GENERIC_STATUS_INIT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INIT_FAILURE",
            "smithy.api#documentation": "Used when the user's function fails to initialize (ex. S3 mount failed due to invalid credentials). Terminates the function and all remaining inputs."
          }
        },
        "GENERIC_STATUS_INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INTERNAL_FAILURE"
          }
        },
        "GENERIC_STATUS_IDLE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_IDLE_TIMEOUT",
            "smithy.api#documentation": "Used when sandboxes are terminated due to idle_timeout"
          }
        },
        "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_MEMORY_MANAGER_EVICTION",
            "smithy.api#documentation": "Used when a task was killed because it was evicted by the memory manager when the worker was under memory pressure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for both tasks and function outputs"
      }
    },
    "com.modal.app#VolumeMetadata": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.modal.app#VolumeFsVersion",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "VOLUME_FS_VERSION_UNSPECIFIED": 0,
                "VOLUME_FS_VERSION_V1": 1,
                "VOLUME_FS_VERSION_V2": 2
              }
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "creationInfo": {
          "target": "com.modal.app#CreationInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#VolumeFsVersion": {
      "type": "enum",
      "members": {
        "VOLUME_FS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_FS_VERSION_UNSPECIFIED"
          }
        },
        "VOLUME_FS_VERSION_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_FS_VERSION_V1"
          }
        },
        "VOLUME_FS_VERSION_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_FS_VERSION_V2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP/2 tunnel"
      }
    },
    "com.modal.app#CreationInfo": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This message is used in metadata for resource objects like Dict, Queue, Volume, etc.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of resource creation",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#ObjectList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#Object"
      }
    },
    "com.modal.app#AppGetLayoutResponse": {
      "type": "structure",
      "members": {
        "appLayout": {
          "target": "com.modal.app#AppLayout",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetLayout": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetLayoutRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetLayoutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetLayout",
          "code": 200
        }
      }
    },
    "com.modal.app#AppGetLifecycleRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppGetLifecycleResponse": {
      "type": "structure",
      "members": {
        "lifecycle": {
          "target": "com.modal.app#AppLifecycle",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetLifecycle": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetLifecycleRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetLifecycleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetLifecycle",
          "code": 200
        }
      }
    },
    "com.modal.app#AppGetObjectsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "includeUnindexed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "onlyClassFunction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppGetObjectsItem": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "object": {
          "target": "com.modal.app#Object",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.app#AppGetObjectsItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#AppGetObjectsItem"
      }
    },
    "com.modal.app#AppGetObjectsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.app#AppGetObjectsItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetObjects": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetObjectsRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetObjectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetObjects",
          "code": 200
        }
      }
    },
    "com.modal.app#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.app#AppGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "objectCreationType": {
          "target": "com.modal.app#ObjectCreationType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "OBJECT_CREATION_TYPE_UNSPECIFIED": 0,
                "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": 1,
                "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": 2,
                "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": 3,
                "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": 4,
                "OBJECT_CREATION_TYPE_EPHEMERAL": 5
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "handleMetadata": {
          "target": "com.modal.app#AppHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.app#AppGetTagsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppGetTagsResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.modal.app#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#AppGetTags": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppGetTagsRequest"
      },
      "output": {
        "target": "com.modal.app#AppGetTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppGetTags",
          "code": 200
        }
      }
    },
    "com.modal.app#AppHeartbeatRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#AppHeartbeat": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#AppHeartbeatRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppHeartbeat",
          "code": 200
        }
      }
    },
    "com.modal.app#ListAppRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#ListAppResponseAppListItem": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "state": {
          "target": "com.modal.app#AppState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "APP_STATE_UNSPECIFIED": 0,
                "APP_STATE_EPHEMERAL": 1,
                "APP_STATE_DETACHED": 2,
                "APP_STATE_DEPLOYED": 3,
                "APP_STATE_STOPPING": 4,
                "APP_STATE_STOPPED": 5,
                "APP_STATE_INITIALIZING": 6,
                "APP_STATE_DISABLED": 7,
                "APP_STATE_DETACHED_DISCONNECTED": 8,
                "APP_STATE_DERIVED": 9
              }
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "double"
            }
          }
        },
        "stoppedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "double"
            }
          }
        },
        "nRunningTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "int32"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#ListAppResponseAppListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#ListAppResponseAppListItem"
      }
    },
    "com.modal.app#ListAppResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.modal.app#ListAppResponseAppListItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#ListApp": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#ListAppRequest"
      },
      "output": {
        "target": "com.modal.app#ListAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppList",
          "code": 200
        }
      }
    },
    "com.modal.app#LookupAppRequest": {
      "type": "structure",
      "members": {
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#LookupAppResponse": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#LookupApp": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#LookupAppRequest"
      },
      "output": {
        "target": "com.modal.app#LookupAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppLookup",
          "code": 200
        }
      }
    },
    "com.modal.app#PromoteAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.app#Warning": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.modal.app#WarningWarningType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "WARNING_TYPE_UNSPECIFIED": 0,
                "WARNING_TYPE_CLIENT_DEPRECATION": 1,
                "WARNING_TYPE_RESOURCE_LIMIT": 2,
                "WARNING_TYPE_FUNCTION_CONFIGURATION": 3
              }
            }
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.app#WarningWarningType": {
      "type": "enum",
      "members": {
        "WARNING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_UNSPECIFIED"
          }
        },
        "WARNING_TYPE_CLIENT_DEPRECATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_CLIENT_DEPRECATION"
          }
        },
        "WARNING_TYPE_RESOURCE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_RESOURCE_LIMIT"
          }
        },
        "WARNING_TYPE_FUNCTION_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_FUNCTION_CONFIGURATION"
          }
        }
      }
    },
    "com.modal.app#WarningList": {
      "type": "list",
      "member": {
        "target": "com.modal.app#Warning"
      }
    },
    "com.modal.app#PromoteAppResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "serverWarnings": {
          "target": "com.modal.app#WarningList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "deployedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.app#PromoteApp": {
      "type": "operation",
      "input": {
        "target": "com.modal.app#PromoteAppRequest"
      },
      "output": {
        "target": "com.modal.app#PromoteAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/AppPromote",
          "code": 200
        }
      }
    },
    "com.modal.app#PublishAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "deploymentTag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "appState": {
          "target": "com.modal.app#AppState",
          "traits": {
            "smithy.api#documentation": "Additional metadata to identify a deployment",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "APP_STATE_UNSPECIFIED": 0,
                "APP_STATE_EPHEMERAL": 1,
                "APP_STATE_DETACHED": 2,
                "APP_STATE_DEPLOYED": 3,
                "APP_STATE_STOPPING": 4,
                "APP_STATE_STOPPED": 5,
                "APP_STATE_INITIALIZING": 6,
                "APP_STATE_DISABLED": 7,
                "APP_STATE_DETACHED_DISCONNECTED": 8,
                "APP_STATE_DERIVED": 9
              }
[...]
