{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.classes#ClassMethod": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionHandleMetadata": {
          "target": "com.modal.classes#FunctionHandleMetadata",
          "traits": {
            "smithy.api#documentation": "Class methods need to hydrate all functions on the class",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.classes#FunctionHandleMetadata": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains all the info about a function that is needed to trigger the right behaviour when using a FunctionHandler. Notably excludes things purely used for *executing* the function in a container entrypoint Should be a subset and use IDs/types from `Function` above",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionType": {
          "target": "com.modal.classes#FunctionFunctionType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FUNCTION_TYPE_UNSPECIFIED": 0,
                "FUNCTION_TYPE_GENERATOR": 1,
                "FUNCTION_TYPE_FUNCTION": 2
              }
            }
          }
        },
        "webUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 28,
              "t": "string"
            }
          }
        },
        "isMethod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 39,
              "t": "bool"
            }
          }
        },
        "useFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 40,
              "t": "string"
            }
          }
        },
        "useMethodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "used for methods",
            "com.distilled.proto#field": {
              "n": 41,
              "t": "string"
            }
          }
        },
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "used for methods",
            "com.distilled.proto#field": {
              "n": 42,
              "t": "string"
            }
          }
        },
        "classParameterInfo": {
          "target": "com.modal.classes#ClassParameterInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 43,
              "t": "message"
            }
          }
        },
        "methodHandleMetadata": {
          "target": "com.modal.classes#FunctionHandleMetadataMap",
          "traits": {
            "smithy.api#documentation": "Mapping of method names to their metadata, only non-empty for class service functions",
            "com.distilled.proto#field": {
              "n": 44,
              "t": "map",
              "k": "string",
              "v": {
                "t": "message"
              }
            }
          }
        },
        "functionSchema": {
          "target": "com.modal.classes#FunctionSchema",
          "traits": {
            "com.distilled.proto#field": {
              "n": 45,
              "t": "message"
            }
          }
        },
        "inputPlaneUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 46,
              "t": "string"
            }
          }
        },
        "inputPlaneRegion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 47,
              "t": "string"
            }
          }
        },
        "maxObjectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use optional to ensure unset values default to None instead of 0",
            "com.distilled.proto#field": {
              "n": 48,
              "t": "uint64"
            }
          }
        },
        "maxAsyncObjectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 53,
              "t": "uint64"
            }
          }
        },
        "ExperimentalFlashUrls": {
          "target": "com.modal.classes#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 49,
              "t": "string",
              "rep": true
            }
          }
        },
        "supportedInputFormats": {
          "target": "com.modal.classes#DataFormatList",
          "traits": {
            "smithy.api#documentation": "(Optional) urls for flash services",
            "com.distilled.proto#field": {
              "n": 50,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "supportedOutputFormats": {
          "target": "com.modal.classes#DataFormatList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 51,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 52,
              "t": "string"
            }
          }
        },
        "baseFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base Function ID for a variant, or the Function's own ID otherwise.",
            "com.distilled.proto#field": {
              "n": 54,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.classes#FunctionFunctionType": {
      "type": "enum",
      "members": {
        "FUNCTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_UNSPECIFIED"
          }
        },
        "FUNCTION_TYPE_GENERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_GENERATOR"
          }
        },
        "FUNCTION_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_FUNCTION"
          }
        }
      }
    },
    "com.modal.classes#ClassParameterInfo": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.modal.classes#ClassParameterInfoParameterSerializationFormat",
          "traits": {
            "smithy.api#documentation": "new format using api.FunctionParameterSet",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED": 0,
                "PARAM_SERIALIZATION_FORMAT_PICKLE": 1,
                "PARAM_SERIALIZATION_FORMAT_PROTO": 2
              }
            }
          }
        },
        "schema": {
          "target": "com.modal.classes#ClassParameterSpecList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.classes#ClassParameterInfoParameterSerializationFormat": {
      "type": "enum",
      "members": {
        "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED"
          }
        },
        "PARAM_SERIALIZATION_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_PICKLE"
          }
        },
        "PARAM_SERIALIZATION_FORMAT_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_PROTO",
            "smithy.api#documentation": "legacy format - pickle of (args, kwargs) tuple"
          }
        }
      }
    },
    "com.modal.classes#ClassParameterSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TODO: rename into NamedPayloadType or similar",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "type": {
          "target": "com.modal.classes#ParameterType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "PARAM_TYPE_UNSPECIFIED": 0,
                "PARAM_TYPE_STRING": 1,
                "PARAM_TYPE_INT": 2,
                "PARAM_TYPE_PICKLE": 3,
                "PARAM_TYPE_BYTES": 4,
                "PARAM_TYPE_UNKNOWN": 5,
                "PARAM_TYPE_LIST": 6,
                "PARAM_TYPE_DICT": 7,
                "PARAM_TYPE_NONE": 8,
                "PARAM_TYPE_BOOL": 9
              }
            }
          }
        },
        "hasDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "TODO: deprecate - use full_type instead",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "stringDefault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default *values* are only registered for class parameters",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "intDefault": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "int64"
            }
          }
        },
        "pickleDefault": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bytes"
            }
          }
        },
        "bytesDefault": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "bytes"
            }
          }
        },
        "boolDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "fullType": {
          "target": "com.modal.classes#GenericPayloadType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.classes#ParameterType": {
      "type": "enum",
      "members": {
        "PARAM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_UNSPECIFIED"
          }
        },
        "PARAM_TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_STRING"
          }
        },
        "PARAM_TYPE_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_INT"
          }
        },
        "PARAM_TYPE_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_PICKLE"
          }
        },
        "PARAM_TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_BYTES",
            "smithy.api#documentation": "currently unused"
          }
        },
        "PARAM_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_UNKNOWN"
          }
        },
        "PARAM_TYPE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_LIST",
            "smithy.api#documentation": "used in schemas to signify unrecognized or un-annotated types"
          }
        },
        "PARAM_TYPE_DICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_DICT"
          }
        },
        "PARAM_TYPE_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_NONE"
          }
        },
        "PARAM_TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_BOOL"
          }
        }
      }
    },
    "com.modal.classes#GenericPayloadType": {
      "type": "structure",
      "members": {
        "baseType": {
          "target": "com.modal.classes#ParameterType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "PARAM_TYPE_UNSPECIFIED": 0,
                "PARAM_TYPE_STRING": 1,
                "PARAM_TYPE_INT": 2,
                "PARAM_TYPE_PICKLE": 3,
                "PARAM_TYPE_BYTES": 4,
                "PARAM_TYPE_UNKNOWN": 5,
                "PARAM_TYPE_LIST": 6,
                "PARAM_TYPE_DICT": 7,
                "PARAM_TYPE_NONE": 8,
                "PARAM_TYPE_BOOL": 9
              }
            }
          }
        },
        "subTypes": {
          "target": "com.modal.classes#GenericPayloadTypeList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.classes#GenericPayloadTypeList": {
      "type": "list",
      "member": {
        "target": "com.modal.classes#GenericPayloadType"
      }
    },
    "com.modal.classes#ClassParameterSpecList": {
      "type": "list",
      "member": {
        "target": "com.modal.classes#ClassParameterSpec"
      }
    },
    "com.modal.classes#FunctionHandleMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.modal.classes#FunctionHandleMetadata"
      }
    },
    "com.modal.classes#FunctionSchema": {
      "type": "structure",
      "members": {
        "schemaType": {
          "target": "com.modal.classes#FunctionSchemaFunctionSchemaType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "FUNCTION_SCHEMA_UNSPECIFIED": 0,
                "FUNCTION_SCHEMA_V1": 1
              }
            }
          }
        },
        "arguments": {
          "target": "com.modal.classes#ClassParameterSpecList",
          "traits": {
            "smithy.api#documentation": "allows easy disambiguation between empty schema and no schema collection etc.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "returnType": {
          "target": "com.modal.classes#GenericPayloadType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.classes#FunctionSchemaFunctionSchemaType": {
      "type": "enum",
      "members": {
        "FUNCTION_SCHEMA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_SCHEMA_UNSPECIFIED"
          }
        },
        "FUNCTION_SCHEMA_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_SCHEMA_V1"
          }
        }
      }
    },
    "com.modal.classes#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.classes#DataFormat": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "DATA_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_PICKLE"
          }
        },
        "DATA_FORMAT_ASGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_ASGI",
            "smithy.api#documentation": "Cloudpickle"
          }
        },
        "DATA_FORMAT_GENERATOR_DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_GENERATOR_DONE",
            "smithy.api#documentation": "\"Asgi\" protobuf message"
          }
        },
        "DATA_FORMAT_CBOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_CBOR",
            "smithy.api#documentation": "\"GeneratorDone\" protobuf message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which data format a binary message is encoded with."
      }
    },
    "com.modal.classes#DataFormatList": {
      "type": "list",
      "member": {
        "target": "com.modal.classes#DataFormat"
      }
    },
    "com.modal.classes#ClassMethodList": {
      "type": "list",
      "member": {
        "target": "com.modal.classes#ClassMethod"
      }
    },
    "com.modal.classes#CreateClassRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "existingClassId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "methods": {
          "target": "com.modal.classes#ClassMethodList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message",
              "rep": true
            }
          }
        },
        "onlyClassFunction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "removed class_function_id",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.classes#ClassHandleMetadata": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.modal.classes#ClassMethodList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "classFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "classFunctionMetadata": {
          "target": "com.modal.classes#FunctionHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.classes#CreateClassResponse": {
      "type": "structure",
      "members": {
        "classId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "handleMetadata": {
          "target": "com.modal.classes#ClassHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.classes#CreateClass": {
      "type": "operation",
      "input": {
        "target": "com.modal.classes#CreateClassRequest"
      },
      "output": {
        "target": "com.modal.classes#CreateClassResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ClassCreate",
          "code": 200
        },
        "smithy.api#documentation": "Classes"
      }
    },
    "com.modal.classes#GetClassRequest": {
      "type": "structure",
      "members": {
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "objectTag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "removed namespace",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "onlyClassFunction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "workspace_name",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "appVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "True starting with 0.67.x clients, which don't create method placeholder functions",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "int32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.classes#Warning": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.modal.classes#WarningWarningType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "WARNING_TYPE_UNSPECIFIED": 0,
                "WARNING_TYPE_CLIENT_DEPRECATION": 1,
                "WARNING_TYPE_RESOURCE_LIMIT": 2,
                "WARNING_TYPE_FUNCTION_CONFIGURATION": 3
              }
            }
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.classes#WarningWarningType": {
      "type": "enum",
      "members": {
        "WARNING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_UNSPECIFIED"
          }
        },
        "WARNING_TYPE_CLIENT_DEPRECATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_CLIENT_DEPRECATION"
          }
        },
        "WARNING_TYPE_RESOURCE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_RESOURCE_LIMIT"
          }
        },
        "WARNING_TYPE_FUNCTION_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_TYPE_FUNCTION_CONFIGURATION"
          }
        }
      }
    },
    "com.modal.classes#WarningList": {
      "type": "list",
      "member": {
        "target": "com.modal.classes#Warning"
      }
    },
    "com.modal.classes#GetClassResponse": {
      "type": "structure",
      "members": {
        "classId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "handleMetadata": {
          "target": "com.modal.classes#ClassHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "serverWarnings": {
          "target": "com.modal.classes#WarningList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.classes#GetClass": {
      "type": "operation",
      "input": {
        "target": "com.modal.classes#GetClassRequest"
      },
      "output": {
        "target": "com.modal.classes#GetClassResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ClassGet",
          "code": 200
        }
      }
    },
    "com.modal.classes#ClassService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.classes#CreateClass"
        },
        {
          "target": "com.modal.classes#GetClass"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Class",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Class`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
