{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.container#ContainerCheckpointRequest": {
      "type": "structure",
      "members": {
        "checkpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ContainerCheckpoint": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerCheckpointRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerCheckpoint",
          "code": 200
        },
        "smithy.api#documentation": "Container"
      }
    },
    "com.modal.container#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.container#PTYInfo": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        },
        "winszRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soon deprecated",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "winszCols": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "envTerm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "envColorterm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "envTermProgram": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "ptyType": {
          "target": "com.modal.container#PTYInfoPTYType",
          "traits": {
            "smithy.api#documentation": "Replace function with shell",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "PTY_TYPE_UNSPECIFIED": 0,
                "PTY_TYPE_FUNCTION": 1,
                "PTY_TYPE_SHELL": 2
              }
            }
          }
        },
        "noTerminateOnIdleStdin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.container#PTYInfoPTYType": {
      "type": "enum",
      "members": {
        "PTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_UNSPECIFIED"
          }
        },
        "PTY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_FUNCTION",
            "smithy.api#documentation": "Nothing"
          }
        },
        "PTY_TYPE_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_SHELL",
            "smithy.api#documentation": "Run function in PTY"
          }
        }
      }
    },
    "com.modal.container#ExecOutputOption": {
      "type": "enum",
      "members": {
        "EXEC_OUTPUT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEC_OUTPUT_OPTION_UNSPECIFIED"
          }
        },
        "EXEC_OUTPUT_OPTION_DEVNULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEC_OUTPUT_OPTION_DEVNULL"
          }
        },
        "EXEC_OUTPUT_OPTION_PIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEC_OUTPUT_OPTION_PIPE"
          }
        },
        "EXEC_OUTPUT_OPTION_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEC_OUTPUT_OPTION_STDOUT"
          }
        }
      }
    },
    "com.modal.container#ExecContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "command": {
          "target": "com.modal.container#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "ptyInfo": {
          "target": "com.modal.container#PTYInfo",
          "traits": {
            "smithy.api#documentation": "If pty_info is provided, open a PTY, but also this container exec is treated an \"interactive shell\" request, and it will be terminated if messages are not periodically sent on the stdin stream on some interval (currently 40 seconds).",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "terminateContainerOnExit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send SIGTERM to running container on exit of exec command.",
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "runtimeDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        },
        "stdoutOutput": {
          "target": "com.modal.container#ExecOutputOption",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only.",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "EXEC_OUTPUT_OPTION_UNSPECIFIED": 0,
                "EXEC_OUTPUT_OPTION_DEVNULL": 1,
                "EXEC_OUTPUT_OPTION_PIPE": 2,
                "EXEC_OUTPUT_OPTION_STDOUT": 3
              }
            }
          }
        },
        "stderrOutput": {
          "target": "com.modal.container#ExecOutputOption",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "EXEC_OUTPUT_OPTION_UNSPECIFIED": 0,
                "EXEC_OUTPUT_OPTION_DEVNULL": 1,
                "EXEC_OUTPUT_OPTION_PIPE": 2,
                "EXEC_OUTPUT_OPTION_STDOUT": 3
              }
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "uint32"
            }
          }
        },
        "workdir": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "secretIds": {
          "target": "com.modal.container#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ExecContainerResponse": {
      "type": "structure",
      "members": {
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ExecContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ExecContainerRequest"
      },
      "output": {
        "target": "com.modal.container#ExecContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerExec",
          "code": 200
        }
      }
    },
    "com.modal.container#FileDescriptor": {
      "type": "enum",
      "members": {
        "FILE_DESCRIPTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_UNSPECIFIED"
          }
        },
        "FILE_DESCRIPTOR_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_STDOUT"
          }
        },
        "FILE_DESCRIPTOR_STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_STDERR"
          }
        },
        "FILE_DESCRIPTOR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_INFO"
          }
        }
      }
    },
    "com.modal.container#ContainerExecGetOutputRequest": {
      "type": "structure",
      "members": {
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        },
        "lastBatchIndex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "fileDescriptor": {
          "target": "com.modal.container#FileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "getRawBytes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Old clients (up to 0.65.39) expect string output. Newer clients stream raw bytes",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#RuntimeOutputMessage": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "com.modal.container#FileDescriptor",
          "traits": {
            "smithy.api#documentation": "only stdout / stderr is used",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "messageBytes": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bytes"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for `modal container exec`, `modal shell`, and Sandboxes"
      }
    },
    "com.modal.container#RuntimeOutputMessageList": {
      "type": "list",
      "member": {
        "target": "com.modal.container#RuntimeOutputMessage"
      }
    },
    "com.modal.container#ContainerExecGetOutputResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.container#RuntimeOutputMessageList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "batchIndex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "if an exit code is given, this is the final message that will be sent.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "stdout": {
          "target": "com.modal.container#RuntimeOutputMessageList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message",
              "rep": true
            }
          }
        },
        "stderr": {
          "target": "com.modal.container#RuntimeOutputMessageList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message",
              "rep": true
            }
          }
        },
        "info": {
          "target": "com.modal.container#RuntimeOutputMessageList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ContainerExecGetOutput": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerExecGetOutputRequest"
      },
      "output": {
        "target": "com.modal.container#ContainerExecGetOutputResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerExecGetOutput",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.container#RuntimeInputMessage": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "messageIndex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to use RDMA interfaces"
      }
    },
    "com.modal.container#ContainerExecPutInputRequest": {
      "type": "structure",
      "members": {
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "input": {
          "target": "com.modal.container#RuntimeInputMessage",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ContainerExecPutInput": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerExecPutInputRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerExecPutInput",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerExecWaitRequest": {
      "type": "structure",
      "members": {
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ContainerExecWaitResponse": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ContainerExecWait": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerExecWaitRequest"
      },
      "output": {
        "target": "com.modal.container#ContainerExecWaitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerExecWait",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerFileOpenRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "file descriptor is hydrated when sent from server -> worker",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileWriteRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileReadRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "n": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileFlushRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileReadLineRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileSeekRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        },
        "whence": {
          "target": "com.modal.container#SeekWhence",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "SEEK_SET": 0,
                "SEEK_CUR": 1,
                "SEEK_END": 2
              }
            }
          }
        }
      }
    },
    "com.modal.container#SeekWhence": {
      "type": "enum",
      "members": {
        "SEEK_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEEK_SET"
          }
        },
        "SEEK_CUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEEK_CUR"
          }
        },
        "SEEK_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEEK_END"
          }
        }
      }
    },
    "com.modal.container#ContainerFileDeleteBytesRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "startInclusive": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "endExclusive": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileWriteReplaceBytesRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "startInclusive": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "endExclusive": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileCloseRequest": {
      "type": "structure",
      "members": {
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileLsRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileMkdirRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "makeParents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileRmRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerFileWatchRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        }
      }
    },
    "com.modal.container#ExecContainerFilesystemRequest": {
      "type": "structure",
      "members": {
        "fileOpenRequest": {
          "target": "com.modal.container#ContainerFileOpenRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "fileWriteRequest": {
          "target": "com.modal.container#ContainerFileWriteRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "fileReadRequest": {
          "target": "com.modal.container#ContainerFileReadRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "fileFlushRequest": {
          "target": "com.modal.container#ContainerFileFlushRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "fileReadLineRequest": {
          "target": "com.modal.container#ContainerFileReadLineRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        },
        "fileSeekRequest": {
          "target": "com.modal.container#ContainerFileSeekRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message"
            }
          }
        },
        "fileDeleteBytesRequest": {
          "target": "com.modal.container#ContainerFileDeleteBytesRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "message"
            }
          }
        },
        "fileWriteReplaceBytesRequest": {
          "target": "com.modal.container#ContainerFileWriteReplaceBytesRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "message"
            }
          }
        },
        "fileCloseRequest": {
          "target": "com.modal.container#ContainerFileCloseRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "fileLsRequest": {
          "target": "com.modal.container#ContainerFileLsRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "message"
            }
          }
        },
        "fileMkdirRequest": {
          "target": "com.modal.container#ContainerFileMkdirRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "message"
            }
          }
        },
        "fileRmRequest": {
          "target": "com.modal.container#ContainerFileRmRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "message"
            }
          }
        },
        "fileWatchRequest": {
          "target": "com.modal.container#ContainerFileWatchRequest",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "message"
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ExecContainerFilesystemResponse": {
      "type": "structure",
      "members": {
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "fileDescriptor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "only set when the request opens a new file, i.e., ContainerFileOpenRequest",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ExecContainerFilesystem": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ExecContainerFilesystemRequest"
      },
      "output": {
        "target": "com.modal.container#ExecContainerFilesystemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerFilesystemExec",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerFilesystemExecGetOutputRequest": {
      "type": "structure",
      "members": {
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#BlobList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Blob"
      }
    },
    "com.modal.container#SystemErrorMessage": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.modal.container#SystemErrorCode",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "SYSTEM_ERROR_CODE_UNSPECIFIED": 0,
                "SYSTEM_ERROR_CODE_PERM": 1,
                "SYSTEM_ERROR_CODE_NOENT": 2,
                "SYSTEM_ERROR_CODE_IO": 5,
                "SYSTEM_ERROR_CODE_NXIO": 6,
                "SYSTEM_ERROR_CODE_NOMEM": 12,
                "SYSTEM_ERROR_CODE_ACCES": 13,
                "SYSTEM_ERROR_CODE_EXIST": 17,
                "SYSTEM_ERROR_CODE_NOTDIR": 20,
                "SYSTEM_ERROR_CODE_ISDIR": 21,
                "SYSTEM_ERROR_CODE_INVAL": 22,
                "SYSTEM_ERROR_CODE_MFILE": 24,
                "SYSTEM_ERROR_CODE_FBIG": 27,
                "SYSTEM_ERROR_CODE_NOSPC": 28
              }
            }
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#SystemErrorCode": {
      "type": "enum",
      "members": {
        "SYSTEM_ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_UNSPECIFIED"
          }
        },
        "SYSTEM_ERROR_CODE_PERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_PERM"
          }
        },
        "SYSTEM_ERROR_CODE_NOENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_NOENT",
            "smithy.api#documentation": "EPERM: Operation not permitted"
          }
        },
        "SYSTEM_ERROR_CODE_IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_IO",
            "smithy.api#documentation": "ENOENT: No such file or directory"
          }
        },
        "SYSTEM_ERROR_CODE_NXIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_NXIO",
            "smithy.api#documentation": "EIO: Input/output error"
          }
        },
        "SYSTEM_ERROR_CODE_NOMEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_NOMEM",
            "smithy.api#documentation": "ENXIO: No such device or address"
          }
        },
        "SYSTEM_ERROR_CODE_ACCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_ACCES",
            "smithy.api#documentation": "ENOMEM: Out of memory"
          }
        },
        "SYSTEM_ERROR_CODE_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_EXIST",
            "smithy.api#documentation": "EACCES: Permission denied"
          }
        },
        "SYSTEM_ERROR_CODE_NOTDIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_NOTDIR",
            "smithy.api#documentation": "EEXIST: File exists"
          }
        },
        "SYSTEM_ERROR_CODE_ISDIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_ISDIR",
            "smithy.api#documentation": "ENOTDIR: Not a directory"
          }
        },
        "SYSTEM_ERROR_CODE_INVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_INVAL",
            "smithy.api#documentation": "EISDIR: Is a directory"
          }
        },
        "SYSTEM_ERROR_CODE_MFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_MFILE",
            "smithy.api#documentation": "EINVAL: Invalid argument"
          }
        },
        "SYSTEM_ERROR_CODE_FBIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_FBIG",
            "smithy.api#documentation": "EMFILE: Too many open files"
          }
        },
        "SYSTEM_ERROR_CODE_NOSPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ERROR_CODE_NOSPC",
            "smithy.api#documentation": "EFBIG: File too large"
          }
        }
      }
    },
    "com.modal.container#ContainerFilesystemExecGetOutputResponse": {
      "type": "structure",
      "members": {
        "output": {
          "target": "com.modal.container#BlobList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes",
              "rep": true
            }
          }
        },
        "error": {
          "target": "com.modal.container#SystemErrorMessage",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "batchIndex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ContainerFilesystemExecGetOutput": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerFilesystemExecGetOutputRequest"
      },
      "output": {
        "target": "com.modal.container#ContainerFilesystemExecGetOutputResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerFilesystemExecGetOutput",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.container#ContainerHeartbeatRequest": {
      "type": "structure",
      "members": {
        "canceledInputsReturnOutputs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "canceledInputsReturnOutputsV2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Bad client version.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#CancelInputEvent": {
      "type": "structure",
      "members": {
        "inputIds": {
          "target": "com.modal.container#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        },
        "terminateContainers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "cancellationReason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ContainerHeartbeatResponse": {
      "type": "structure",
      "members": {
        "cancelInputEvent": {
          "target": "com.modal.container#CancelInputEvent",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ContainerHeartbeat": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerHeartbeatRequest"
      },
      "output": {
        "target": "com.modal.container#ContainerHeartbeatResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerHeartbeat",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerHello": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerHello",
          "code": 200
        }
      }
    },
    "com.modal.container#TaskLogs": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskState": {
          "target": "com.modal.container#TaskState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "TASK_STATE_UNSPECIFIED": 0,
                "TASK_STATE_CREATED": 6,
                "TASK_STATE_QUEUED": 1,
                "TASK_STATE_WORKER_ASSIGNED": 2,
                "TASK_STATE_LOADING_IMAGE": 3,
                "TASK_STATE_ACTIVE": 4,
                "TASK_STATE_COMPLETED": 5,
                "TASK_STATE_CREATING_CONTAINER": 7,
                "TASK_STATE_IDLE": 8,
                "TASK_STATE_PREEMPTIBLE": 9,
                "TASK_STATE_PREEMPTED": 10,
                "TASK_STATE_LOADING_CHECKPOINT_IMAGE": 11
              }
            }
          }
        },
        "timestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "fileDescriptor": {
          "target": "com.modal.container#FileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "taskProgress": {
          "target": "com.modal.container#TaskProgress",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "timestampNs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "uint64"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#TaskState": {
      "type": "enum",
      "members": {
        "TASK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_UNSPECIFIED"
          }
        },
        "TASK_STATE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CREATED"
          }
        },
        "TASK_STATE_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_QUEUED"
          }
        },
        "TASK_STATE_WORKER_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_WORKER_ASSIGNED"
          }
        },
        "TASK_STATE_LOADING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_LOADING_IMAGE"
          }
        },
        "TASK_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_ACTIVE"
          }
        },
        "TASK_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_COMPLETED"
          }
        },
        "TASK_STATE_CREATING_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CREATING_CONTAINER"
          }
        },
        "TASK_STATE_IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_IDLE"
          }
        },
        "TASK_STATE_PREEMPTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_PREEMPTIBLE"
          }
        },
        "TASK_STATE_PREEMPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_PREEMPTED"
          }
        },
        "TASK_STATE_LOADING_CHECKPOINT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_LOADING_CHECKPOINT_IMAGE"
          }
        }
      }
    },
    "com.modal.container#TaskProgress": {
      "type": "structure",
      "members": {
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint64"
            }
          }
        },
        "pos": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "progressType": {
          "target": "com.modal.container#ProgressType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "IMAGE_SNAPSHOT_UPLOAD": 0,
                "FUNCTION_QUEUED": 1
              }
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.container#ProgressType": {
      "type": "enum",
      "members": {
        "IMAGE_SNAPSHOT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SNAPSHOT_UPLOAD"
          }
        },
        "FUNCTION_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_QUEUED",
            "smithy.api#documentation": "TODO(erikbern): shouldn't be zero, and needs prefix"
          }
        }
      }
    },
    "com.modal.container#TaskLogsList": {
      "type": "list",
      "member": {
        "target": "com.modal.container#TaskLogs"
      }
    },
    "com.modal.container#ContainerLogRequest": {
      "type": "structure",
      "members": {
        "logs": {
          "target": "com.modal.container#TaskLogsList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ContainerLog": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerLogRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerLog",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerReloadVolumesRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ContainerReloadVolumesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#ContainerReloadVolumes": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerReloadVolumesRequest"
      },
      "output": {
        "target": "com.modal.container#ContainerReloadVolumesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerReloadVolumes",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerServerLifecycleReadyRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#ContainerServerLifecycleReady": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#ContainerServerLifecycleReadyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerServerLifecycleReady",
          "code": 200
        }
      }
    },
    "com.modal.container#StopContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "graceful": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.container#StopContainerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.container#StopContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.container#StopContainerRequest"
      },
      "output": {
        "target": "com.modal.container#StopContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ContainerStop",
          "code": 200
        }
      }
    },
    "com.modal.container#ContainerService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.container#ContainerCheckpoint"
        },
        {
          "target": "com.modal.container#ExecContainer"
        },
        {
          "target": "com.modal.container#ContainerExecGetOutput"
        },
        {
          "target": "com.modal.container#ContainerExecPutInput"
        },
        {
          "target": "com.modal.container#ContainerExecWait"
        },
        {
          "target": "com.modal.container#ExecContainerFilesystem"
        },
        {
          "target": "com.modal.container#ContainerFilesystemExecGetOutput"
        },
        {
          "target": "com.modal.container#ContainerHeartbeat"
        },
        {
          "target": "com.modal.container#ContainerHello"
        },
        {
          "target": "com.modal.container#ContainerLog"
        },
        {
          "target": "com.modal.container#ContainerReloadVolumes"
        },
        {
          "target": "com.modal.container#ContainerServerLifecycleReady"
        },
        {
          "target": "com.modal.container#StopContainer"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Container",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Container`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
