{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.endpoint#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.endpoint#EndpointComputeRegionSpec": {
      "type": "structure",
      "members": {
        "auto": {
          "target": "com.modal.endpoint#GoogleProtobufEmpty",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "wkt",
              "w": "Empty"
            }
          }
        },
        "colocated": {
          "target": "com.modal.endpoint#GoogleProtobufEmpty",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "wkt",
              "w": "Empty"
            }
          }
        },
        "explicit": {
          "target": "com.modal.endpoint#EndpointComputeRegionSpecExplicitRegions",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.endpoint#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "google.protobuf.Empty as a nested field."
      }
    },
    "com.modal.endpoint#EndpointComputeRegionSpecExplicitRegions": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.modal.endpoint#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointModelSource": {
      "type": "structure",
      "members": {
        "baseModelRepoId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "custom": {
          "target": "com.modal.endpoint#EndpointCustomModelSource",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointCustomModelSource": {
      "type": "structure",
      "members": {
        "baseModelRepoId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "huggingface": {
          "target": "com.modal.endpoint#EndpointHuggingFaceModelSource",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "modalVolume": {
          "target": "com.modal.endpoint#EndpointModalVolumeModelSource",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointHuggingFaceModelSource": {
      "type": "structure",
      "members": {
        "repoId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "huggingfaceToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointModalVolumeModelSource": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "modelPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointApiSurface": {
      "type": "enum",
      "members": {
        "ENDPOINT_API_SURFACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_API_SURFACE_UNSPECIFIED"
          }
        },
        "ENDPOINT_API_SURFACE_OPENAI_CHAT_COMPLETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_API_SURFACE_OPENAI_CHAT_COMPLETIONS"
          }
        },
        "ENDPOINT_API_SURFACE_OPENAI_RESPONSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_API_SURFACE_OPENAI_RESPONSES"
          }
        },
        "ENDPOINT_API_SURFACE_ANTHROPIC_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_API_SURFACE_ANTHROPIC_MESSAGES"
          }
        }
      }
    },
    "com.modal.endpoint#EndpointApiSurfaceList": {
      "type": "list",
      "member": {
        "target": "com.modal.endpoint#EndpointApiSurface"
      }
    },
    "com.modal.endpoint#EndpointInputModality": {
      "type": "enum",
      "members": {
        "ENDPOINT_INPUT_MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_INPUT_MODALITY_UNSPECIFIED"
          }
        },
        "ENDPOINT_INPUT_MODALITY_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_INPUT_MODALITY_TEXT"
          }
        },
        "ENDPOINT_INPUT_MODALITY_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_INPUT_MODALITY_IMAGE"
          }
        },
        "ENDPOINT_INPUT_MODALITY_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_INPUT_MODALITY_AUDIO"
          }
        }
      }
    },
    "com.modal.endpoint#EndpointInputModalityList": {
      "type": "list",
      "member": {
        "target": "com.modal.endpoint#EndpointInputModality"
      }
    },
    "com.modal.endpoint#EndpointServingMode": {
      "type": "enum",
      "members": {
        "ENDPOINT_SERVING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_SERVING_MODE_UNSPECIFIED"
          }
        },
        "ENDPOINT_SERVING_MODE_DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_SERVING_MODE_DEDICATED"
          }
        },
        "ENDPOINT_SERVING_MODE_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_SERVING_MODE_SHARED"
          }
        }
      }
    },
    "com.modal.endpoint#CreateEndpointRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "proxyRegions": {
          "target": "com.modal.endpoint#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string",
              "rep": true
            }
          }
        },
        "computeRegion": {
          "target": "com.modal.endpoint#EndpointComputeRegionSpec",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "model": {
          "target": "com.modal.endpoint#EndpointModelSource",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        },
        "apiSurfaces": {
          "target": "com.modal.endpoint#EndpointApiSurfaceList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "ENDPOINT_API_SURFACE_UNSPECIFIED": 0,
                "ENDPOINT_API_SURFACE_OPENAI_CHAT_COMPLETIONS": 1,
                "ENDPOINT_API_SURFACE_OPENAI_RESPONSES": 2,
                "ENDPOINT_API_SURFACE_ANTHROPIC_MESSAGES": 3
              },
              "rep": true
            }
          }
        },
        "inputModalities": {
          "target": "com.modal.endpoint#EndpointInputModalityList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "ENDPOINT_INPUT_MODALITY_UNSPECIFIED": 0,
                "ENDPOINT_INPUT_MODALITY_TEXT": 1,
                "ENDPOINT_INPUT_MODALITY_IMAGE": 2,
                "ENDPOINT_INPUT_MODALITY_AUDIO": 3
              },
              "rep": true
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "unauthenticated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "servingMode": {
          "target": "com.modal.endpoint#EndpointServingMode",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "ENDPOINT_SERVING_MODE_UNSPECIFIED": 0,
                "ENDPOINT_SERVING_MODE_DEDICATED": 1,
                "ENDPOINT_SERVING_MODE_SHARED": 2
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.endpoint#CreateEndpointResponse": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "endpointPageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.endpoint#CreateEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.modal.endpoint#CreateEndpointRequest"
      },
      "output": {
        "target": "com.modal.endpoint#CreateEndpointResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EndpointCreate",
          "code": 200
        },
        "smithy.api#documentation": "Endpoints"
      }
    },
    "com.modal.endpoint#EndpointGetByNameRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.endpoint#EndpointGetByNameResponse": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.endpoint#EndpointGetByName": {
      "type": "operation",
      "input": {
        "target": "com.modal.endpoint#EndpointGetByNameRequest"
      },
      "output": {
        "target": "com.modal.endpoint#EndpointGetByNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EndpointGetByName",
          "code": 200
        }
      }
    },
    "com.modal.endpoint#EndpointGetLifecycleRequest": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.endpoint#EndpointLifecycle": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.endpoint#EndpointLifecycleStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "ENDPOINT_LIFECYCLE_STATUS_UNSPECIFIED": 0,
                "ENDPOINT_LIFECYCLE_STATUS_ACTIVE": 1,
                "ENDPOINT_LIFECYCLE_STATUS_STOPPED": 2
              }
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "stoppedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "User or service user name",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "double"
            }
          }
        },
        "stoppedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unset when Endpoint is active",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User or service user name",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointLifecycleStatus": {
      "type": "enum",
      "members": {
        "ENDPOINT_LIFECYCLE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_LIFECYCLE_STATUS_UNSPECIFIED"
          }
        },
        "ENDPOINT_LIFECYCLE_STATUS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_LIFECYCLE_STATUS_ACTIVE"
          }
        },
        "ENDPOINT_LIFECYCLE_STATUS_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_LIFECYCLE_STATUS_STOPPED"
          }
        }
      }
    },
    "com.modal.endpoint#EndpointGetLifecycleResponse": {
      "type": "structure",
      "members": {
        "lifecycle": {
          "target": "com.modal.endpoint#EndpointLifecycle",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.endpoint#EndpointGetLifecycle": {
      "type": "operation",
      "input": {
        "target": "com.modal.endpoint#EndpointGetLifecycleRequest"
      },
      "output": {
        "target": "com.modal.endpoint#EndpointGetLifecycleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EndpointGetLifecycle",
          "code": 200
        }
      }
    },
    "com.modal.endpoint#ListPagination": {
      "type": "structure",
      "members": {
        "maxObjects": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "createdBefore": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        }
      }
    },
    "com.modal.endpoint#ListEndpointRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "pagination": {
          "target": "com.modal.endpoint#ListPagination",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.endpoint#EndpointListItem": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "activeDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "double"
            }
          }
        },
        "metadata": {
          "target": "com.modal.endpoint#EndpointMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message"
            }
          }
        },
        "appState": {
          "target": "com.modal.endpoint#AppState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "APP_STATE_UNSPECIFIED": 0,
                "APP_STATE_EPHEMERAL": 1,
                "APP_STATE_DETACHED": 2,
                "APP_STATE_DEPLOYED": 3,
                "APP_STATE_STOPPING": 4,
                "APP_STATE_STOPPED": 5,
                "APP_STATE_INITIALIZING": 6,
                "APP_STATE_DISABLED": 7,
                "APP_STATE_DETACHED_DISCONNECTED": 8,
                "APP_STATE_DERIVED": 9
              }
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "createdByAvatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "provisioningStatus": {
          "target": "com.modal.endpoint#EndpointProvisioningStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "ENDPOINT_PROVISIONING_STATUS_UNSPECIFIED": 0,
                "ENDPOINT_PROVISIONING_STATUS_PENDING": 1,
                "ENDPOINT_PROVISIONING_STATUS_RUNNING": 2,
                "ENDPOINT_PROVISIONING_STATUS_SUCCEEDED": 3,
                "ENDPOINT_PROVISIONING_STATUS_FAILED": 4,
                "ENDPOINT_PROVISIONING_STATUS_CANCELLING": 5,
                "ENDPOINT_PROVISIONING_STATUS_CANCELLED": 6
              }
            }
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "servingMode": {
          "target": "com.modal.endpoint#EndpointServingMode",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "enum",
              "e": {
                "ENDPOINT_SERVING_MODE_UNSPECIFIED": 0,
                "ENDPOINT_SERVING_MODE_DEDICATED": 1,
                "ENDPOINT_SERVING_MODE_SHARED": 2
              }
            }
          }
        },
        "unauthenticated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.endpoint#EndpointMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "creationInfo": {
          "target": "com.modal.endpoint#CreationInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.endpoint#CreationInfo": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This message is used in metadata for resource objects like Dict, Queue, Volume, etc.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of resource creation",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.endpoint#AppState": {
      "type": "enum",
      "members": {
        "APP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_UNSPECIFIED"
          }
        },
        "APP_STATE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_EPHEMERAL",
            "smithy.api#documentation": "Will be discharged when the client disconnects"
          }
        },
        "APP_STATE_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DETACHED"
          }
        },
        "APP_STATE_DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DEPLOYED",
            "smithy.api#documentation": "Will be discharged when overwritten"
          }
        },
        "APP_STATE_STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_STOPPING",
            "smithy.api#documentation": "Winding down app due to user termination."
          }
        },
        "APP_STATE_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_STOPPED",
            "smithy.api#documentation": "Stopped"
          }
        },
        "APP_STATE_INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_INITIALIZING",
            "smithy.api#documentation": "App is created and in process of deployment."
          }
        },
        "APP_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DISABLED",
            "smithy.api#documentation": "Same as stopped but prevented from being garbage collected"
          }
        },
        "APP_STATE_DETACHED_DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DETACHED_DISCONNECTED",
            "smithy.api#documentation": "App is detached and local client has disconnected."
          }
        },
        "APP_STATE_DERIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STATE_DERIVED",
            "smithy.api#documentation": "App is derived from another workspace. Acts as a static, immutable group of functions.",
            "smithy.api#deprecated": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NOTE: make sure to update the frontend if we add a new state here https://github.com/modal-labs/modal/blob/main/frontend/src/routes/(dashboard)/%5B%5Bworkspace%5D%5D/apps/+page.svelte#L95"
      }
    },
    "com.modal.endpoint#EndpointProvisioningStatus": {
      "type": "enum",
      "members": {
        "ENDPOINT_PROVISIONING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_UNSPECIFIED"
          }
        },
        "ENDPOINT_PROVISIONING_STATUS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_PENDING"
          }
        },
        "ENDPOINT_PROVISIONING_STATUS_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_RUNNING"
          }
        },
        "ENDPOINT_PROVISIONING_STATUS_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_SUCCEEDED"
          }
        },
        "ENDPOINT_PROVISIONING_STATUS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_FAILED"
          }
        },
        "ENDPOINT_PROVISIONING_STATUS_CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_CANCELLING"
          }
        },
        "ENDPOINT_PROVISIONING_STATUS_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROVISIONING_STATUS_CANCELLED"
          }
        }
      }
    },
    "com.modal.endpoint#EndpointListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.endpoint#EndpointListItem"
      }
    },
    "com.modal.endpoint#ListEndpointResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.endpoint#EndpointListItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.endpoint#ListEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.modal.endpoint#ListEndpointRequest"
      },
      "output": {
        "target": "com.modal.endpoint#ListEndpointResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EndpointList",
          "code": 200
        }
      }
    },
    "com.modal.endpoint#EndpointStopSource": {
      "type": "enum",
      "members": {
        "ENDPOINT_STOP_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_STOP_SOURCE_UNSPECIFIED"
          }
        },
        "ENDPOINT_STOP_SOURCE_CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_STOP_SOURCE_CLI"
          }
        },
        "ENDPOINT_STOP_SOURCE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_STOP_SOURCE_WEB"
          }
        }
      }
    },
    "com.modal.endpoint#StopEndpointRequest": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "source": {
          "target": "com.modal.endpoint#EndpointStopSource",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "ENDPOINT_STOP_SOURCE_UNSPECIFIED": 0,
                "ENDPOINT_STOP_SOURCE_CLI": 1,
                "ENDPOINT_STOP_SOURCE_WEB": 2
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.endpoint#StopEndpointResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.endpoint#StopEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.modal.endpoint#StopEndpointRequest"
      },
      "output": {
        "target": "com.modal.endpoint#StopEndpointResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EndpointStop",
          "code": 200
        }
      }
    },
    "com.modal.endpoint#EndpointService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.endpoint#CreateEndpoint"
        },
        {
          "target": "com.modal.endpoint#EndpointGetByName"
        },
        {
          "target": "com.modal.endpoint#EndpointGetLifecycle"
        },
        {
          "target": "com.modal.endpoint#ListEndpoint"
        },
        {
          "target": "com.modal.endpoint#StopEndpoint"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Endpoint",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Endpoint`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
