{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.environment#EnvironmentBillingSummaryRequest": {
      "type": "structure",
      "members": {
        "startTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "all query intervals are implicitly one month long (to line up with billing cycles)",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.environment#EnvironmentBillingSummaryResponse": {
      "type": "structure",
      "members": {
        "startTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "endTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "meteredCost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "not showing credits, reservations, etc as those are applied at the workspace level",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "meteredCostBreakdown": {
          "target": "com.modal.environment#StringMap",
          "traits": {
            "smithy.api#documentation": "keyed by deployed, ephemeral, volume, notebook",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#EnvironmentBillingSummary": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentBillingSummaryRequest"
      },
      "output": {
        "target": "com.modal.environment#EnvironmentBillingSummaryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentBillingSummary",
          "code": 200
        },
        "smithy.api#documentation": "Environments"
      }
    },
    "com.modal.environment#EnvironmentSettings": {
      "type": "structure",
      "members": {
        "imageBuilderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "webhookSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "maxConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "maxConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int32"
            }
          }
        },
        "blockUnauthenticatedResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, new unauthenticated web functions, Servers, tunnels, and Endpoints in this environment are rejected. Unset inherits the workspace default.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment-scoped settings, with workspace-level defaults. Note that we use MergeFrom to combine workspace / environment settings, which will *append* any `repeated` fields!"
      }
    },
    "com.modal.environment#EnvironmentType": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_TYPE_UNSPECIFIED"
          }
        },
        "ENVIRONMENT_TYPE_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_TYPE_PUBLIC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creation-time environment classification. Captures whether an environment is public. is_managed and machine_generated may be folded in as future values."
      }
    },
    "com.modal.environment#EnvironmentRole": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_ROLE_UNSPECIFIED"
          }
        },
        "ENVIRONMENT_ROLE_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_ROLE_VIEWER"
          }
        },
        "ENVIRONMENT_ROLE_CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_ROLE_CONTRIBUTOR"
          }
        },
        "ENVIRONMENT_ROLE_NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_ROLE_NO_ACCESS"
          }
        }
      }
    },
    "com.modal.environment#CreateEnvironmentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "isManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "settings": {
          "target": "com.modal.environment#EnvironmentSettings",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "environmentType": {
          "target": "com.modal.environment#EnvironmentType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "ENVIRONMENT_TYPE_UNSPECIFIED": 0,
                "ENVIRONMENT_TYPE_PUBLIC": 1
              }
            }
          }
        },
        "defaultMemberRole": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        },
        "defaultMemberRoleStr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#CreateEnvironmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentCreate",
          "code": 200
        }
      }
    },
    "com.modal.environment#DeleteEnvironmentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#DeleteEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#DeleteEnvironmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentDelete",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentGetBudgetRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentGetBudgetResponse": {
      "type": "structure",
      "members": {
        "cycleBudgetDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        },
        "effectiveCycleSpendLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "currentCycleUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "spendLimitReached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#EnvironmentGetBudget": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentGetBudgetRequest"
      },
      "output": {
        "target": "com.modal.environment#EnvironmentGetBudgetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentGetBudget",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentGetManagedRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentGetManagedResponsePrincipalEnvRole": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "serviceUserId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "serviceUserName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "role": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        },
        "memberRole": {
          "target": "com.modal.environment#MemberRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "MEMBER_ROLE_UNSPECIFIED": 0,
                "MEMBER_ROLE_USER": 1,
                "MEMBER_ROLE_MANAGER": 2,
                "MEMBER_ROLE_OWNER": 3
              }
            }
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.environment#MemberRole": {
      "type": "enum",
      "members": {
        "MEMBER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_UNSPECIFIED"
          }
        },
        "MEMBER_ROLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_USER"
          }
        },
        "MEMBER_ROLE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_MANAGER"
          }
        },
        "MEMBER_ROLE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_OWNER"
          }
        }
      }
    },
    "com.modal.environment#EnvironmentGetManagedResponsePrincipalEnvRoleList": {
      "type": "list",
      "member": {
        "target": "com.modal.environment#EnvironmentGetManagedResponsePrincipalEnvRole"
      }
    },
    "com.modal.environment#EnvironmentGetManagedResponse": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "principalRoles": {
          "target": "com.modal.environment#EnvironmentGetManagedResponsePrincipalEnvRoleList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message",
              "rep": true
            }
          }
        },
        "additionalRoles": {
          "target": "com.modal.environment#EnvironmentGetManagedResponsePrincipalEnvRoleList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#EnvironmentGetManaged": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentGetManagedRequest"
      },
      "output": {
        "target": "com.modal.environment#EnvironmentGetManagedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentGetManaged",
          "code": 200
        }
      }
    },
    "com.modal.environment#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.environment#EnvironmentGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "objectCreationType": {
          "target": "com.modal.environment#ObjectCreationType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "OBJECT_CREATION_TYPE_UNSPECIFIED": 0,
                "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": 1,
                "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": 2,
                "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": 3,
                "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": 4,
                "OBJECT_CREATION_TYPE_EPHEMERAL": 5
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "settings": {
          "target": "com.modal.environment#EnvironmentSettings",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "environmentType": {
          "target": "com.modal.environment#EnvironmentType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "ENVIRONMENT_TYPE_UNSPECIFIED": 0,
                "ENVIRONMENT_TYPE_PUBLIC": 1
              }
            }
          }
        }
      }
    },
    "com.modal.environment#EnvironmentGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.environment#EnvironmentMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#EnvironmentGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.environment#EnvironmentGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentGetRolesRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentGetRolesResponsePrincipal": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "serviceUserId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "serviceUserName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "role": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        },
        "roleStr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "choosableRoles": {
          "target": "com.modal.environment#EnvironmentRoleList",
          "traits": {
            "smithy.api#documentation": "String representation for the CLI",
            "com.distilled.proto#field": {
              "n": 9,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              },
              "rep": true
            }
          }
        },
        "memberRole": {
          "target": "com.modal.environment#MemberRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "MEMBER_ROLE_UNSPECIFIED": 0,
                "MEMBER_ROLE_USER": 1,
                "MEMBER_ROLE_MANAGER": 2,
                "MEMBER_ROLE_OWNER": 3
              }
            }
          }
        },
        "inheritsDefaultMemberRole": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bool"
            }
          }
        },
        "hasRoleAssignment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.environment#EnvironmentRoleList": {
      "type": "list",
      "member": {
        "target": "com.modal.environment#EnvironmentRole"
      }
    },
    "com.modal.environment#EnvironmentGetRolesResponsePrincipalList": {
      "type": "list",
      "member": {
        "target": "com.modal.environment#EnvironmentGetRolesResponsePrincipal"
      }
    },
    "com.modal.environment#EnvironmentGetRolesResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "principalRoles": {
          "target": "com.modal.environment#EnvironmentGetRolesResponsePrincipalList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message",
              "rep": true
            }
          }
        },
        "defaultMemberRole": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#EnvironmentGetRoles": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentGetRolesRequest"
      },
      "output": {
        "target": "com.modal.environment#EnvironmentGetRolesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentGetRoles",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentListItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "webhookSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "isManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "maxConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "int32"
            }
          }
        },
        "maxConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "int32"
            }
          }
        },
        "currentConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "int32"
            }
          }
        },
        "currentConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "int32"
            }
          }
        },
        "cycleBudgetDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "double"
            }
          }
        },
        "effectiveCycleSpendLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "manager-set",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "double"
            }
          }
        },
        "currentCycleUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "double"
            }
          }
        },
        "spendLimitReached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "bool"
            }
          }
        },
        "environmentType": {
          "target": "com.modal.environment#EnvironmentType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "enum",
              "e": {
                "ENVIRONMENT_TYPE_UNSPECIFIED": 0,
                "ENVIRONMENT_TYPE_PUBLIC": 1
              }
            }
          }
        },
        "defaultMemberRole": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        },
        "blockUnauthenticatedResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.environment#EnvironmentListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.environment#EnvironmentListItem"
      }
    },
    "com.modal.environment#ListEnvironmentResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.environment#EnvironmentListItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#ListEnvironment": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.modal.environment#ListEnvironmentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentList",
          "code": 200
        }
      }
    },
    "com.modal.environment#SetEnvironmentRoleRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "serviceUserId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "role": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        },
        "roleStr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#SetEnvironmentRole": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#SetEnvironmentRoleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentRoleSet",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentSetBudgetRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "cycleBudgetDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "clearBudget": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentSetBudget": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentSetBudgetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentSetBudget",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentSetDefaultMemberRoleRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "defaultMemberRole": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentSetDefaultMemberRole": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentSetDefaultMemberRoleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentSetDefaultMemberRole",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentSetManagedRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "defaultMemberRole": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#EnvironmentSetManaged": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#EnvironmentSetManagedRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentSetManaged",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentBlockUnauthenticatedResources": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_UNSPECIFIED"
          }
        },
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_INHERIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_INHERIT"
          }
        },
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_BLOCK"
          }
        },
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_ALLOW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Partial-update signal for EnvironmentUpdateRequest. Omitted means no-op. INHERIT clears the environment override so the workspace default applies."
      }
    },
    "com.modal.environment#UpdateEnvironmentRequest": {
      "type": "structure",
      "members": {
        "currentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "wkt",
              "w": "StringValue"
            }
          }
        },
        "webSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "wkt",
              "w": "StringValue"
            }
          }
        },
        "maxConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int32"
            }
          }
        },
        "maxConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "int32"
            }
          }
        },
        "blockUnauthenticatedResources": {
          "target": "com.modal.environment#EnvironmentBlockUnauthenticatedResources",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_UNSPECIFIED": 0,
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_INHERIT": 1,
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_BLOCK": 2,
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_ALLOW": 3
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.environment#UpdateEnvironmentResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "webhookSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "isManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "maxConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "int32"
            }
          }
        },
        "maxConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "int32"
            }
          }
        },
        "currentConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "int32"
            }
          }
        },
        "currentConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "int32"
            }
          }
        },
        "cycleBudgetDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "double"
            }
          }
        },
        "effectiveCycleSpendLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "manager-set",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "double"
            }
          }
        },
        "currentCycleUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "double"
            }
          }
        },
        "spendLimitReached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "bool"
            }
          }
        },
        "environmentType": {
          "target": "com.modal.environment#EnvironmentType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "enum",
              "e": {
                "ENVIRONMENT_TYPE_UNSPECIFIED": 0,
                "ENVIRONMENT_TYPE_PUBLIC": 1
              }
            }
          }
        },
        "defaultMemberRole": {
          "target": "com.modal.environment#EnvironmentRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "enum",
              "e": {
                "ENVIRONMENT_ROLE_UNSPECIFIED": 0,
                "ENVIRONMENT_ROLE_VIEWER": 1,
                "ENVIRONMENT_ROLE_CONTRIBUTOR": 2,
                "ENVIRONMENT_ROLE_NO_ACCESS": 3
              }
            }
          }
        },
        "blockUnauthenticatedResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.environment#UpdateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.modal.environment#UpdateEnvironmentRequest"
      },
      "output": {
        "target": "com.modal.environment#UpdateEnvironmentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/EnvironmentUpdate",
          "code": 200
        }
      }
    },
    "com.modal.environment#EnvironmentService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.environment#EnvironmentBillingSummary"
        },
        {
          "target": "com.modal.environment#CreateEnvironment"
        },
        {
          "target": "com.modal.environment#DeleteEnvironment"
        },
        {
          "target": "com.modal.environment#EnvironmentGetBudget"
        },
        {
          "target": "com.modal.environment#EnvironmentGetManaged"
        },
        {
          "target": "com.modal.environment#EnvironmentGetOrCreate"
        },
        {
          "target": "com.modal.environment#EnvironmentGetRoles"
        },
        {
          "target": "com.modal.environment#ListEnvironment"
        },
        {
          "target": "com.modal.environment#SetEnvironmentRole"
        },
        {
          "target": "com.modal.environment#EnvironmentSetBudget"
        },
        {
          "target": "com.modal.environment#EnvironmentSetDefaultMemberRole"
        },
        {
          "target": "com.modal.environment#EnvironmentSetManaged"
        },
        {
          "target": "com.modal.environment#UpdateEnvironment"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Environment",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Environment`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
