{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.functions#FunctionInput": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "serialized (args, kwargs).",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "argsBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "finalInput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "dataFormat": {
          "target": "com.modal.functions#DataFormat",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              }
            }
          }
        },
        "methodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For args_oneof.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#DataFormat": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "DATA_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_PICKLE"
          }
        },
        "DATA_FORMAT_ASGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_ASGI",
            "smithy.api#documentation": "Cloudpickle"
          }
        },
        "DATA_FORMAT_GENERATOR_DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_GENERATOR_DONE",
            "smithy.api#documentation": "\"Asgi\" protobuf message"
          }
        },
        "DATA_FORMAT_CBOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_CBOR",
            "smithy.api#documentation": "\"GeneratorDone\" protobuf message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which data format a binary message is encoded with."
      }
    },
    "com.modal.functions#InvokeFunctionAsyncRequest": {
      "type": "structure",
      "members": {
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "parentInputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "input": {
          "target": "com.modal.functions#FunctionInput",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#InvokeFunctionAsyncResponse": {
      "type": "structure",
      "members": {
        "retryWithBlobUpload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.functions#InvokeFunctionAsync": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#InvokeFunctionAsyncRequest"
      },
      "output": {
        "target": "com.modal.functions#InvokeFunctionAsyncResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionAsyncInvoke",
          "code": 200
        },
        "smithy.api#documentation": "Functions"
      }
    },
    "com.modal.functions#FunctionOptions": {
      "type": "structure",
      "members": {
        "secretIds": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        },
        "mountIds": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "resources": {
          "target": "com.modal.functions#Resources",
          "traits": {
            "smithy.api#documentation": "Currently not supported",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "retryPolicy": {
          "target": "com.modal.functions#FunctionRetryPolicy",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "concurrencyLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "uint32"
            }
          }
        },
        "taskIdleTimeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "uint32"
            }
          }
        },
        "warmPoolSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "uint32"
            }
          }
        },
        "volumeMounts": {
          "target": "com.modal.functions#VolumeMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message",
              "rep": true
            }
          }
        },
        "targetConcurrentInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "uint32"
            }
          }
        },
        "replaceVolumeMounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bool"
            }
          }
        },
        "replaceSecretIds": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bool"
            }
          }
        },
        "bufferContainers": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "uint32"
            }
          }
        },
        "maxConcurrentInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "uint32"
            }
          }
        },
        "batchMaxSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "uint32"
            }
          }
        },
        "batchLingerMs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "uint64"
            }
          }
        },
        "schedulerPlacement": {
          "target": "com.modal.functions#SchedulerPlacement",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "message"
            }
          }
        },
        "cloudProviderStr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 18,
              "t": "string"
            }
          }
        },
        "replaceCloudBucketMounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 19,
              "t": "bool"
            }
          }
        },
        "cloudBucketMounts": {
          "target": "com.modal.functions#CloudBucketMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 20,
              "t": "message",
              "rep": true
            }
          }
        },
        "pinnedAppVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 21,
              "t": "int32"
            }
          }
        },
        "routingRegion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 22,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "todo(ayush): update this to also use `autoscaler_settings`"
      }
    },
    "com.modal.functions#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.functions#Resources": {
      "type": "structure",
      "members": {
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "milliCpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "gpuConfig": {
          "target": "com.modal.functions#GPUConfig",
          "traits": {
            "smithy.api#documentation": "milli CPU cores",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "memoryMbMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        },
        "ephemeralDiskMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "uint32"
            }
          }
        },
        "milliCpuMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "uint32"
            }
          }
        },
        "rdma": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "milli CPU cores",
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "milli CPU cores"
      }
    },
    "com.modal.functions#GPUConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.modal.functions#GPUType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GPU_TYPE_UNSPECIFIED": 0,
                "GPU_TYPE_T4": 1,
                "GPU_TYPE_A100": 2,
                "GPU_TYPE_A10G": 3,
                "GPU_TYPE_ANY": 4,
                "GPU_TYPE_A100_80GB": 8,
                "GPU_TYPE_L4": 9,
                "GPU_TYPE_H100": 10,
                "GPU_TYPE_L40S": 11,
                "GPU_TYPE_H200": 12
              }
            }
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated, at some point",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "gpuType": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#GPUType": {
      "type": "enum",
      "members": {
        "GPU_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_UNSPECIFIED",
            "smithy.api#documentation": "Note: this enum is no longer used by current clients - don't add new types Old clients still send it, so we use it server-side for compatibility"
          }
        },
        "GPU_TYPE_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_T4"
          }
        },
        "GPU_TYPE_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A100"
          }
        },
        "GPU_TYPE_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A10G"
          }
        },
        "GPU_TYPE_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_ANY"
          }
        },
        "GPU_TYPE_A100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A100_80GB"
          }
        },
        "GPU_TYPE_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_L4"
          }
        },
        "GPU_TYPE_H100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_H100"
          }
        },
        "GPU_TYPE_L40S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_L40S"
          }
        },
        "GPU_TYPE_H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_H200"
          }
        }
      }
    },
    "com.modal.functions#FunctionRetryPolicy": {
      "type": "structure",
      "members": {
        "backoffCoefficient": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "float"
            }
          }
        },
        "initialDelayMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "maxDelayMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NOTE: two-byte field number not used for special reason. copy-paste error. Ref: PR #2542",
            "com.distilled.proto#field": {
              "n": 18,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.functions#VolumeMount": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "allowBackgroundCommits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#VolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#VolumeMount"
      }
    },
    "com.modal.functions#SchedulerPlacement": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string",
              "rep": true
            }
          }
        },
        "Zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "Lifecycle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "InstanceTypes": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string",
              "rep": true
            }
          }
        },
        "nonpreemptible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scheduling constraints for Functions and Sandboxes."
      }
    },
    "com.modal.functions#CloudBucketMount": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "credentialsSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "bucketType": {
          "target": "com.modal.functions#CloudBucketMountBucketType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "UNSPECIFIED": 0,
                "S3": 1,
                "R2": 2,
                "GCP": 3
              }
            }
          }
        },
        "requesterPays": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bool"
            }
          }
        },
        "bucketEndpointUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "keyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "oidcAuthRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "forcePathStyle": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "metadataTtlType": {
          "target": "com.modal.functions#CloudBucketMountMetadataTTLType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "enum",
              "e": {
                "METADATA_TTL_TYPE_UNSPECIFIED": 0,
                "METADATA_TTL_TYPE_MINIMAL": 1,
                "METADATA_TTL_TYPE_INDEFINITE": 2
              }
            }
          }
        },
        "metadataTtlSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "uint64"
            }
          }
        }
      }
    },
    "com.modal.functions#CloudBucketMountBucketType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R2"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        }
      }
    },
    "com.modal.functions#CloudBucketMountMetadataTTLType": {
      "type": "enum",
      "members": {
        "METADATA_TTL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_TTL_TYPE_UNSPECIFIED"
          }
        },
        "METADATA_TTL_TYPE_MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_TTL_TYPE_MINIMAL"
          }
        },
        "METADATA_TTL_TYPE_INDEFINITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_TTL_TYPE_INDEFINITE"
          }
        }
      }
    },
    "com.modal.functions#CloudBucketMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#CloudBucketMount"
      }
    },
    "com.modal.functions#FunctionBindParamsRequest": {
      "type": "structure",
      "members": {
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "serializedParams": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "functionOptions": {
          "target": "com.modal.functions#FunctionOptions",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "authSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {},
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#FunctionHandleMetadata": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains all the info about a function that is needed to trigger the right behaviour when using a FunctionHandler. Notably excludes things purely used for *executing* the function in a container entrypoint Should be a subset and use IDs/types from `Function` above",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionType": {
          "target": "com.modal.functions#FunctionFunctionType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FUNCTION_TYPE_UNSPECIFIED": 0,
                "FUNCTION_TYPE_GENERATOR": 1,
                "FUNCTION_TYPE_FUNCTION": 2
              }
            }
          }
        },
        "webUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 28,
              "t": "string"
            }
          }
        },
        "isMethod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 39,
              "t": "bool"
            }
          }
        },
        "useFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 40,
              "t": "string"
            }
          }
        },
        "useMethodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "used for methods",
            "com.distilled.proto#field": {
              "n": 41,
              "t": "string"
            }
          }
        },
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "used for methods",
            "com.distilled.proto#field": {
              "n": 42,
              "t": "string"
            }
          }
        },
        "classParameterInfo": {
          "target": "com.modal.functions#ClassParameterInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 43,
              "t": "message"
            }
          }
        },
        "methodHandleMetadata": {
          "target": "com.modal.functions#FunctionHandleMetadataMap",
          "traits": {
            "smithy.api#documentation": "Mapping of method names to their metadata, only non-empty for class service functions",
            "com.distilled.proto#field": {
              "n": 44,
              "t": "map",
              "k": "string",
              "v": {
                "t": "message"
              }
            }
          }
        },
        "functionSchema": {
          "target": "com.modal.functions#FunctionSchema",
          "traits": {
            "com.distilled.proto#field": {
              "n": 45,
              "t": "message"
            }
          }
        },
        "inputPlaneUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 46,
              "t": "string"
            }
          }
        },
        "inputPlaneRegion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 47,
              "t": "string"
            }
          }
        },
        "maxObjectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use optional to ensure unset values default to None instead of 0",
            "com.distilled.proto#field": {
              "n": 48,
              "t": "uint64"
            }
          }
        },
        "maxAsyncObjectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 53,
              "t": "uint64"
            }
          }
        },
        "ExperimentalFlashUrls": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 49,
              "t": "string",
              "rep": true
            }
          }
        },
        "supportedInputFormats": {
          "target": "com.modal.functions#DataFormatList",
          "traits": {
            "smithy.api#documentation": "(Optional) urls for flash services",
            "com.distilled.proto#field": {
              "n": 50,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "supportedOutputFormats": {
          "target": "com.modal.functions#DataFormatList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 51,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 52,
              "t": "string"
            }
          }
        },
        "baseFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base Function ID for a variant, or the Function's own ID otherwise.",
            "com.distilled.proto#field": {
              "n": 54,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#FunctionFunctionType": {
      "type": "enum",
      "members": {
        "FUNCTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_UNSPECIFIED"
          }
        },
        "FUNCTION_TYPE_GENERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_GENERATOR"
          }
        },
        "FUNCTION_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_TYPE_FUNCTION"
          }
        }
      }
    },
    "com.modal.functions#ClassParameterInfo": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.modal.functions#ClassParameterInfoParameterSerializationFormat",
          "traits": {
            "smithy.api#documentation": "new format using api.FunctionParameterSet",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED": 0,
                "PARAM_SERIALIZATION_FORMAT_PICKLE": 1,
                "PARAM_SERIALIZATION_FORMAT_PROTO": 2
              }
            }
          }
        },
        "schema": {
          "target": "com.modal.functions#ClassParameterSpecList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.functions#ClassParameterInfoParameterSerializationFormat": {
      "type": "enum",
      "members": {
        "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_UNSPECIFIED"
          }
        },
        "PARAM_SERIALIZATION_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_PICKLE"
          }
        },
        "PARAM_SERIALIZATION_FORMAT_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_SERIALIZATION_FORMAT_PROTO",
            "smithy.api#documentation": "legacy format - pickle of (args, kwargs) tuple"
          }
        }
      }
    },
    "com.modal.functions#ClassParameterSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TODO: rename into NamedPayloadType or similar",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "type": {
          "target": "com.modal.functions#ParameterType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "PARAM_TYPE_UNSPECIFIED": 0,
                "PARAM_TYPE_STRING": 1,
                "PARAM_TYPE_INT": 2,
                "PARAM_TYPE_PICKLE": 3,
                "PARAM_TYPE_BYTES": 4,
                "PARAM_TYPE_UNKNOWN": 5,
                "PARAM_TYPE_LIST": 6,
                "PARAM_TYPE_DICT": 7,
                "PARAM_TYPE_NONE": 8,
                "PARAM_TYPE_BOOL": 9
              }
            }
          }
        },
        "hasDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "TODO: deprecate - use full_type instead",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "stringDefault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default *values* are only registered for class parameters",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "intDefault": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "int64"
            }
          }
        },
        "pickleDefault": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bytes"
            }
          }
        },
        "bytesDefault": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "bytes"
            }
          }
        },
        "boolDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "fullType": {
          "target": "com.modal.functions#GenericPayloadType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.functions#ParameterType": {
      "type": "enum",
      "members": {
        "PARAM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_UNSPECIFIED"
          }
        },
        "PARAM_TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_STRING"
          }
        },
        "PARAM_TYPE_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_INT"
          }
        },
        "PARAM_TYPE_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_PICKLE"
          }
        },
        "PARAM_TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_BYTES",
            "smithy.api#documentation": "currently unused"
          }
        },
        "PARAM_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_UNKNOWN"
          }
        },
        "PARAM_TYPE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_LIST",
            "smithy.api#documentation": "used in schemas to signify unrecognized or un-annotated types"
          }
        },
        "PARAM_TYPE_DICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_DICT"
          }
        },
        "PARAM_TYPE_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_NONE"
          }
        },
        "PARAM_TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAM_TYPE_BOOL"
          }
        }
      }
    },
    "com.modal.functions#GenericPayloadType": {
      "type": "structure",
      "members": {
        "baseType": {
          "target": "com.modal.functions#ParameterType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "PARAM_TYPE_UNSPECIFIED": 0,
                "PARAM_TYPE_STRING": 1,
                "PARAM_TYPE_INT": 2,
                "PARAM_TYPE_PICKLE": 3,
                "PARAM_TYPE_BYTES": 4,
                "PARAM_TYPE_UNKNOWN": 5,
                "PARAM_TYPE_LIST": 6,
                "PARAM_TYPE_DICT": 7,
                "PARAM_TYPE_NONE": 8,
                "PARAM_TYPE_BOOL": 9
              }
            }
          }
        },
        "subTypes": {
          "target": "com.modal.functions#GenericPayloadTypeList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.functions#GenericPayloadTypeList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#GenericPayloadType"
      }
    },
    "com.modal.functions#ClassParameterSpecList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#ClassParameterSpec"
      }
    },
    "com.modal.functions#FunctionHandleMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.modal.functions#FunctionHandleMetadata"
      }
    },
    "com.modal.functions#FunctionSchema": {
      "type": "structure",
      "members": {
        "schemaType": {
          "target": "com.modal.functions#FunctionSchemaFunctionSchemaType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "FUNCTION_SCHEMA_UNSPECIFIED": 0,
                "FUNCTION_SCHEMA_V1": 1
              }
            }
          }
        },
        "arguments": {
          "target": "com.modal.functions#ClassParameterSpecList",
          "traits": {
            "smithy.api#documentation": "allows easy disambiguation between empty schema and no schema collection etc.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "returnType": {
          "target": "com.modal.functions#GenericPayloadType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.functions#FunctionSchemaFunctionSchemaType": {
      "type": "enum",
      "members": {
        "FUNCTION_SCHEMA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_SCHEMA_UNSPECIFIED"
          }
        },
        "FUNCTION_SCHEMA_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_SCHEMA_V1"
          }
        }
      }
    },
    "com.modal.functions#DataFormatList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#DataFormat"
      }
    },
    "com.modal.functions#FunctionBindParamsResponse": {
      "type": "structure",
      "members": {
        "boundFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "handleMetadata": {
          "target": "com.modal.functions#FunctionHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.functions#FunctionBindParams": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#FunctionBindParamsRequest"
      },
      "output": {
        "target": "com.modal.functions#FunctionBindParamsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionBindParams",
          "code": 200
        }
      }
    },
    "com.modal.functions#CancelFunctionCallRequest": {
      "type": "structure",
      "members": {
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "terminateContainers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#CancelFunctionCall": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#CancelFunctionCallRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionCallCancel",
          "code": 200
        }
      }
    },
    "com.modal.functions#FunctionCallFromIdRequest": {
      "type": "structure",
      "members": {
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#FunctionCallHandleMetadata": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#FunctionCallFromIdResponse": {
      "type": "structure",
      "members": {
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "numInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        },
        "metadata": {
          "target": "com.modal.functions#FunctionCallHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.functions#FunctionCallFromId": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#FunctionCallFromIdRequest"
      },
      "output": {
        "target": "com.modal.functions#FunctionCallFromIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionCallFromId",
          "code": 200
        }
      }
    },
    "com.modal.functions#FunctionCallGetInfoRequest": {
      "type": "structure",
      "members": {
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#FunctionCallInfo": {
      "type": "structure",
      "members": {
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "idx": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "old fields",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "double"
            }
          }
        },
        "scheduledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "when the call was created",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "pendingInputs": {
          "target": "com.modal.functions#InputCategoryInfo",
          "traits": {
            "smithy.api#documentation": "old fields",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "message"
            }
          }
        },
        "failedInputs": {
          "target": "com.modal.functions#InputCategoryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "message"
            }
          }
        },
        "succeededInputs": {
          "target": "com.modal.functions#InputCategoryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "message"
            }
          }
        },
        "timeoutInputs": {
          "target": "com.modal.functions#InputCategoryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "message"
            }
          }
        },
        "cancelledInputs": {
          "target": "com.modal.functions#InputCategoryInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "message"
            }
          }
        },
        "totalInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "int32"
            }
          }
        }
      }
    },
    "com.modal.functions#InputCategoryInfo": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "latest": {
          "target": "com.modal.functions#InputInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.functions#InputInfo": {
      "type": "structure",
      "members": {
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "idx": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "double"
            }
          }
        },
        "finishedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "double"
            }
          }
        },
        "taskStartupTime": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "double"
            }
          }
        },
        "taskFirstInput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.functions#InputInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#InputInfo"
      }
    },
    "com.modal.functions#FunctionCallGetInfoResponse": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.modal.functions#FunctionCallInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.functions#FunctionCallGetInfo": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#FunctionCallGetInfoRequest"
      },
      "output": {
        "target": "com.modal.functions#FunctionCallGetInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionCallGetInfo",
          "code": 200
        }
      }
    },
    "com.modal.functions#ListFunctionCallRequest": {
      "type": "structure",
      "members": {
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#FunctionCallInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#FunctionCallInfo"
      }
    },
    "com.modal.functions#ListFunctionCallResponse": {
      "type": "structure",
      "members": {
        "functionCalls": {
          "target": "com.modal.functions#FunctionCallInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.functions#ListFunctionCall": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#ListFunctionCallRequest"
      },
      "output": {
        "target": "com.modal.functions#ListFunctionCallResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionCallList",
          "code": 200
        }
      }
    },
    "com.modal.functions#DataChunk": {
      "type": "structure",
      "members": {
        "dataFormat": {
          "target": "com.modal.functions#DataFormat",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              }
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "index": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Chunks of data that can be streamed in and out of tasks."
      }
    },
    "com.modal.functions#DataChunkList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#DataChunk"
      }
    },
    "com.modal.functions#FunctionCallPutDataOutRequest": {
      "type": "structure",
      "members": {
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "attemptToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "dataChunks": {
          "target": "com.modal.functions#DataChunkList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.functions#FunctionCallPutDataOut": {
      "type": "operation",
      "input": {
        "target": "com.modal.functions#FunctionCallPutDataOutRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/FunctionCallPutDataOut",
          "code": 200
        }
      }
    },
    "com.modal.functions#Function": {
      "type": "structure",
      "members": {
        "moduleName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "mountIds": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string",
              "rep": true
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "functionSerialized": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bytes"
            }
          }
        },
        "definitionType": {
          "target": "com.modal.functions#FunctionDefinitionType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "DEFINITION_TYPE_UNSPECIFIED": 0,
                "DEFINITION_TYPE_SERIALIZED": 1,
                "DEFINITION_TYPE_FILE": 2
              }
            }
          }
        },
        "functionType": {
          "target": "com.modal.functions#FunctionFunctionType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FUNCTION_TYPE_UNSPECIFIED": 0,
                "FUNCTION_TYPE_GENERATOR": 1,
                "FUNCTION_TYPE_FUNCTION": 2
              }
            }
          }
        },
        "resources": {
          "target": "com.modal.functions#Resources",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "secretIds": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string",
              "rep": true
            }
          }
        },
        "rateLimit": {
          "target": "com.modal.functions#RateLimit",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "message"
            }
          }
        },
        "webhookConfig": {
          "target": "com.modal.functions#WebhookConfig",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "message"
            }
          }
        },
        "sharedVolumeMounts": {
          "target": "com.modal.functions#SharedVolumeMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "message",
              "rep": true
            }
          }
        },
        "proxyId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "string"
            }
          }
        },
        "retryPolicy": {
          "target": "com.modal.functions#FunctionRetryPolicy",
          "traits": {
            "com.distilled.proto#field": {
              "n": 18,
              "t": "message"
            }
          }
        },
        "concurrencyLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 19,
              "t": "uint32"
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "old fields",
            "com.distilled.proto#field": {
              "n": 21,
              "t": "uint32"
            }
          }
        },
        "ptyInfo": {
          "target": "com.modal.functions#PTYInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 22,
              "t": "message"
            }
          }
        },
        "classSerialized": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 23,
              "t": "bytes"
            }
          }
        },
        "taskIdleTimeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 25,
              "t": "uint32"
            }
          }
        },
        "cloudProvider": {
          "target": "com.modal.functions#CloudProvider",
          "traits": {
            "smithy.api#documentation": "To be replaced by autoscaler_settings.scaledown_period",
            "com.distilled.proto#field": {
              "n": 26,
              "t": "enum",
              "e": {
                "CLOUD_PROVIDER_UNSPECIFIED": 0,
                "CLOUD_PROVIDER_AWS": 1,
                "CLOUD_PROVIDER_GCP": 2,
                "CLOUD_PROVIDER_AUTO": 3,
                "CLOUD_PROVIDER_OCI": 4
              }
            }
          }
        },
        "warmPoolSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated at some point",
            "com.distilled.proto#field": {
              "n": 27,
              "t": "uint32"
            }
          }
        },
        "webUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To be replaced by autoscaler_settings.min_containers",
            "com.distilled.proto#field": {
              "n": 28,
              "t": "string"
            }
          }
        },
        "webUrlInfo": {
          "target": "com.modal.functions#WebUrlInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 29,
              "t": "message"
            }
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, overrides the runtime used by the function, either \"runc\" or \"gvisor\".",
            "com.distilled.proto#field": {
              "n": 30,
              "t": "string"
            }
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 31,
              "t": "string"
            }
          }
        },
        "volumeMounts": {
          "target": "com.modal.functions#VolumeMountList",
          "traits": {
            "smithy.api#documentation": "Formerly stub_name",
            "com.distilled.proto#field": {
              "n": 33,
              "t": "message",
              "rep": true
            }
          }
        },
        "maxConcurrentInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 34,
              "t": "uint32"
            }
          }
        },
        "customDomainInfo": {
          "target": "com.modal.functions#CustomDomainInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 35,
              "t": "message",
              "rep": true
            }
          }
        },
        "workerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 36,
              "t": "string"
            }
          }
        },
        "runtimeDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only.",
            "com.distilled.proto#field": {
              "n": 37,
              "t": "bool"
            }
          }
        },
        "isBuilderFunction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only. TODO: combine into enum?",
            "com.distilled.proto#field": {
              "n": 32,
              "t": "bool"
            }
          }
        },
        "isAutoSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 38,
              "t": "bool"
            }
          }
        },
        "isMethod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 39,
              "t": "bool"
            }
          }
        },
        "isCheckpointingFunction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 40,
              "t": "bool"
            }
          }
        },
        "checkpointingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Checkpoint and restore",
            "com.distilled.proto#field": {
              "n": 41,
              "t": "bool"
            }
          }
        },
        "checkpoint": {
          "target": "com.modal.functions#CheckpointInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 42,
              "t": "message"
            }
          }
        },
        "objectDependencies": {
          "target": "com.modal.functions#ObjectDependencyList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 43,
              "t": "message",
              "rep": true
            }
          }
        },
        "blockNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 44,
              "t": "bool"
            }
          }
        },
        "maxInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "In the SDK, we've deprecated `max_inputs` (which only ever implemented `max_inputs=1`) in favor of a boolean `single_use_containers` parameter.",
            "com.distilled.proto#field": {
              "n": 46,
              "t": "uint32"
            }
          }
        },
        "s3Mounts": {
          "target": "com.modal.functions#S3MountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 47,
              "t": "message",
              "rep": true
            }
          }
        },
        "cloudBucketMounts": {
          "target": "com.modal.functions#CloudBucketMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 51,
              "t": "message",
              "rep": true
            }
          }
        },
        "schedulerPlacement": {
          "target": "com.modal.functions#SchedulerPlacement",
          "traits": {
            "smithy.api#documentation": "_experimental_scheduler",
            "com.distilled.proto#field": {
              "n": 50,
              "t": "message"
            }
          }
        },
        "isClass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "_experimental_scheduler_placement",
            "com.distilled.proto#field": {
              "n": 53,
              "t": "bool"
            }
          }
        },
        "useFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if \"Function\" is actually a class grouping multiple methods",
            "com.distilled.proto#field": {
              "n": 54,
              "t": "string"
            }
          }
        },
        "useMethodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "for class methods use this function id instead for invocations - the *referenced* function should have is_class=True",
            "com.distilled.proto#field": {
              "n": 55,
              "t": "string"
            }
          }
        },
        "classParameterInfo": {
          "target": "com.modal.functions#ClassParameterInfo",
          "traits": {
            "smithy.api#documentation": "for class methods - this method name needs to be included in the FunctionInput",
            "com.distilled.proto#field": {
              "n": 56,
              "t": "message"
            }
          }
        },
        "batchMaxSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "_experimental_resources",
            "com.distilled.proto#field": {
              "n": 60,
              "t": "uint32"
            }
          }
        },
        "batchLingerMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of inputs to fetch at once",
            "com.distilled.proto#field": {
              "n": 61,
              "t": "uint64"
            }
          }
        },
        "i6pnEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Miliseconds to block before a response is needed",
            "com.distilled.proto#field": {
              "n": 62,
              "t": "bool"
            }
          }
        },
        "ExperimentalConcurrentCancellations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 63,
              "t": "bool"
            }
          }
        },
        "targetConcurrentInputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 64,
              "t": "uint32"
            }
          }
        },
        "ExperimentalTaskTemplatesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "TODO(irfansharif): Remove, once https://github.com/modal-labs/modal/pull/15645 lands.",
            "com.distilled.proto#field": {
              "n": 65,
              "t": "bool"
            }
          }
        },
        "ExperimentalTaskTemplates": {
          "target": "com.modal.functions#TaskTemplateList",
          "traits": {
            "smithy.api#documentation": "forces going through the new gpu-fallbacks integration path, even if no fallback options are specified",
            "com.distilled.proto#field": {
              "n": 66,
              "t": "message",
              "rep": true
            }
          }
        },
        "ExperimentalGroupSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "for fallback options, where the first/most-preferred \"template\" is derived from fields above When the function is a \"grouped\" one, this records the # of tasks we want to schedule in tandem.",
            "com.distilled.proto#field": {
              "n": 67,
              "t": "uint32"
            }
          }
        },
        "ExperimentalFabricSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When set on a \"grouped\" function, constrains placement across GPU-memory fabrics: the cluster is placed in co-fabric blocks of this size.",
            "com.distilled.proto#field": {
              "n": 94,
              "t": "uint32"
            }
          }
        },
        "untrusted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the function will be run in an untrusted environment.",
            "com.distilled.proto#field": {
              "n": 68,
              "t": "bool"
            }
          }
        },
        "ExperimentalBufferContainers": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 69,
              "t": "uint32"
            }
          }
        },
        "ExperimentalProxyIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To be replaced by autoscaler_settings.buffer_containers _experimental_proxy_ip -> ProxyInfo TODO: deprecate.",
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 70,
              "t": "string"
            }
          }
        },
        "runtimePerfRecord": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 71,
              "t": "bool"
            }
          }
        },
        "schedule": {
          "target": "com.modal.functions#Schedule",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only.",
            "com.distilled.proto#field": {
              "n": 72,
              "t": "message"
            }
          }
        },
        "snapshotDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 73,
              "t": "bool"
            }
          }
        },
        "methodDefinitions": {
          "target": "com.modal.functions#MethodDefinitionMap",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only. Mapping of method names to method definitions, only non-empty for class service functions",
            "com.distilled.proto#field": {
              "n": 74,
              "t": "map",
              "k": "string",
              "v": {
                "t": "message"
              }
            }
          }
        },
        "methodDefinitionsSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 75,
              "t": "bool"
            }
          }
        },
        "ExperimentalCustomScaling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 76,
              "t": "bool"
            }
          }
        },
        "cloudProviderStr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 77,
              "t": "string"
            }
          }
        },
        "ExperimentalEnableGpuSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Supersedes cloud_provider",
            "com.distilled.proto#field": {
              "n": 78,
              "t": "bool"
            }
          }
        },
        "autoscalerSettings": {
          "target": "com.modal.functions#AutoscalerSettings",
          "traits": {
            "smithy.api#documentation": "Experimental support for GPU snapshotting",
            "com.distilled.proto#field": {
              "n": 79,
              "t": "message"
            }
          }
        },
        "functionSchema": {
          "target": "com.modal.functions#FunctionSchema",
          "traits": {
            "smithy.api#documentation": "Bundle of parameters related to autoscaling",
            "com.distilled.proto#field": {
              "n": 80,
              "t": "message"
            }
          }
        },
        "experimentalOptions": {
          "target": "com.modal.functions#StringMap",
          "traits": {
            "smithy.api#documentation": "Function schema, may be missing: client doesn't block deployment if it fails to get it For server-side experimental functionality. Prefer using this over individual _experimental_* fields. Note the value type as string. Internally we'll coerce all values to string with str(). On the server, it's necessary to convert back to the most natural type (e.g. int) when relevant.",
            "com.distilled.proto#field": {
              "n": 81,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "mountClientDependencies": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: still set by client but ignored by server. The scheduler derives this from the image's builder_version directly.",
            "com.distilled.proto#field": {
              "n": 82,
              "t": "bool"
            }
          }
        },
        "flashServiceUrls": {
          "target": "com.modal.functions#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 83,
              "t": "string",
              "rep": true
            }
          }
        },
        "flashServiceLabel": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 84,
              "t": "string"
            }
          }
        },
        "enableGpuSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 85,
              "t": "bool"
            }
          }
        },
        "startupTimeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GPU memory snapshotting (alpha)",
            "com.distilled.proto#field": {
              "n": 86,
              "t": "uint32"
            }
          }
        },
        "supportedInputFormats": {
          "target": "com.modal.functions#DataFormatList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 87,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "supportedOutputFormats": {
          "target": "com.modal.functions#DataFormatList",
          "traits": {
            "smithy.api#documentation": "can be used as inputs",
            "com.distilled.proto#field": {
              "n": 88,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              },
              "rep": true
            }
          }
        },
        "httpConfig": {
          "target": "com.modal.functions#HTTPConfig",
          "traits": {
            "com.distilled.proto#field": {
              "n": 89,
              "t": "message"
            }
          }
        },
        "implementationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute on the module with the implementation, which may differ from function_name when the user provided a custom name= for the Function inside the Application namespace",
            "com.distilled.proto#field": {
              "n": 90,
              "t": "string"
            }
          }
        },
        "singleUseContainers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 91,
              "t": "bool"
            }
          }
        },
        "isServer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, containers will shut down after handling a single input",
            "com.distilled.proto#field": {
              "n": 92,
              "t": "bool"
            }
          }
        },
        "routingRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When True, the function is a server function",
            "com.distilled.proto#field": {
              "n": 93,
              "t": "string"
            }
          }
        },
        "isSessioned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Where inputs to a function should be routed through. True when the function is a Sessioned Server. Only valid together with is_server.",
            "com.distilled.proto#field": {
              "n": 95,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.functions#FunctionDefinitionType": {
      "type": "enum",
      "members": {
        "DEFINITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFINITION_TYPE_UNSPECIFIED"
          }
        },
        "DEFINITION_TYPE_SERIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFINITION_TYPE_SERIALIZED"
          }
        },
        "DEFINITION_TYPE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFINITION_TYPE_FILE"
          }
        }
      }
    },
    "com.modal.functions#RateLimit": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "interval": {
          "target": "com.modal.functions#RateLimitInterval",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "RATE_LIMIT_INTERVAL_UNSPECIFIED": 0,
                "RATE_LIMIT_INTERVAL_SECOND": 1,
                "RATE_LIMIT_INTERVAL_MINUTE": 2
              }
            }
          }
        }
      }
    },
    "com.modal.functions#RateLimitInterval": {
      "type": "enum",
      "members": {
        "RATE_LIMIT_INTERVAL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMIT_INTERVAL_UNSPECIFIED"
          }
        },
        "RATE_LIMIT_INTERVAL_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMIT_INTERVAL_SECOND"
          }
        },
        "RATE_LIMIT_INTERVAL_MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMIT_INTERVAL_MINUTE"
          }
        }
      }
    },
    "com.modal.functions#WebhookConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.modal.functions#WebhookType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "WEBHOOK_TYPE_UNSPECIFIED": 0,
                "WEBHOOK_TYPE_ASGI_APP": 1,
                "WEBHOOK_TYPE_FUNCTION": 2,
                "WEBHOOK_TYPE_WSGI_APP": 3,
                "WEBHOOK_TYPE_WEB_SERVER": 4
              }
            }
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "requestedSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "asyncMode": {
          "target": "com.modal.functions#WebhookAsyncMode",
          "traits": {
            "smithy.api#documentation": "User-supplied \"label\" component of URL",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "WEBHOOK_ASYNC_MODE_UNSPECIFIED": 0,
                "WEBHOOK_ASYNC_MODE_DISABLED": 2,
                "WEBHOOK_ASYNC_MODE_TRIGGER": 3,
                "WEBHOOK_ASYNC_MODE_AUTO": 4
              }
            }
          }
        },
        "customDomains": {
          "target": "com.modal.functions#CustomDomainConfigList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message",
              "rep": true
            }
          }
        },
        "webServerPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "uint32"
            }
          }
        },
        "webServerStartupTimeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "float"
            }
          }
        },
        "webEndpointDocs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "requiresProxyAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "ephemeralSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#WebhookType": {
      "type": "enum",
      "members": {
        "WEBHOOK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_UNSPECIFIED"
          }
        },
        "WEBHOOK_TYPE_ASGI_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_ASGI_APP"
          }
        },
        "WEBHOOK_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_FUNCTION"
          }
        },
        "WEBHOOK_TYPE_WSGI_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_WSGI_APP"
          }
        },
        "WEBHOOK_TYPE_WEB_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_WEB_SERVER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default"
      }
    },
    "com.modal.functions#WebhookAsyncMode": {
      "type": "enum",
      "members": {
        "WEBHOOK_ASYNC_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_ASYNC_MODE_UNSPECIFIED"
          }
        },
        "WEBHOOK_ASYNC_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_ASYNC_MODE_DISABLED",
            "smithy.api#documentation": "unused REDIRECT mode"
          }
        },
        "WEBHOOK_ASYNC_MODE_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_ASYNC_MODE_TRIGGER",
            "smithy.api#documentation": "No longer used by client"
          }
        },
        "WEBHOOK_ASYNC_MODE_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_ASYNC_MODE_AUTO",
            "smithy.api#documentation": "No longer used by client (previously used when wait_for_response=False)"
          }
        }
      }
    },
    "com.modal.functions#CustomDomainConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#CustomDomainConfigList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#CustomDomainConfig"
      }
    },
    "com.modal.functions#SharedVolumeMount": {
      "type": "structure",
      "members": {
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "sharedVolumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "cloudProvider": {
          "target": "com.modal.functions#CloudProvider",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "CLOUD_PROVIDER_UNSPECIFIED": 0,
                "CLOUD_PROVIDER_AWS": 1,
                "CLOUD_PROVIDER_GCP": 2,
                "CLOUD_PROVIDER_AUTO": 3,
                "CLOUD_PROVIDER_OCI": 4
              }
            }
          }
        }
      }
    },
    "com.modal.functions#CloudProvider": {
      "type": "enum",
      "members": {
        "CLOUD_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_UNSPECIFIED"
          }
        },
        "CLOUD_PROVIDER_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_AWS"
          }
        },
        "CLOUD_PROVIDER_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_GCP"
          }
        },
        "CLOUD_PROVIDER_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_AUTO"
          }
        },
        "CLOUD_PROVIDER_OCI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_OCI"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "libmodal/modal-go: Go SDK, since version modal-go/v0.0.15"
      }
    },
    "com.modal.functions#SharedVolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#SharedVolumeMount"
      }
    },
    "com.modal.functions#PTYInfo": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        },
        "winszRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soon deprecated",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "winszCols": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "envTerm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "envColorterm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "envTermProgram": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "ptyType": {
          "target": "com.modal.functions#PTYInfoPTYType",
          "traits": {
            "smithy.api#documentation": "Replace function with shell",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "PTY_TYPE_UNSPECIFIED": 0,
                "PTY_TYPE_FUNCTION": 1,
                "PTY_TYPE_SHELL": 2
              }
            }
          }
        },
        "noTerminateOnIdleStdin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.functions#PTYInfoPTYType": {
      "type": "enum",
      "members": {
        "PTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_UNSPECIFIED"
          }
        },
        "PTY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_FUNCTION",
            "smithy.api#documentation": "Nothing"
          }
        },
        "PTY_TYPE_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_SHELL",
            "smithy.api#documentation": "Run function in PTY"
          }
        }
      }
    },
    "com.modal.functions#WebUrlInfo": {
      "type": "structure",
      "members": {
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        },
        "hasUniqueHash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "labelStolen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.functions#CustomDomainInfo": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#CustomDomainInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.functions#CustomDomainInfo"
      }
    },
    "com.modal.functions#CheckpointInfo": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "status": {
          "target": "com.modal.functions#CheckpointStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "CHECKPOINT_STATUS_UNSPECIFIED": 0,
                "CHECKPOINT_STATUS_PENDING": 1,
                "CHECKPOINT_STATUS_PROCESSING": 2,
                "CHECKPOINT_STATUS_READY": 3,
                "CHECKPOINT_STATUS_FAILED": 4
              }
            }
          }
        },
        "checkpointId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "runtimeFingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "int64"
            }
          }
        },
        "checksumIsFileIndex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bool"
            }
          }
        },
        "originalTaskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "runscRuntimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.functions#CheckpointStatus": {
      "type": "enum",
      "members": {
        "CHECKPOINT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKPOINT_STATUS_UNSPECIFIED"
          }
        },
        "CHECKPOINT_STATUS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKPOINT_STATUS_PENDING"
          }
        },
        "CHECKPOINT_STATUS_PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKPOINT_STATUS_PROCESSING"
          }
        },
        "CHECKPOINT_STATUS_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKPOINT_STATUS_READY"
          }
        },
        "CHECKPOINT_STATUS_FAILED": {
          "target": "smithy.api#Unit",
[...]
