{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.image#GetImageBuildChainRequest": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#ImageBuildStep": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "startedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "finishedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "builderAppId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "builderTaskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#ImageBuildStepList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#ImageBuildStep"
      }
    },
    "com.modal.image#GetImageBuildChainResponse": {
      "type": "structure",
      "members": {
        "buildSteps": {
          "target": "com.modal.image#ImageBuildStepList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#GetImageBuildChain": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#GetImageBuildChainRequest"
      },
      "output": {
        "target": "com.modal.image#GetImageBuildChainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageBuildChainGet",
          "code": 200
        },
        "smithy.api#documentation": "Images"
      }
    },
    "com.modal.image#DeleteImageRequest": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#DeleteImage": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#DeleteImageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageDelete",
          "code": 200
        }
      }
    },
    "com.modal.image#ImageFromIdRequest": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#ImageMetadata": {
      "type": "structure",
      "members": {
        "pythonVersionInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output of `python -VV. Not set if missing",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "pythonPackages": {
          "target": "com.modal.image#StringMap",
          "traits": {
            "smithy.api#documentation": "Installed python packages, as listed by by `pip list`. package name -> version. Empty if missing",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "workdir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The working directory of the image, as an absolute file path. For most images, this is not set, which means to use the default workdir: - On function runners, the default is `/root` (home directory). - For image builds and sandbox environments, it is `/`.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "libcVersionInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of glibc in this image, if any.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "imageBuilderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The builder version for/with which the image was created.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.image#ImageFromIdResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.image#ImageMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#ImageFromId": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#ImageFromIdRequest"
      },
      "output": {
        "target": "com.modal.image#ImageFromIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageFromId",
          "code": 200
        }
      }
    },
    "com.modal.image#ImageGetByTagRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Named image reference: \"[[workspace/]environment/]name[:tag]\". The tag suffix defaults to \"latest\" when omitted.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New clients should send environment name as a /-separated prefix of the `tag` field. environment_name only accepted when tag has no environment or workspace prefix.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#ImageGetByTagResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#ImageGetByTag": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#ImageGetByTagRequest"
      },
      "output": {
        "target": "com.modal.image#ImageGetByTagResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageGetByTag",
          "code": 200
        }
      }
    },
    "com.modal.image#Image": {
      "type": "structure",
      "members": {
        "baseImages": {
          "target": "com.modal.image#BaseImageList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message",
              "rep": true
            }
          }
        },
        "dockerfileCommands": {
          "target": "com.modal.image#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string",
              "rep": true
            }
          }
        },
        "contextFiles": {
          "target": "com.modal.image#ImageContextFileList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "message",
              "rep": true
            }
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "secretIds": {
          "target": "com.modal.image#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "string",
              "rep": true
            }
          }
        },
        "contextMountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Part of Image definition, because presence of GPU drivers affects the image that's built.",
            "com.distilled.proto#field": {
              "n": 15,
              "t": "string"
            }
          }
        },
        "gpuConfig": {
          "target": "com.modal.image#GPUConfig",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "message"
            }
          }
        },
        "imageRegistryConfig": {
          "target": "com.modal.image#ImageRegistryConfig",
          "traits": {
            "com.distilled.proto#field": {
              "n": 17,
              "t": "message"
            }
          }
        },
        "buildFunctionDef": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "string"
            }
          }
        },
        "buildFunctionGlobals": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "deprecated after 0.58.96",
            "com.distilled.proto#field": {
              "n": 18,
              "t": "bytes"
            }
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "deprecated after 0.58.96 If set, overrides the runtime used by the function. Specify either \"runc\" or \"gvisor\".",
            "com.distilled.proto#field": {
              "n": 19,
              "t": "string"
            }
          }
        },
        "runtimeDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Not included in image definition checksum as debug features do not affect built image.",
            "com.distilled.proto#field": {
              "n": 20,
              "t": "bool"
            }
          }
        },
        "buildFunction": {
          "target": "com.modal.image#BuildFunction",
          "traits": {
            "com.distilled.proto#field": {
              "n": 21,
              "t": "message"
            }
          }
        },
        "buildArgs": {
          "target": "com.modal.image#StringMap",
          "traits": {
            "smithy.api#documentation": "Build arguments for the image (--build-arg) for ARG substitution in Dockerfile.",
            "com.distilled.proto#field": {
              "n": 22,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "volumeMounts": {
          "target": "com.modal.image#VolumeMountList",
          "traits": {
            "smithy.api#documentation": "Volume mount for RUN commands",
            "com.distilled.proto#field": {
              "n": 23,
              "t": "message",
              "rep": true
            }
          }
        },
        "arch": {
          "target": "com.modal.image#Arch",
          "traits": {
            "smithy.api#documentation": "CPU architecture the image is built for. Images with an unspecified arch predate this field and are treated as x86_64.",
            "com.distilled.proto#field": {
              "n": 24,
              "t": "enum",
              "e": {
                "ARCH_UNSPECIFIED": 0,
                "ARCH_X86_64": 1,
                "ARCH_AARCH64": 2
              }
            }
          }
        }
      }
    },
    "com.modal.image#BaseImage": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "dockerTag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#BaseImageList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#BaseImage"
      }
    },
    "com.modal.image#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.image#ImageContextFile": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        }
      }
    },
    "com.modal.image#ImageContextFileList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#ImageContextFile"
      }
    },
    "com.modal.image#GPUConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.modal.image#GPUType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GPU_TYPE_UNSPECIFIED": 0,
                "GPU_TYPE_T4": 1,
                "GPU_TYPE_A100": 2,
                "GPU_TYPE_A10G": 3,
                "GPU_TYPE_ANY": 4,
                "GPU_TYPE_A100_80GB": 8,
                "GPU_TYPE_L4": 9,
                "GPU_TYPE_H100": 10,
                "GPU_TYPE_L40S": 11,
                "GPU_TYPE_H200": 12
              }
            }
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated, at some point",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "gpuType": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#GPUType": {
      "type": "enum",
      "members": {
        "GPU_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_UNSPECIFIED",
            "smithy.api#documentation": "Note: this enum is no longer used by current clients - don't add new types Old clients still send it, so we use it server-side for compatibility"
          }
        },
        "GPU_TYPE_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_T4"
          }
        },
        "GPU_TYPE_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A100"
          }
        },
        "GPU_TYPE_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A10G"
          }
        },
        "GPU_TYPE_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_ANY"
          }
        },
        "GPU_TYPE_A100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A100_80GB"
          }
        },
        "GPU_TYPE_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_L4"
          }
        },
        "GPU_TYPE_H100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_H100"
          }
        },
        "GPU_TYPE_L40S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_L40S"
          }
        },
        "GPU_TYPE_H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_H200"
          }
        }
      }
    },
    "com.modal.image#ImageRegistryConfig": {
      "type": "structure",
      "members": {
        "registryAuthType": {
          "target": "com.modal.image#RegistryAuthType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "REGISTRY_AUTH_TYPE_UNSPECIFIED": 0,
                "REGISTRY_AUTH_TYPE_AWS": 1,
                "REGISTRY_AUTH_TYPE_GCP": 2,
                "REGISTRY_AUTH_TYPE_PUBLIC": 3,
                "REGISTRY_AUTH_TYPE_STATIC_CREDS": 4
              }
            }
          }
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#RegistryAuthType": {
      "type": "enum",
      "members": {
        "REGISTRY_AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_AUTH_TYPE_UNSPECIFIED"
          }
        },
        "REGISTRY_AUTH_TYPE_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_AUTH_TYPE_AWS",
            "smithy.api#documentation": "Older clients send this instead of \"public\"."
          }
        },
        "REGISTRY_AUTH_TYPE_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_AUTH_TYPE_GCP"
          }
        },
        "REGISTRY_AUTH_TYPE_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_AUTH_TYPE_PUBLIC"
          }
        },
        "REGISTRY_AUTH_TYPE_STATIC_CREDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_AUTH_TYPE_STATIC_CREDS"
          }
        }
      }
    },
    "com.modal.image#BuildFunction": {
      "type": "structure",
      "members": {
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "globals": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "input": {
          "target": "com.modal.image#FunctionInput",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.image#FunctionInput": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "serialized (args, kwargs).",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "argsBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "finalInput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "dataFormat": {
          "target": "com.modal.image#DataFormat",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              }
            }
          }
        },
        "methodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For args_oneof.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#DataFormat": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "DATA_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_PICKLE"
          }
        },
        "DATA_FORMAT_ASGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_ASGI",
            "smithy.api#documentation": "Cloudpickle"
          }
        },
        "DATA_FORMAT_GENERATOR_DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_GENERATOR_DONE",
            "smithy.api#documentation": "\"Asgi\" protobuf message"
          }
        },
        "DATA_FORMAT_CBOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_CBOR",
            "smithy.api#documentation": "\"GeneratorDone\" protobuf message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which data format a binary message is encoded with."
      }
    },
    "com.modal.image#VolumeMount": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "allowBackgroundCommits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#VolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#VolumeMount"
      }
    },
    "com.modal.image#Arch": {
      "type": "enum",
      "members": {
        "ARCH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCH_UNSPECIFIED"
          }
        },
        "ARCH_X86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCH_X86_64"
          }
        },
        "ARCH_AARCH64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCH_AARCH64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture an image is built for and must run on."
      }
    },
    "com.modal.image#DeploymentNamespace": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_NAMESPACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_NAMESPACE_UNSPECIFIED"
          }
        },
        "DEPLOYMENT_NAMESPACE_WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_NAMESPACE_WORKSPACE"
          }
        },
        "DEPLOYMENT_NAMESPACE_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_NAMESPACE_GLOBAL"
          }
        }
      }
    },
    "com.modal.image#ImageGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.modal.image#Image",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "existingImageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "buildFunctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ignored",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "forceBuild": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "bool"
            }
          }
        },
        "namespace": {
          "target": "com.modal.image#DeploymentNamespace",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "DEPLOYMENT_NAMESPACE_UNSPECIFIED": 0,
                "DEPLOYMENT_NAMESPACE_WORKSPACE": 1,
                "DEPLOYMENT_NAMESPACE_GLOBAL": 3
              }
            }
          }
        },
        "builderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "allowGlobalDeployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only admins can publish global images, but this provides an extra failsafe",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "ignoreCache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the Image to build but don't clobber any Images with the same recipe in the cache",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#GenericResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.image#GenericResultGenericStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GENERIC_STATUS_UNSPECIFIED": 0,
                "GENERIC_STATUS_SUCCESS": 1,
                "GENERIC_STATUS_FAILURE": 2,
                "GENERIC_STATUS_TERMINATED": 3,
                "GENERIC_STATUS_TIMEOUT": 4,
                "GENERIC_STATUS_INIT_FAILURE": 5,
                "GENERIC_STATUS_INTERNAL_FAILURE": 6,
                "GENERIC_STATUS_IDLE_TIMEOUT": 7,
                "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": 8
              }
            }
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task or function output.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "exitcode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception message for failures, if available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "traceback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code of the container entrypoint or builder process if it terminates unexpectedly.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "serializedTb": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "String value of the Python traceback.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bytes"
            }
          }
        },
        "tbLineCache": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled traceback object.",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bytes"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled line cache for traceback object.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inline data of the result.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "propagationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob ID for large data.",
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "sub-type for generic types like lists"
      }
    },
    "com.modal.image#GenericResultGenericStatus": {
      "type": "enum",
      "members": {
        "GENERIC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_UNSPECIFIED"
          }
        },
        "GENERIC_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_SUCCESS"
          }
        },
        "GENERIC_STATUS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_FAILURE"
          }
        },
        "GENERIC_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TERMINATED",
            "smithy.api#documentation": "Used when a task was killed using an external signal."
          }
        },
        "GENERIC_STATUS_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TIMEOUT"
          }
        },
        "GENERIC_STATUS_INIT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INIT_FAILURE",
            "smithy.api#documentation": "Used when the user's function fails to initialize (ex. S3 mount failed due to invalid credentials). Terminates the function and all remaining inputs."
          }
        },
        "GENERIC_STATUS_INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INTERNAL_FAILURE"
          }
        },
        "GENERIC_STATUS_IDLE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_IDLE_TIMEOUT",
            "smithy.api#documentation": "Used when sandboxes are terminated due to idle_timeout"
          }
        },
        "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_MEMORY_MANAGER_EVICTION",
            "smithy.api#documentation": "Used when a task was killed because it was evicted by the memory manager when the worker was under memory pressure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for both tasks and function outputs"
      }
    },
    "com.modal.image#ImageGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "image_id is set regardless if the image is built (use ImageJoinStreaming to wait for build)",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "result": {
          "target": "com.modal.image#GenericResult",
          "traits": {
            "smithy.api#documentation": "result of build - only set if the image has finished building (regardless if success or not)",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "metadata": {
          "target": "com.modal.image#ImageMetadata",
          "traits": {
            "smithy.api#documentation": "image metadata - only set if the image has built successfully",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#ImageGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#ImageGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.image#ImageGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.image#ImageJoinStreamingRequest": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        },
        "lastEntryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "includeLogsForFinished": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#TaskLogs": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskState": {
          "target": "com.modal.image#TaskState",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "TASK_STATE_UNSPECIFIED": 0,
                "TASK_STATE_CREATED": 6,
                "TASK_STATE_QUEUED": 1,
                "TASK_STATE_WORKER_ASSIGNED": 2,
                "TASK_STATE_LOADING_IMAGE": 3,
                "TASK_STATE_ACTIVE": 4,
                "TASK_STATE_COMPLETED": 5,
                "TASK_STATE_CREATING_CONTAINER": 7,
                "TASK_STATE_IDLE": 8,
                "TASK_STATE_PREEMPTIBLE": 9,
                "TASK_STATE_PREEMPTED": 10,
                "TASK_STATE_LOADING_CHECKPOINT_IMAGE": 11
              }
            }
          }
        },
        "timestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "fileDescriptor": {
          "target": "com.modal.image#FileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "FILE_DESCRIPTOR_UNSPECIFIED": 0,
                "FILE_DESCRIPTOR_STDOUT": 1,
                "FILE_DESCRIPTOR_STDERR": 2,
                "FILE_DESCRIPTOR_INFO": 3
              }
            }
          }
        },
        "taskProgress": {
          "target": "com.modal.image#TaskProgress",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "timestampNs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "uint64"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#TaskState": {
      "type": "enum",
      "members": {
        "TASK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_UNSPECIFIED"
          }
        },
        "TASK_STATE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CREATED"
          }
        },
        "TASK_STATE_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_QUEUED"
          }
        },
        "TASK_STATE_WORKER_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_WORKER_ASSIGNED"
          }
        },
        "TASK_STATE_LOADING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_LOADING_IMAGE"
          }
        },
        "TASK_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_ACTIVE"
          }
        },
        "TASK_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_COMPLETED"
          }
        },
        "TASK_STATE_CREATING_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CREATING_CONTAINER"
          }
        },
        "TASK_STATE_IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_IDLE"
          }
        },
        "TASK_STATE_PREEMPTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_PREEMPTIBLE"
          }
        },
        "TASK_STATE_PREEMPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_PREEMPTED"
          }
        },
        "TASK_STATE_LOADING_CHECKPOINT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_LOADING_CHECKPOINT_IMAGE"
          }
        }
      }
    },
    "com.modal.image#FileDescriptor": {
      "type": "enum",
      "members": {
        "FILE_DESCRIPTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_UNSPECIFIED"
          }
        },
        "FILE_DESCRIPTOR_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_STDOUT"
          }
        },
        "FILE_DESCRIPTOR_STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_STDERR"
          }
        },
        "FILE_DESCRIPTOR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DESCRIPTOR_INFO"
          }
        }
      }
    },
    "com.modal.image#TaskProgress": {
      "type": "structure",
      "members": {
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint64"
            }
          }
        },
        "pos": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "progressType": {
          "target": "com.modal.image#ProgressType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "IMAGE_SNAPSHOT_UPLOAD": 0,
                "FUNCTION_QUEUED": 1
              }
            }
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#ProgressType": {
      "type": "enum",
      "members": {
        "IMAGE_SNAPSHOT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SNAPSHOT_UPLOAD"
          }
        },
        "FUNCTION_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION_QUEUED",
            "smithy.api#documentation": "TODO(erikbern): shouldn't be zero, and needs prefix"
          }
        }
      }
    },
    "com.modal.image#TaskLogsList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#TaskLogs"
      }
    },
    "com.modal.image#ImageJoinStreamingResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.image#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "taskLogs": {
          "target": "com.modal.image#TaskLogsList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "entryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "metadata": {
          "target": "com.modal.image#ImageMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#ImageJoinStreaming": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#ImageJoinStreamingRequest"
      },
      "output": {
        "target": "com.modal.image#ImageJoinStreamingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageJoinStreaming",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.image#ImageListTagsRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "tagPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix search over full \"name:tag\" strings.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "maxObjects": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Defaults to 100. Values above 100 are rejected by the server.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#ImageListTagsItem": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "double"
            }
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "double"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "set on success"
      }
    },
    "com.modal.image#ImageListTagsItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#ImageListTagsItem"
      }
    },
    "com.modal.image#ImageListTagsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.image#ImageListTagsItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#ImageListTags": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#ImageListTagsRequest"
      },
      "output": {
        "target": "com.modal.image#ImageListTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageListTags",
          "code": 200
        }
      }
    },
    "com.modal.image#PublishImageRequest": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Named image reference: \"[[workspace/]environment/]name[:tag]\". The tag suffix defaults to \"latest\" when omitted.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New clients should send environment name as a /-separated prefix of the `tag` field. environment_name only accepted when tag has no environment or workspace prefix.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "allowPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Explicit opt-in required when publishing to a public environment.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#PublishImageResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#PublishImage": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#PublishImageRequest"
      },
      "output": {
        "target": "com.modal.image#PublishImageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImagePublish",
          "code": 200
        }
      }
    },
    "com.modal.image#ImageTagRevisionsRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Named image reference: \"[[workspace/]environment/]name[:tag]\". The tag suffix defaults to \"latest\" when omitted.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New clients should send environment name as a /-separated prefix of the `tag` field. environment_name only accepted when tag has no environment or workspace prefix.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "maxObjects": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Defaults to 100. Values above 100 are rejected by the server.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.image#ImageTagRevisionsItem": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "publishedBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.image#ImageTagRevisionsItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.image#ImageTagRevisionsItem"
      }
    },
    "com.modal.image#ImageTagRevisionsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.image#ImageTagRevisionsItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.image#ImageTagRevisions": {
      "type": "operation",
      "input": {
        "target": "com.modal.image#ImageTagRevisionsRequest"
      },
      "output": {
        "target": "com.modal.image#ImageTagRevisionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/ImageTagRevisions",
          "code": 200
        }
      }
    },
    "com.modal.image#ImageService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.image#GetImageBuildChain"
        },
        {
          "target": "com.modal.image#DeleteImage"
        },
        {
          "target": "com.modal.image#ImageFromId"
        },
        {
          "target": "com.modal.image#ImageGetByTag"
        },
        {
          "target": "com.modal.image#ImageGetOrCreate"
        },
        {
          "target": "com.modal.image#ImageJoinStreaming"
        },
        {
          "target": "com.modal.image#ImageListTags"
        },
        {
          "target": "com.modal.image#PublishImage"
        },
        {
          "target": "com.modal.image#ImageTagRevisions"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Image",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Image`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
