{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.maps#MapAwaitRequest": {
      "type": "structure",
      "members": {
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mapToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "lastEntryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "requestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "Used for waypoints.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.maps#FunctionGetOutputsItem": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.maps#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "idx": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "dataFormat": {
          "target": "com.modal.maps#DataFormat",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              }
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "for result.data_oneof",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "inputStartedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "outputCreatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "double"
            }
          }
        },
        "retryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "uint32"
            }
          }
        },
        "fcTraceTag": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How long to sleep before requesting another input."
      }
    },
    "com.modal.maps#GenericResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.maps#GenericResultGenericStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GENERIC_STATUS_UNSPECIFIED": 0,
                "GENERIC_STATUS_SUCCESS": 1,
                "GENERIC_STATUS_FAILURE": 2,
                "GENERIC_STATUS_TERMINATED": 3,
                "GENERIC_STATUS_TIMEOUT": 4,
                "GENERIC_STATUS_INIT_FAILURE": 5,
                "GENERIC_STATUS_INTERNAL_FAILURE": 6,
                "GENERIC_STATUS_IDLE_TIMEOUT": 7,
                "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": 8
              }
            }
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task or function output.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "exitcode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception message for failures, if available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "traceback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code of the container entrypoint or builder process if it terminates unexpectedly.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "serializedTb": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "String value of the Python traceback.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bytes"
            }
          }
        },
        "tbLineCache": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled traceback object.",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bytes"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled line cache for traceback object.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inline data of the result.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "propagationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob ID for large data.",
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "sub-type for generic types like lists"
      }
    },
    "com.modal.maps#GenericResultGenericStatus": {
      "type": "enum",
      "members": {
        "GENERIC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_UNSPECIFIED"
          }
        },
        "GENERIC_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_SUCCESS"
          }
        },
        "GENERIC_STATUS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_FAILURE"
          }
        },
        "GENERIC_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TERMINATED",
            "smithy.api#documentation": "Used when a task was killed using an external signal."
          }
        },
        "GENERIC_STATUS_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TIMEOUT"
          }
        },
        "GENERIC_STATUS_INIT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INIT_FAILURE",
            "smithy.api#documentation": "Used when the user's function fails to initialize (ex. S3 mount failed due to invalid credentials). Terminates the function and all remaining inputs."
          }
        },
        "GENERIC_STATUS_INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INTERNAL_FAILURE"
          }
        },
        "GENERIC_STATUS_IDLE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_IDLE_TIMEOUT",
            "smithy.api#documentation": "Used when sandboxes are terminated due to idle_timeout"
          }
        },
        "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_MEMORY_MANAGER_EVICTION",
            "smithy.api#documentation": "Used when a task was killed because it was evicted by the memory manager when the worker was under memory pressure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for both tasks and function outputs"
      }
    },
    "com.modal.maps#DataFormat": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "DATA_FORMAT_PICKLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_PICKLE"
          }
        },
        "DATA_FORMAT_ASGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_ASGI",
            "smithy.api#documentation": "Cloudpickle"
          }
        },
        "DATA_FORMAT_GENERATOR_DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_GENERATOR_DONE",
            "smithy.api#documentation": "\"Asgi\" protobuf message"
          }
        },
        "DATA_FORMAT_CBOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_CBOR",
            "smithy.api#documentation": "\"GeneratorDone\" protobuf message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which data format a binary message is encoded with."
      }
    },
    "com.modal.maps#FunctionGetOutputsItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.maps#FunctionGetOutputsItem"
      }
    },
    "com.modal.maps#MapAwaitResponse": {
      "type": "structure",
      "members": {
        "outputs": {
          "target": "com.modal.maps#FunctionGetOutputsItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "lastEntryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.maps#MapAwait": {
      "type": "operation",
      "input": {
        "target": "com.modal.maps#MapAwaitRequest"
      },
      "output": {
        "target": "com.modal.maps#MapAwaitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/MapAwait",
          "code": 200
        },
        "smithy.api#documentation": "Input Plane Map"
      }
    },
    "com.modal.maps#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.maps#MapCheckInputsRequest": {
      "type": "structure",
      "members": {
        "lastEntryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        },
        "attemptTokens": {
          "target": "com.modal.maps#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.maps#BooleanList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Boolean"
      }
    },
    "com.modal.maps#MapCheckInputsResponse": {
      "type": "structure",
      "members": {
        "lost": {
          "target": "com.modal.maps#BooleanList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.maps#MapCheckInputs": {
      "type": "operation",
      "input": {
        "target": "com.modal.maps#MapCheckInputsRequest"
      },
      "output": {
        "target": "com.modal.maps#MapCheckInputsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/MapCheckInputs",
          "code": 200
        }
      }
    },
    "com.modal.maps#MapStartOrContinueItem": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.modal.maps#FunctionPutInputsItem",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "attemptToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.maps#FunctionPutInputsItem": {
      "type": "structure",
      "members": {
        "idx": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "input": {
          "target": "com.modal.maps#FunctionInput",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "r2Failed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "r2ThroughputBytesS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "r2_latency_ms",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint64"
            }
          }
        },
        "blobUploadResults": {
          "target": "com.modal.maps#BlobUploadResultList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.maps#FunctionInput": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "serialized (args, kwargs).",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "argsBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "finalInput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "bool"
            }
          }
        },
        "dataFormat": {
          "target": "com.modal.maps#DataFormat",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "enum",
              "e": {
                "DATA_FORMAT_UNSPECIFIED": 0,
                "DATA_FORMAT_PICKLE": 1,
                "DATA_FORMAT_ASGI": 2,
                "DATA_FORMAT_GENERATOR_DONE": 3,
                "DATA_FORMAT_CBOR": 4
              }
            }
          }
        },
        "methodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For args_oneof.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.maps#BlobUploadResult": {
      "type": "structure",
      "members": {
        "blobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "outcome": {
          "target": "com.modal.maps#BlobUploadResultOutcome",
          "traits": {
            "smithy.api#documentation": "The blob id (from BlobCreateResponse) that this upload attempt targeted.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "OUTCOME_UNSPECIFIED": 0,
                "OUTCOME_SUCCESS": 1,
                "OUTCOME_FAILURE": 2
              }
            }
          }
        },
        "throughputBytesS": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        }
      }
    },
    "com.modal.maps#BlobUploadResultOutcome": {
      "type": "enum",
      "members": {
        "OUTCOME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_UNSPECIFIED"
          }
        },
        "OUTCOME_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_SUCCESS"
          }
        },
        "OUTCOME_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_FAILURE"
          }
        }
      }
    },
    "com.modal.maps#BlobUploadResultList": {
      "type": "list",
      "member": {
        "target": "com.modal.maps#BlobUploadResult"
      }
    },
    "com.modal.maps#MapStartOrContinueItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.maps#MapStartOrContinueItem"
      }
    },
    "com.modal.maps#MapStartOrContinueRequest": {
      "type": "structure",
      "members": {
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "parentInputId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Clients will send call_info on map continue requests.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "mapToken": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "items": {
          "target": "com.modal.maps#MapStartOrContinueItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message",
              "rep": true
            }
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.maps#FunctionRetryPolicy": {
      "type": "structure",
      "members": {
        "backoffCoefficient": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "float"
            }
          }
        },
        "initialDelayMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "maxDelayMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NOTE: two-byte field number not used for special reason. copy-paste error. Ref: PR #2542",
            "com.distilled.proto#field": {
              "n": 18,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.maps#MapStartOrContinueResponse": {
      "type": "structure",
      "members": {
        "mapToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "function_id and function_call_id are not necessary if map_token is provided. All 3 will be sent until it is safe to only send map_token.",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "functionCallId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "maxInputsOutstanding": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "attemptTokens": {
          "target": "com.modal.maps#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string",
              "rep": true
            }
          }
        },
        "retryPolicy": {
          "target": "com.modal.maps#FunctionRetryPolicy",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.maps#MapStartOrContinue": {
      "type": "operation",
      "input": {
        "target": "com.modal.maps#MapStartOrContinueRequest"
      },
      "output": {
        "target": "com.modal.maps#MapStartOrContinueResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/MapStartOrContinue",
          "code": 200
        }
      }
    },
    "com.modal.maps#MapService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.maps#MapAwait"
        },
        {
          "target": "com.modal.maps#MapCheckInputs"
        },
        {
          "target": "com.modal.maps#MapStartOrContinue"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Map",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Map`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
