{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.mount#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.mount#MountBatchedCheckExistenceRequest": {
      "type": "structure",
      "members": {
        "sha256HexHashes": {
          "target": "com.modal.mount#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.mount#MountBatchedCheckExistenceResponse": {
      "type": "structure",
      "members": {
        "missingSha256HexHashes": {
          "target": "com.modal.mount#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.mount#MountBatchedCheckExistence": {
      "type": "operation",
      "input": {
        "target": "com.modal.mount#MountBatchedCheckExistenceRequest"
      },
      "output": {
        "target": "com.modal.mount#MountBatchedCheckExistenceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/MountBatchedCheckExistence",
          "code": 200
        },
        "smithy.api#documentation": "Mounts"
      }
    },
    "com.modal.mount#DeploymentNamespace": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_NAMESPACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_NAMESPACE_UNSPECIFIED"
          }
        },
        "DEPLOYMENT_NAMESPACE_WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_NAMESPACE_WORKSPACE"
          }
        },
        "DEPLOYMENT_NAMESPACE_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_NAMESPACE_GLOBAL"
          }
        }
      }
    },
    "com.modal.mount#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.mount#MountFile": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "sha256Hex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 checksum of the file.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the file in bytes — ignored in MountBuild().",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.mount#MountFileList": {
      "type": "list",
      "member": {
        "target": "com.modal.mount#MountFile"
      }
    },
    "com.modal.mount#MountGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "namespace": {
          "target": "com.modal.mount#DeploymentNamespace",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "DEPLOYMENT_NAMESPACE_UNSPECIFIED": 0,
                "DEPLOYMENT_NAMESPACE_WORKSPACE": 1,
                "DEPLOYMENT_NAMESPACE_GLOBAL": 3
              }
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "objectCreationType": {
          "target": "com.modal.mount#ObjectCreationType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "OBJECT_CREATION_TYPE_UNSPECIFIED": 0,
                "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": 1,
                "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": 2,
                "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": 3,
                "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": 4,
                "OBJECT_CREATION_TYPE_EPHEMERAL": 5
              }
            }
          }
        },
        "files": {
          "target": "com.modal.mount#MountFileList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message",
              "rep": true
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.mount#MountHandleMetadata": {
      "type": "structure",
      "members": {
        "contentChecksumSha256Hex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.mount#MountGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "mountId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "handleMetadata": {
          "target": "com.modal.mount#MountHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.mount#MountGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.mount#MountGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.mount#MountGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/MountGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.mount#MountPutFileRequest": {
      "type": "structure",
      "members": {
        "sha256Hex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.mount#MountPutFileResponse": {
      "type": "structure",
      "members": {
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.mount#MountPutFile": {
      "type": "operation",
      "input": {
        "target": "com.modal.mount#MountPutFileRequest"
      },
      "output": {
        "target": "com.modal.mount#MountPutFileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/MountPutFile",
          "code": 200
        }
      }
    },
    "com.modal.mount#MountService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.mount#MountBatchedCheckExistence"
        },
        {
          "target": "com.modal.mount#MountGetOrCreate"
        },
        {
          "target": "com.modal.mount#MountPutFile"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Mount",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Mount`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
