{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.queue#ClearQueueRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "partitionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "allPartitions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#ClearQueue": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#ClearQueueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueClear",
          "code": 200
        },
        "smithy.api#documentation": "Queues"
      }
    },
    "com.modal.queue#DeleteQueueRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#DeleteQueue": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#DeleteQueueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueDelete",
          "code": 200
        }
      }
    },
    "com.modal.queue#GetQueueRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "float"
            }
          }
        },
        "nValues": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int32"
            }
          }
        },
        "partitionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#BlobList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Blob"
      }
    },
    "com.modal.queue#GetQueueResponse": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.modal.queue#BlobList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.queue#GetQueue": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#GetQueueRequest"
      },
      "output": {
        "target": "com.modal.queue#GetQueueResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueGet",
          "code": 200
        }
      }
    },
    "com.modal.queue#QueueGetByIdRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#QueueMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "creationInfo": {
          "target": "com.modal.queue#CreationInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.queue#CreationInfo": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This message is used in metadata for resource objects like Dict, Queue, Volume, etc.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of resource creation",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.queue#QueueGetByIdResponse": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.queue#QueueMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.queue#QueueGetById": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#QueueGetByIdRequest"
      },
      "output": {
        "target": "com.modal.queue#QueueGetByIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueGetById",
          "code": 200
        }
      }
    },
    "com.modal.queue#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.queue#QueueGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "removed namespace",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "objectCreationType": {
          "target": "com.modal.queue#ObjectCreationType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "OBJECT_CREATION_TYPE_UNSPECIFIED": 0,
                "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": 1,
                "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": 2,
                "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": 3,
                "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": 4,
                "OBJECT_CREATION_TYPE_EPHEMERAL": 5
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#QueueGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.queue#QueueMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.queue#QueueGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#QueueGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.queue#QueueGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.queue#QueueHeartbeatRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#QueueHeartbeat": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#QueueHeartbeatRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueHeartbeat",
          "code": 200
        }
      }
    },
    "com.modal.queue#QueueLenRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "partitionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "total": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#QueueLenResponse": {
      "type": "structure",
      "members": {
        "len": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.queue#QueueLen": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#QueueLenRequest"
      },
      "output": {
        "target": "com.modal.queue#QueueLenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueLen",
          "code": 200
        }
      }
    },
    "com.modal.queue#ListPagination": {
      "type": "structure",
      "members": {
        "maxObjects": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "createdBefore": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        }
      }
    },
    "com.modal.queue#ListQueueRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "totalSizeLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        },
        "pagination": {
          "target": "com.modal.queue#ListPagination",
          "traits": {
            "smithy.api#documentation": "Limit on \"number of partitions\" reported, since checking them is costly",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#ListQueueResponseQueueInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "numPartitions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Superseded by metadata, used by clients up to 1.1.2",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int32"
            }
          }
        },
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.queue#QueueMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.queue#ListQueueResponseQueueInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.queue#ListQueueResponseQueueInfo"
      }
    },
    "com.modal.queue#ListQueueResponse": {
      "type": "structure",
      "members": {
        "queues": {
          "target": "com.modal.queue#ListQueueResponseQueueInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.queue#ListQueue": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#ListQueueRequest"
      },
      "output": {
        "target": "com.modal.queue#ListQueueResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueList",
          "code": 200
        }
      }
    },
    "com.modal.queue#QueueNextItemsRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "partitionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "lastEntryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "itemPollTimeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#QueueItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "entryId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.queue#QueueItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.queue#QueueItem"
      }
    },
    "com.modal.queue#QueueNextItemsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.queue#QueueItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.queue#QueueNextItems": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#QueueNextItemsRequest"
      },
      "output": {
        "target": "com.modal.queue#QueueNextItemsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueueNextItems",
          "code": 200
        }
      }
    },
    "com.modal.queue#PutQueueRequest": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "values": {
          "target": "com.modal.queue#BlobList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bytes",
              "rep": true
            }
          }
        },
        "partitionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "partitionTtlSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "int32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.queue#PutQueue": {
      "type": "operation",
      "input": {
        "target": "com.modal.queue#PutQueueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/QueuePut",
          "code": 200
        }
      }
    },
    "com.modal.queue#QueueService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.queue#ClearQueue"
        },
        {
          "target": "com.modal.queue#DeleteQueue"
        },
        {
          "target": "com.modal.queue#GetQueue"
        },
        {
          "target": "com.modal.queue#QueueGetById"
        },
        {
          "target": "com.modal.queue#QueueGetOrCreate"
        },
        {
          "target": "com.modal.queue#QueueHeartbeat"
        },
        {
          "target": "com.modal.queue#QueueLen"
        },
        {
          "target": "com.modal.queue#ListQueue"
        },
        {
          "target": "com.modal.queue#QueueNextItems"
        },
        {
          "target": "com.modal.queue#PutQueue"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Queue",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Queue`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
