{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.sandbox#Sandbox": {
      "type": "structure",
      "members": {
        "entrypointArgs": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        },
        "mountIds": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "secretIds": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string",
              "rep": true
            }
          }
        },
        "resources": {
          "target": "com.modal.sandbox#Resources",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        },
        "cloudProvider": {
          "target": "com.modal.sandbox#CloudProvider",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "CLOUD_PROVIDER_UNSPECIFIED": 0,
                "CLOUD_PROVIDER_AWS": 1,
                "CLOUD_PROVIDER_GCP": 2,
                "CLOUD_PROVIDER_AUTO": 3,
                "CLOUD_PROVIDER_OCI": 4
              }
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated at some point",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "uint32"
            }
          }
        },
        "workdir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The max lifetime of a sandbox in seconds.",
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "nfsMounts": {
          "target": "com.modal.sandbox#SharedVolumeMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message",
              "rep": true
            }
          }
        },
        "runtimeDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "blockNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bool"
            }
          }
        },
        "s3Mounts": {
          "target": "com.modal.sandbox#S3MountList",
          "traits": {
            "smithy.api#documentation": "deprecated, use network_access instead",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "message",
              "rep": true
            }
          }
        },
        "cloudBucketMounts": {
          "target": "com.modal.sandbox#CloudBucketMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "message",
              "rep": true
            }
          }
        },
        "volumeMounts": {
          "target": "com.modal.sandbox#VolumeMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "message",
              "rep": true
            }
          }
        },
        "ptyInfo": {
          "target": "com.modal.sandbox#PTYInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "message"
            }
          }
        },
        "schedulerPlacement": {
          "target": "com.modal.sandbox#SchedulerPlacement",
          "traits": {
            "smithy.api#documentation": "_experimental_scheduler",
            "com.distilled.proto#field": {
              "n": 17,
              "t": "message"
            }
          }
        },
        "workerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "_experimental_resources",
            "com.distilled.proto#field": {
              "n": 19,
              "t": "string"
            }
          }
        },
        "openPorts": {
          "target": "com.modal.sandbox#PortSpecs",
          "traits": {
            "smithy.api#documentation": "for internal debugging use only",
            "com.distilled.proto#field": {
              "n": 20,
              "t": "message"
            }
          }
        },
        "i6pnEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 21,
              "t": "bool"
            }
          }
        },
        "networkAccess": {
          "target": "com.modal.sandbox#NetworkAccess",
          "traits": {
            "smithy.api#documentation": "Network access configuration beyond simple allow/block.",
            "com.distilled.proto#field": {
              "n": 22,
              "t": "message"
            }
          }
        },
        "proxyId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 23,
              "t": "string"
            }
          }
        },
        "enableSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable snapshotting the sandbox (both memory and filesystem). This doesn't need to be enabled to save the filesystem as an image (i.e. a filesystem-only snapshot).",
            "com.distilled.proto#field": {
              "n": 24,
              "t": "bool"
            }
          }
        },
        "snapshotVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Used to pin gVisor version for memory-snapshottable sandboxes. This field is set by the server, not the client.",
            "com.distilled.proto#field": {
              "n": 25,
              "t": "uint32"
            }
          }
        },
        "cloudProviderStr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 26,
              "t": "string"
            }
          }
        },
        "runscRuntimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supersedes cloud_provider Specifies container runtime behavior for sandboxes which are restored from a snapshot. Set by the backend at snapshot creation time.",
            "com.distilled.proto#field": {
              "n": 27,
              "t": "string"
            }
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, overrides the runtime used by the function, either \"runc\" or \"gvisor\".",
            "com.distilled.proto#field": {
              "n": 28,
              "t": "string"
            }
          }
        },
        "verbose": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the sandbox will be created with verbose logging enabled.",
            "com.distilled.proto#field": {
              "n": 29,
              "t": "bool"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the sandbox will be created with a name.",
            "com.distilled.proto#field": {
              "n": 30,
              "t": "string"
            }
          }
        },
        "experimentalOptions": {
          "target": "com.modal.sandbox#BooleanMap",
          "traits": {
            "smithy.api#documentation": "Deprecated: use experimental_options_v2 instead.",
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 31,
              "t": "map",
              "k": "string",
              "v": {
                "t": "bool"
              }
            }
          }
        },
        "experimentalOptionsV2": {
          "target": "com.modal.sandbox#StringMap",
          "traits": {
            "smithy.api#documentation": "Experimental options",
            "com.distilled.proto#field": {
              "n": 41,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "preloadPathPrefixes": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 32,
              "t": "string",
              "rep": true
            }
          }
        },
        "idleTimeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal use only. Optional idle timeout in seconds. If set, the sandbox will be terminated after being idle for this duration.",
            "com.distilled.proto#field": {
              "n": 33,
              "t": "uint32"
            }
          }
        },
        "directSandboxCommandsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: direct sandbox commands are always enabled.",
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 34,
              "t": "bool"
            }
          }
        },
        "RestoreInstanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal: restricts sandbox to run on this specific instance type. Set by server during SandboxRestore to ensure the restored sandbox runs on the same instance type as the original snapshot.",
            "com.distilled.proto#field": {
              "n": 35,
              "t": "string"
            }
          }
        },
        "customDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, connections to this sandbox will be subdomains of this domain rather than the default.",
            "com.distilled.proto#field": {
              "n": 36,
              "t": "string"
            }
          }
        },
        "includeOidcIdentityToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the sandbox will receive a MODAL_IDENTITY_TOKEN env var, similar to how modal Function containers do. This can be used for OIDC-based authentication (e.g. to AWS, GCP).",
            "com.distilled.proto#field": {
              "n": 37,
              "t": "bool"
            }
          }
        },
        "readinessProbe": {
          "target": "com.modal.sandbox#Probe",
          "traits": {
            "smithy.api#documentation": "Probe used to determine when the sandbox has become ready.",
            "com.distilled.proto#field": {
              "n": 38,
              "t": "message"
            }
          }
        },
        "inboundCidrAllowlist": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "smithy.api#documentation": "If set, only connections from these CIDRs will be allowed to connect to the sandbox (tunnels and auth proxy).",
            "com.distilled.proto#field": {
              "n": 39,
              "t": "string",
              "rep": true
            }
          }
        },
        "environmentVariables": {
          "target": "com.modal.sandbox#StringMap2",
          "traits": {
            "com.distilled.proto#field": {
              "n": 40,
              "t": "message"
            }
          }
        },
        "outboundPolicy": {
          "target": "com.modal.sandbox#OutboundPolicy",
          "traits": {
            "com.distilled.proto#field": {
              "n": 42,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.sandbox#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.sandbox#Resources": {
      "type": "structure",
      "members": {
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "milliCpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "gpuConfig": {
          "target": "com.modal.sandbox#GPUConfig",
          "traits": {
            "smithy.api#documentation": "milli CPU cores",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "memoryMbMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        },
        "ephemeralDiskMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "uint32"
            }
          }
        },
        "milliCpuMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "uint32"
            }
          }
        },
        "rdma": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "milli CPU cores",
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "milli CPU cores"
      }
    },
    "com.modal.sandbox#GPUConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.modal.sandbox#GPUType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GPU_TYPE_UNSPECIFIED": 0,
                "GPU_TYPE_T4": 1,
                "GPU_TYPE_A100": 2,
                "GPU_TYPE_A10G": 3,
                "GPU_TYPE_ANY": 4,
                "GPU_TYPE_A100_80GB": 8,
                "GPU_TYPE_L4": 9,
                "GPU_TYPE_H100": 10,
                "GPU_TYPE_L40S": 11,
                "GPU_TYPE_H200": 12
              }
            }
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated, at some point",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "gpuType": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.sandbox#GPUType": {
      "type": "enum",
      "members": {
        "GPU_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_UNSPECIFIED",
            "smithy.api#documentation": "Note: this enum is no longer used by current clients - don't add new types Old clients still send it, so we use it server-side for compatibility"
          }
        },
        "GPU_TYPE_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_T4"
          }
        },
        "GPU_TYPE_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A100"
          }
        },
        "GPU_TYPE_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A10G"
          }
        },
        "GPU_TYPE_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_ANY"
          }
        },
        "GPU_TYPE_A100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_A100_80GB"
          }
        },
        "GPU_TYPE_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_L4"
          }
        },
        "GPU_TYPE_H100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_H100"
          }
        },
        "GPU_TYPE_L40S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_L40S"
          }
        },
        "GPU_TYPE_H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_TYPE_H200"
          }
        }
      }
    },
    "com.modal.sandbox#CloudProvider": {
      "type": "enum",
      "members": {
        "CLOUD_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_UNSPECIFIED"
          }
        },
        "CLOUD_PROVIDER_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_AWS"
          }
        },
        "CLOUD_PROVIDER_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_GCP"
          }
        },
        "CLOUD_PROVIDER_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_AUTO"
          }
        },
        "CLOUD_PROVIDER_OCI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_OCI"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "libmodal/modal-go: Go SDK, since version modal-go/v0.0.15"
      }
    },
    "com.modal.sandbox#SharedVolumeMount": {
      "type": "structure",
      "members": {
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "sharedVolumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "cloudProvider": {
          "target": "com.modal.sandbox#CloudProvider",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "CLOUD_PROVIDER_UNSPECIFIED": 0,
                "CLOUD_PROVIDER_AWS": 1,
                "CLOUD_PROVIDER_GCP": 2,
                "CLOUD_PROVIDER_AUTO": 3,
                "CLOUD_PROVIDER_OCI": 4
              }
            }
          }
        }
      }
    },
    "com.modal.sandbox#SharedVolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#SharedVolumeMount"
      }
    },
    "com.modal.sandbox#S3Mount": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "credentialsSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.sandbox#S3MountList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#S3Mount"
      }
    },
    "com.modal.sandbox#CloudBucketMount": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "credentialsSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "bucketType": {
          "target": "com.modal.sandbox#CloudBucketMountBucketType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "UNSPECIFIED": 0,
                "S3": 1,
                "R2": 2,
                "GCP": 3
              }
            }
          }
        },
        "requesterPays": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bool"
            }
          }
        },
        "bucketEndpointUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "keyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "oidcAuthRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "string"
            }
          }
        },
        "forcePathStyle": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "metadataTtlType": {
          "target": "com.modal.sandbox#CloudBucketMountMetadataTTLType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "enum",
              "e": {
                "METADATA_TTL_TYPE_UNSPECIFIED": 0,
                "METADATA_TTL_TYPE_MINIMAL": 1,
                "METADATA_TTL_TYPE_INDEFINITE": 2
              }
            }
          }
        },
        "metadataTtlSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "uint64"
            }
          }
        }
      }
    },
    "com.modal.sandbox#CloudBucketMountBucketType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R2"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        }
      }
    },
    "com.modal.sandbox#CloudBucketMountMetadataTTLType": {
      "type": "enum",
      "members": {
        "METADATA_TTL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_TTL_TYPE_UNSPECIFIED"
          }
        },
        "METADATA_TTL_TYPE_MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_TTL_TYPE_MINIMAL"
          }
        },
        "METADATA_TTL_TYPE_INDEFINITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_TTL_TYPE_INDEFINITE"
          }
        }
      }
    },
    "com.modal.sandbox#CloudBucketMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#CloudBucketMount"
      }
    },
    "com.modal.sandbox#VolumeMount": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "allowBackgroundCommits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.sandbox#VolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#VolumeMount"
      }
    },
    "com.modal.sandbox#PTYInfo": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        },
        "winszRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soon deprecated",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "winszCols": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "envTerm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "envColorterm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "envTermProgram": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "ptyType": {
          "target": "com.modal.sandbox#PTYInfoPTYType",
          "traits": {
            "smithy.api#documentation": "Replace function with shell",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "PTY_TYPE_UNSPECIFIED": 0,
                "PTY_TYPE_FUNCTION": 1,
                "PTY_TYPE_SHELL": 2
              }
            }
          }
        },
        "noTerminateOnIdleStdin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.sandbox#PTYInfoPTYType": {
      "type": "enum",
      "members": {
        "PTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_UNSPECIFIED"
          }
        },
        "PTY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_FUNCTION",
            "smithy.api#documentation": "Nothing"
          }
        },
        "PTY_TYPE_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_SHELL",
            "smithy.api#documentation": "Run function in PTY"
          }
        }
      }
    },
    "com.modal.sandbox#SchedulerPlacement": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string",
              "rep": true
            }
          }
        },
        "Zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "Lifecycle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "InstanceTypes": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string",
              "rep": true
            }
          }
        },
        "nonpreemptible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scheduling constraints for Functions and Sandboxes."
      }
    },
    "com.modal.sandbox#PortSpecs": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.modal.sandbox#PortSpecList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.sandbox#PortSpec": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint32"
            }
          }
        },
        "unencrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        },
        "tunnelType": {
          "target": "com.modal.sandbox#TunnelType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "TUNNEL_TYPE_UNSPECIFIED": 0,
                "TUNNEL_TYPE_H2": 1
              }
            }
          }
        }
      }
    },
    "com.modal.sandbox#TunnelType": {
      "type": "enum",
      "members": {
        "TUNNEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUNNEL_TYPE_UNSPECIFIED"
          }
        },
        "TUNNEL_TYPE_H2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUNNEL_TYPE_H2"
          }
        }
      }
    },
    "com.modal.sandbox#PortSpecList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#PortSpec"
      }
    },
    "com.modal.sandbox#NetworkAccess": {
      "type": "structure",
      "members": {
        "networkAccessType": {
          "target": "com.modal.sandbox#NetworkAccessNetworkAccessType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "UNSPECIFIED": 0,
                "OPEN": 1,
                "BLOCKED": 2,
                "ALLOWLIST": 3
              }
            }
          }
        },
        "allowedCidrs": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "allowedDomains": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.sandbox#NetworkAccessNetworkAccessType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOWLIST"
          }
        }
      }
    },
    "com.modal.sandbox#BooleanMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      }
    },
    "com.modal.sandbox#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.sandbox#Probe": {
      "type": "structure",
      "members": {
        "tcpPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint32"
            }
          }
        },
        "execCommand": {
          "target": "com.modal.sandbox#ProbeExecCommand",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "intervalMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.sandbox#ProbeExecCommand": {
      "type": "structure",
      "members": {
        "argv": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "smithy.api#documentation": "Command and args to execute directly (argv form, not shell-parsed).",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.sandbox#StringMap2": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "com.modal.sandbox#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.modal.sandbox#OutboundPolicy": {
      "type": "structure",
      "members": {
        "headerReplacements": {
          "target": "com.modal.sandbox#OutboundPolicyHeaderReplacementList",
          "traits": {
            "smithy.api#documentation": "Replace headers in outbound HTTPS requests, potentially with secret values.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for outbound traffic from a sandbox."
      }
    },
    "com.modal.sandbox#OutboundPolicyHeaderReplacement": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain that the header replacements are scoped to. Supports wildcards in subdomain positions.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to a secret usable in the header value templates. Can be empty if no secret value is used.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "headers": {
          "target": "com.modal.sandbox#StringMap",
          "traits": {
            "smithy.api#documentation": "Header name -> header value. Values support templating with keys in the stanza's secret_id: a $-prefixed key name in the secret will be replaced with the secret value. Literal $ characters can be represented by two dollars: `$$`.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.modal.sandbox#OutboundPolicyHeaderReplacementList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#OutboundPolicyHeaderReplacement"
      }
    },
    "com.modal.sandbox#StringMap2Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.modal.sandbox#StringMap2"
      }
    },
    "com.modal.sandbox#SandboxContainerCreateV2Request": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox the container joins; it runs inside that sandbox's task.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logical container name, unique within the sandbox.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "definition": {
          "target": "com.modal.sandbox#Sandbox",
          "traits": {
            "smithy.api#documentation": "Same definition type as SandboxCreateV2. Fields a container cannot honor (resources, timeouts, scheduling constraints, ...) are rejected.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "ephemeralSecrets": {
          "target": "com.modal.sandbox#StringMap2",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "cloudBucketMountCredentials": {
          "target": "com.modal.sandbox#StringMap2Map",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "message"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxContainerCreateV2Response": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxContainerCreateV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxContainerCreateV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxContainerCreateV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxContainerCreateV2",
          "code": 200
        },
        "smithy.api#documentation": "Sandboxes"
      }
    },
    "com.modal.sandbox#SandboxTag": {
      "type": "structure",
      "members": {
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "tagValue": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.sandbox#SandboxTagList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#SandboxTag"
      }
    },
    "com.modal.sandbox#CreateSandboxRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "definition": {
          "target": "com.modal.sandbox#Sandbox",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "tags": {
          "target": "com.modal.sandbox#SandboxTagList",
          "traits": {
            "smithy.api#documentation": "*DEPRECATED* 7/16/2025",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxHandleMetadata": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.sandbox#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.sandbox#GenericResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.sandbox#GenericResultGenericStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GENERIC_STATUS_UNSPECIFIED": 0,
                "GENERIC_STATUS_SUCCESS": 1,
                "GENERIC_STATUS_FAILURE": 2,
                "GENERIC_STATUS_TERMINATED": 3,
                "GENERIC_STATUS_TIMEOUT": 4,
                "GENERIC_STATUS_INIT_FAILURE": 5,
                "GENERIC_STATUS_INTERNAL_FAILURE": 6,
                "GENERIC_STATUS_IDLE_TIMEOUT": 7,
                "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": 8
              }
            }
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task or function output.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "exitcode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception message for failures, if available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "traceback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code of the container entrypoint or builder process if it terminates unexpectedly.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "serializedTb": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "String value of the Python traceback.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bytes"
            }
          }
        },
        "tbLineCache": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled traceback object.",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bytes"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled line cache for traceback object.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inline data of the result.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "propagationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob ID for large data.",
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "sub-type for generic types like lists"
      }
    },
    "com.modal.sandbox#GenericResultGenericStatus": {
      "type": "enum",
      "members": {
        "GENERIC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_UNSPECIFIED"
          }
        },
        "GENERIC_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_SUCCESS"
          }
        },
        "GENERIC_STATUS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_FAILURE"
          }
        },
        "GENERIC_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TERMINATED",
            "smithy.api#documentation": "Used when a task was killed using an external signal."
          }
        },
        "GENERIC_STATUS_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TIMEOUT"
          }
        },
        "GENERIC_STATUS_INIT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INIT_FAILURE",
            "smithy.api#documentation": "Used when the user's function fails to initialize (ex. S3 mount failed due to invalid credentials). Terminates the function and all remaining inputs."
          }
        },
        "GENERIC_STATUS_INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INTERNAL_FAILURE"
          }
        },
        "GENERIC_STATUS_IDLE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_IDLE_TIMEOUT",
            "smithy.api#documentation": "Used when sandboxes are terminated due to idle_timeout"
          }
        },
        "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_MEMORY_MANAGER_EVICTION",
            "smithy.api#documentation": "Used when a task was killed because it was evicted by the memory manager when the worker was under memory pressure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for both tasks and function outputs"
      }
    },
    "com.modal.sandbox#CreateSandboxResponse": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.sandbox#SandboxHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#CreateSandbox": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#CreateSandboxRequest"
      },
      "output": {
        "target": "com.modal.sandbox#CreateSandboxResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxCreate",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxCreateConnectTokenRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Uses port 8080 if unspecified.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxCreateConnectTokenResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxCreateConnectToken": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxCreateConnectTokenRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxCreateConnectTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxCreateConnectToken",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxCreateConnectTokenV2Request": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Uses port 8080 if unspecified.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxCreateConnectTokenV2Response": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxCreateConnectTokenV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxCreateConnectTokenV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxCreateConnectTokenV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxCreateConnectTokenV2",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxCreateV2Request": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "definition": {
          "target": "com.modal.sandbox#Sandbox",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "ephemeralSecrets": {
          "target": "com.modal.sandbox#StringMap2",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        },
        "tags": {
          "target": "com.modal.sandbox#SandboxTagList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message",
              "rep": true
            }
          }
        },
        "cloudBucketMountCredentials": {
          "target": "com.modal.sandbox#StringMap2Map",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "message"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#TunnelData": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "unencryptedHost": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "unencryptedPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint32"
            }
          }
        },
        "containerPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.sandbox#TunnelDataList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#TunnelData"
      }
    },
    "com.modal.sandbox#CommandRouterAccess": {
      "type": "structure",
      "members": {
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defined as start time of the first task in the cluster"
      }
    },
    "com.modal.sandbox#SandboxCreateV2Response": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "tunnels": {
          "target": "com.modal.sandbox#TunnelDataList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.sandbox#SandboxHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "commandRouterAccess": {
          "target": "com.modal.sandbox#CommandRouterAccess",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxCreateV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxCreateV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxCreateV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxCreateV2",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetCommandRouterAccessRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetCommandRouterAccessResponse": {
      "type": "structure",
      "members": {
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "workerIpv4Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker's public IPv4 address. When set, clients should connect directly to this IP while still using the URL's hostname for TLS SNI and the HTTP/2 :authority header.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetCommandRouterAccess": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetCommandRouterAccessRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetCommandRouterAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetCommandRouterAccess",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotResponseSuccess": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotResponsePending": {
      "type": "structure",
      "members": {}
    },
    "com.modal.sandbox#SandboxGetExitSnapshotResponseError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponseErrorCode",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "ERROR_CODE_UNSPECIFIED": 0,
                "ERROR_CODE_TIMEOUT": 1,
                "ERROR_CODE_INTERNAL": 2
              }
            }
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotResponseErrorCode": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "ERROR_CODE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_TIMEOUT"
          }
        },
        "ERROR_CODE_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_INTERNAL"
          }
        }
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponseSuccess",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "pending": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponsePending",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "error": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponseError",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetExitSnapshotRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetExitSnapshotResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetExitSnapshot",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotV2Request": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotV2Response": {
      "type": "structure",
      "members": {
        "success": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponseSuccess",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "pending": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponsePending",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "error": {
          "target": "com.modal.sandbox#SandboxGetExitSnapshotResponseError",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetExitSnapshotV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetExitSnapshotV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetExitSnapshotV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetExitSnapshotV2",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetFromNameRequest": {
      "type": "structure",
      "members": {
        "sandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetFromNameResponse": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.sandbox#SandboxHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetFromName": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetFromNameRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetFromNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetFromName",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetFromNameV2Request": {
      "type": "structure",
      "members": {
        "sandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetFromNameV2Response": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.sandbox#SandboxHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetFromNameV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetFromNameV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetFromNameV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetFromNameV2",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetResourceUsageRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetResourceUsageResponse": {
      "type": "structure",
      "members": {
        "cpuCoreNanosecs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint64"
            }
          }
        },
        "memGibNanosecs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "gpuNanosecs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "gpuType": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetResourceUsage": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetResourceUsageRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetResourceUsageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetResourceUsage",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetTaskIdRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        },
        "waitUntilReady": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy clients do not provide a timeout. New clients must always provide a timeout.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetTaskIdResponse": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskResult": {
          "target": "com.modal.sandbox#GenericResult",
          "traits": {
            "smithy.api#documentation": "This is None if the sandbox was terminated before a task could be scheduled.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetTaskId": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetTaskIdRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetTaskIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetTaskId",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetTaskIdV2Request": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        },
        "waitUntilReady": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy clients do not provide a timeout. New clients must always provide a timeout.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetTaskIdV2Response": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "taskResult": {
          "target": "com.modal.sandbox#GenericResult",
          "traits": {
            "smithy.api#documentation": "This is None if the sandbox was terminated before a task could be scheduled.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetTaskIdV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetTaskIdV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetTaskIdV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetTaskIdV2",
          "code": 200
        },
        "smithy.api#documentation": "needed for modal container exec"
      }
    },
    "com.modal.sandbox#SandboxGetTunnelsRequest": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetTunnelsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.sandbox#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "tunnels": {
          "target": "com.modal.sandbox#TunnelDataList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetTunnels": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetTunnelsRequest"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetTunnelsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetTunnels",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxGetTunnelsV2Request": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxGetTunnelsV2Response": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.sandbox#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "tunnels": {
          "target": "com.modal.sandbox#TunnelDataList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxGetTunnelsV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxGetTunnelsV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxGetTunnelsV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxGetTunnelsV2",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#ListSandboxRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "beforeTimestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "includeFinished": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "tags": {
          "target": "com.modal.sandbox#SandboxTagList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "modal.client.Sandbox definition",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "taskInfo": {
          "target": "com.modal.sandbox#TaskInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "tags": {
          "target": "com.modal.sandbox#SandboxTagList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message",
              "rep": true
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TODO: Not yet exposed in client library.",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "resourceInfo": {
          "target": "com.modal.sandbox#ResourceInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "regions": {
          "target": "com.modal.sandbox#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string",
              "rep": true
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "uint32"
            }
          }
        },
        "idleTimeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "uint32"
            }
          }
        },
        "readyAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 13,
              "t": "double"
            }
          }
        },
        "readinessProbe": {
          "target": "com.modal.sandbox#Probe",
          "traits": {
            "com.distilled.proto#field": {
              "n": 14,
              "t": "message"
            }
          }
        },
        "tunnels": {
          "target": "com.modal.sandbox#TunnelDataList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 15,
              "t": "message",
              "rep": true
            }
          }
        },
        "metadata": {
          "target": "com.modal.sandbox#SandboxHandleMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 16,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.sandbox#TaskInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "finishedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For Function containers, this corresponds to the \"ready\" time, after startup phase",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "result": {
          "target": "com.modal.sandbox#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        },
        "enqueuedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "double"
            }
          }
        },
        "gpuType": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "snapshotBehavior": {
          "target": "com.modal.sandbox#TaskSnapshotBehavior",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "enum",
              "e": {
                "TASK_SNAPSHOT_BEHAVIOR_UNSPECIFIED": 0,
                "TASK_SNAPSHOT_BEHAVIOR_SNAPSHOT": 1,
                "TASK_SNAPSHOT_BEHAVIOR_RESTORE": 2,
                "TASK_SNAPSHOT_BEHAVIOR_NONE": 3
              }
            }
          }
        },
        "gpuConfig": {
          "target": "com.modal.sandbox#GPUConfig",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.sandbox#TaskSnapshotBehavior": {
      "type": "enum",
      "members": {
        "TASK_SNAPSHOT_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_SNAPSHOT_BEHAVIOR_UNSPECIFIED"
          }
        },
        "TASK_SNAPSHOT_BEHAVIOR_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_SNAPSHOT_BEHAVIOR_SNAPSHOT"
          }
        },
        "TASK_SNAPSHOT_BEHAVIOR_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_SNAPSHOT_BEHAVIOR_RESTORE"
          }
        },
        "TASK_SNAPSHOT_BEHAVIOR_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_SNAPSHOT_BEHAVIOR_NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ENOSPC: No space left on device"
      }
    },
    "com.modal.sandbox#ResourceInfo": {
      "type": "structure",
      "members": {
        "memoryMb": {
          "target": "com.modal.sandbox#ResourceInfoResourceValue",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "milliCpu": {
          "target": "com.modal.sandbox#ResourceInfoResourceValue",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        },
        "gpuType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "milli CPU cores",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "memoryMbMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint32"
            }
          }
        },
        "ephemeralDiskMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        },
        "milliCpuMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MiB",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.sandbox#ResourceInfoResourceValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint32"
            }
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.sandbox#SandboxInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.sandbox#SandboxInfo"
      }
    },
    "com.modal.sandbox#ListSandboxResponse": {
      "type": "structure",
      "members": {
        "sandboxes": {
          "target": "com.modal.sandbox#SandboxInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#ListSandbox": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#ListSandboxRequest"
      },
      "output": {
        "target": "com.modal.sandbox#ListSandboxResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxList",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#SandboxListV2Request": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "beforeTimestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "includeFinished": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "tags": {
          "target": "com.modal.sandbox#SandboxTagList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#SandboxListV2Response": {
      "type": "structure",
      "members": {
        "sandboxes": {
          "target": "com.modal.sandbox#SandboxInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#SandboxListV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#SandboxListV2Request"
      },
      "output": {
        "target": "com.modal.sandbox#SandboxListV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxListV2",
          "code": 200
        }
      }
    },
    "com.modal.sandbox#RestoreSandboxRequestSandboxNameOverrideType": {
      "type": "enum",
      "members": {
        "SANDBOX_NAME_OVERRIDE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SANDBOX_NAME_OVERRIDE_TYPE_UNSPECIFIED"
          }
        },
        "SANDBOX_NAME_OVERRIDE_TYPE_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SANDBOX_NAME_OVERRIDE_TYPE_NONE"
          }
        },
        "SANDBOX_NAME_OVERRIDE_TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SANDBOX_NAME_OVERRIDE_TYPE_STRING"
          }
        }
      }
    },
    "com.modal.sandbox#RestoreSandboxRequest": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "sandboxNameOverride": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "sandboxNameOverrideType": {
          "target": "com.modal.sandbox#RestoreSandboxRequestSandboxNameOverrideType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "SANDBOX_NAME_OVERRIDE_TYPE_UNSPECIFIED": 0,
                "SANDBOX_NAME_OVERRIDE_TYPE_NONE": 1,
                "SANDBOX_NAME_OVERRIDE_TYPE_STRING": 2
              }
            }
          }
        },
        "workerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "replaceVolumeMounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For internal debugging use only.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        },
        "volumeMounts": {
          "target": "com.modal.sandbox#VolumeMountList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.sandbox#RestoreSandboxResponse": {
      "type": "structure",
      "members": {
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.sandbox#RestoreSandbox": {
      "type": "operation",
      "input": {
        "target": "com.modal.sandbox#RestoreSandboxRequest"
      },
      "output": {
        "target": "com.modal.sandbox#RestoreSandboxResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SandboxRestore",
          "code": 200
        }
      }
    },
[...]
