{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.secret#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#DeleteSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretDelete",
          "code": 200
        },
        "smithy.api#documentation": "Secrets"
      }
    },
    "com.modal.secret#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.secret#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.secret#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.secret#SecretGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "removed namespace",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "objectCreationType": {
          "target": "com.modal.secret#ObjectCreationType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "OBJECT_CREATION_TYPE_UNSPECIFIED": 0,
                "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": 1,
                "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": 2,
                "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": 3,
                "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": 4,
                "OBJECT_CREATION_TYPE_EPHEMERAL": 5
              }
            }
          }
        },
        "envDict": {
          "target": "com.modal.secret#StringMap",
          "traits": {
            "smithy.api#documentation": "Not used atm",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "requiredKeys": {
          "target": "com.modal.secret#StringList",
          "traits": {
            "smithy.api#documentation": "only used with OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#SecretMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "creationInfo": {
          "target": "com.modal.secret#CreationInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.secret#CreationInfo": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This message is used in metadata for resource objects like Dict, Queue, Volume, etc.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of resource creation",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.secret#SecretGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.secret#SecretMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.secret#SecretGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#SecretGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.secret#SecretGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.secret#ListPagination": {
      "type": "structure",
      "members": {
        "maxObjects": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "createdBefore": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        }
      }
    },
    "com.modal.secret#ListSecretRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "pagination": {
          "target": "com.modal.secret#ListPagination",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#SecretListItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Superseded by metadata, used by clients up to 1.1.2",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unused by client",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.secret#SecretMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.secret#SecretListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.secret#SecretListItem"
      }
    },
    "com.modal.secret#ListSecretResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.secret#SecretListItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.secret#ListSecret": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#ListSecretRequest"
      },
      "output": {
        "target": "com.modal.secret#ListSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretList",
          "code": 200
        }
      }
    },
    "com.modal.secret#UpdateSecretRequestUpdate": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.secret#UpdateSecretRequestUpdateList": {
      "type": "list",
      "member": {
        "target": "com.modal.secret#UpdateSecretRequestUpdate"
      }
    },
    "com.modal.secret#UpdateSecretRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not set, the key is removed.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "updates": {
          "target": "com.modal.secret#UpdateSecretRequestUpdateList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#UpdateSecret": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#UpdateSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretUpdate",
          "code": 200
        }
      }
    },
    "com.modal.secret#SecretService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.secret#DeleteSecret"
        },
        {
          "target": "com.modal.secret#SecretGetOrCreate"
        },
        {
          "target": "com.modal.secret#ListSecret"
        },
        {
          "target": "com.modal.secret#UpdateSecret"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Secret",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Secret`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
