{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.task.command.router#SandboxStdinWriteV2Request": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bytes"
            }
          }
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#SandboxStdinWriteV2Response": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#SandboxStdinWriteV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#SandboxStdinWriteV2Request"
      },
      "output": {
        "target": "com.modal.task.command.router#SandboxStdinWriteV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/SandboxStdinWriteV2",
          "code": 200
        }
      }
    },
    "com.modal.task.command.router#SandboxStdioFileDescriptor": {
      "type": "enum",
      "members": {
        "SANDBOX_STDIO_FILE_DESCRIPTOR_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SANDBOX_STDIO_FILE_DESCRIPTOR_STDOUT"
          }
        },
        "SANDBOX_STDIO_FILE_DESCRIPTOR_STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SANDBOX_STDIO_FILE_DESCRIPTOR_STDERR"
          }
        }
      }
    },
    "com.modal.task.command.router#SandboxStdioReadV2Request": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "fileDescriptor": {
          "target": "com.modal.task.command.router#SandboxStdioFileDescriptor",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "SANDBOX_STDIO_FILE_DESCRIPTOR_STDOUT": 0,
                "SANDBOX_STDIO_FILE_DESCRIPTOR_STDERR": 1
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#SandboxStdioReadV2Response": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "startingOffset": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#SandboxStdioReadV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#SandboxStdioReadV2Request"
      },
      "output": {
        "target": "com.modal.task.command.router#SandboxStdioReadV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/SandboxStdioReadV2",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.task.command.router#SandboxWaitUntilReadyRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#SandboxWaitUntilReadyResponse": {
      "type": "structure",
      "members": {
        "readyAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#SandboxWaitUntilReady": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#SandboxWaitUntilReadyRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#SandboxWaitUntilReadyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/SandboxWaitUntilReady",
          "code": 200
        }
      }
    },
    "com.modal.task.command.router#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.task.command.router#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.task.command.router#VolumeMount": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "allowBackgroundCommits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.task.command.router#VolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.task.command.router#VolumeMount"
      }
    },
    "com.modal.task.command.router#NetworkAccess": {
      "type": "structure",
      "members": {
        "networkAccessType": {
          "target": "com.modal.task.command.router#NetworkAccessNetworkAccessType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "UNSPECIFIED": 0,
                "OPEN": 1,
                "BLOCKED": 2,
                "ALLOWLIST": 3
              }
            }
          }
        },
        "allowedCidrs": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "allowedDomains": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string",
              "rep": true
            }
          }
        }
      }
    },
    "com.modal.task.command.router#NetworkAccessNetworkAccessType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOWLIST"
          }
        }
      }
    },
    "com.modal.task.command.router#PTYInfo": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        },
        "winszRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soon deprecated",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint32"
            }
          }
        },
        "winszCols": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        },
        "envTerm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "envColorterm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "envTermProgram": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        },
        "ptyType": {
          "target": "com.modal.task.command.router#PTYInfoPTYType",
          "traits": {
            "smithy.api#documentation": "Replace function with shell",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "enum",
              "e": {
                "PTY_TYPE_UNSPECIFIED": 0,
                "PTY_TYPE_FUNCTION": 1,
                "PTY_TYPE_SHELL": 2
              }
            }
          }
        },
        "noTerminateOnIdleStdin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "bool"
            }
          }
        }
      }
    },
    "com.modal.task.command.router#PTYInfoPTYType": {
      "type": "enum",
      "members": {
        "PTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_UNSPECIFIED"
          }
        },
        "PTY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_FUNCTION",
            "smithy.api#documentation": "Nothing"
          }
        },
        "PTY_TYPE_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_SHELL",
            "smithy.api#documentation": "Run function in PTY"
          }
        }
      }
    },
    "com.modal.task.command.router#CreateTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logical container name.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "args": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string",
              "rep": true
            }
          }
        },
        "env": {
          "target": "com.modal.task.command.router#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 6,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "workdir": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "secretIds": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "smithy.api#documentation": "Secret IDs to inject into the container as environment variables.",
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string",
              "rep": true
            }
          }
        },
        "volumeMounts": {
          "target": "com.modal.task.command.router#VolumeMountList",
          "traits": {
            "smithy.api#documentation": "Volumes to mount into the container.",
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message",
              "rep": true
            }
          }
        },
        "networkAccess": {
          "target": "com.modal.task.command.router#NetworkAccess",
          "traits": {
            "smithy.api#documentation": "Outbound network policy for the sidecar, independent of the main container. When unset, defaults to open network access. BLOCKED is not accepted: a blocked sidecar has no IP and cannot reach the main container.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "message"
            }
          }
        },
        "ptyInfo": {
          "target": "com.modal.task.command.router#PTYInfo",
          "traits": {
            "smithy.api#documentation": "Optional PTY info for sidecar.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#CreateTaskContainerResponse": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified container ID (for example, ctr-<ulid>).",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logical container name associated with this container.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#CreateTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#CreateTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#CreateTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerCreate",
          "code": 200
        },
        "smithy.api#documentation": "Create an additional container for a task."
      }
    },
    "com.modal.task.command.router#GetTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "includeTerminated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include the latest terminated container if the name is no longer active.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskContainerInfo": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "result": {
          "target": "com.modal.task.command.router#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.task.command.router#GenericResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.task.command.router#GenericResultGenericStatus",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "GENERIC_STATUS_UNSPECIFIED": 0,
                "GENERIC_STATUS_SUCCESS": 1,
                "GENERIC_STATUS_FAILURE": 2,
                "GENERIC_STATUS_TERMINATED": 3,
                "GENERIC_STATUS_TIMEOUT": 4,
                "GENERIC_STATUS_INIT_FAILURE": 5,
                "GENERIC_STATUS_INTERNAL_FAILURE": 6,
                "GENERIC_STATUS_IDLE_TIMEOUT": 7,
                "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": 8
              }
            }
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task or function output.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "exitcode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception message for failures, if available.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "traceback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code of the container entrypoint or builder process if it terminates unexpectedly.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "serializedTb": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "String value of the Python traceback.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "bytes"
            }
          }
        },
        "tbLineCache": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled traceback object.",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "bytes"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled line cache for traceback object.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inline data of the result.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "propagationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob ID for large data.",
            "com.distilled.proto#field": {
              "n": 13,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "sub-type for generic types like lists"
      }
    },
    "com.modal.task.command.router#GenericResultGenericStatus": {
      "type": "enum",
      "members": {
        "GENERIC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_UNSPECIFIED"
          }
        },
        "GENERIC_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_SUCCESS"
          }
        },
        "GENERIC_STATUS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_FAILURE"
          }
        },
        "GENERIC_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TERMINATED",
            "smithy.api#documentation": "Used when a task was killed using an external signal."
          }
        },
        "GENERIC_STATUS_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TIMEOUT"
          }
        },
        "GENERIC_STATUS_INIT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INIT_FAILURE",
            "smithy.api#documentation": "Used when the user's function fails to initialize (ex. S3 mount failed due to invalid credentials). Terminates the function and all remaining inputs."
          }
        },
        "GENERIC_STATUS_INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INTERNAL_FAILURE"
          }
        },
        "GENERIC_STATUS_IDLE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_IDLE_TIMEOUT",
            "smithy.api#documentation": "Used when sandboxes are terminated due to idle_timeout"
          }
        },
        "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_MEMORY_MANAGER_EVICTION",
            "smithy.api#documentation": "Used when a task was killed because it was evicted by the memory manager when the worker was under memory pressure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for both tasks and function outputs"
      }
    },
    "com.modal.task.command.router#GetTaskContainerResponse": {
      "type": "structure",
      "members": {
        "container": {
          "target": "com.modal.task.command.router#TaskContainerInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#GetTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#GetTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#GetTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerGet",
          "code": 200
        },
        "smithy.api#documentation": "Get the latest container associated with a logical name."
      }
    },
    "com.modal.task.command.router#ListTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "includeTerminated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include all tracked terminated containers in addition to active ones.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskContainerInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.task.command.router#TaskContainerInfo"
      }
    },
    "com.modal.task.command.router#ListTaskContainerResponse": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.modal.task.command.router#TaskContainerInfoList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#ListTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#ListTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#ListTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerList",
          "code": 200
        },
        "smithy.api#documentation": "List containers associated with the task."
      }
    },
    "com.modal.task.command.router#TerminateTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TerminateTaskContainerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TerminateTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TerminateTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TerminateTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerTerminate",
          "code": 200
        },
        "smithy.api#documentation": "Terminate or release a tracked container."
      }
    },
    "com.modal.task.command.router#WaitTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "timeout": {
          "target": "smithy.api#Float",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "float"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#WaitTaskContainerResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.task.command.router#GenericResult",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#WaitTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#WaitTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#WaitTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerWait",
          "code": 200
        },
        "smithy.api#documentation": "Wait for a tracked container to reach a terminal result."
      }
    },
    "com.modal.task.command.router#TaskExecPollRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to wait on.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecPollResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exit code of the command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "signal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The signal that terminated the command.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecPoll": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecPollRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecPollResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecPoll",
          "code": 200
        },
        "smithy.api#documentation": "Poll for the exit status of an exec'd command."
      }
    },
    "com.modal.task.command.router#TaskExecStdoutConfig": {
      "type": "enum",
      "members": {
        "TASK_EXEC_STDOUT_CONFIG_DEVNULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDOUT_CONFIG_DEVNULL",
            "smithy.api#documentation": "The output will be discarded."
          }
        },
        "TASK_EXEC_STDOUT_CONFIG_PIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDOUT_CONFIG_PIPE",
            "smithy.api#documentation": "The output will be streamed to the client."
          }
        }
      }
    },
    "com.modal.task.command.router#TaskExecStderrConfig": {
      "type": "enum",
      "members": {
        "TASK_EXEC_STDERR_CONFIG_DEVNULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDERR_CONFIG_DEVNULL",
            "smithy.api#documentation": "The output will be discarded."
          }
        },
        "TASK_EXEC_STDERR_CONFIG_PIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDERR_CONFIG_PIPE",
            "smithy.api#documentation": "The output will be streamed to the client."
          }
        },
        "TASK_EXEC_STDERR_CONFIG_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDERR_CONFIG_STDOUT",
            "smithy.api#documentation": "A special value that can be used to indicate that the stderr stream should be merged with the stdout stream."
          }
        }
      }
    },
    "com.modal.task.command.router#TaskExecStartRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task to execute the command in.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Execution ID. This ID will be used to identify the execution for other requests and ensure exec commands are idempotent.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "commandArgs": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "smithy.api#documentation": "Command arguments to execute.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string",
              "rep": true
            }
          }
        },
        "stdoutConfig": {
          "target": "com.modal.task.command.router#TaskExecStdoutConfig",
          "traits": {
            "smithy.api#documentation": "Configures how the stdout of the command will be handled.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "TASK_EXEC_STDOUT_CONFIG_DEVNULL": 0,
                "TASK_EXEC_STDOUT_CONFIG_PIPE": 1
              }
            }
          }
        },
        "stderrConfig": {
          "target": "com.modal.task.command.router#TaskExecStderrConfig",
          "traits": {
            "smithy.api#documentation": "Configures how the stderr of the command will be handled.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "enum",
              "e": {
                "TASK_EXEC_STDERR_CONFIG_DEVNULL": 0,
                "TASK_EXEC_STDERR_CONFIG_PIPE": 1,
                "TASK_EXEC_STDERR_CONFIG_STDOUT": 2
              }
            }
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timeout in seconds for the exec'd command to exit. If the command does not exit within this duration, the command will be killed. This is NOT the timeout for the ExecStartRequest RPC to complete.",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "uint32"
            }
          }
        },
        "workdir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory for the command.",
            "com.distilled.proto#field": {
              "n": 7,
              "t": "string"
            }
          }
        },
        "secretIds": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "smithy.api#documentation": "Secret IDs to mount into the task.",
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string",
              "rep": true
            }
          }
        },
        "ptyInfo": {
          "target": "com.modal.task.command.router#PTYInfo",
          "traits": {
            "smithy.api#documentation": "PTY info for the command.",
            "com.distilled.proto#field": {
              "n": 9,
              "t": "message"
            }
          }
        },
        "runtimeDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable debugging capabilities on the container runtime. Used only for internal debugging.",
            "com.distilled.proto#field": {
              "n": 10,
              "t": "bool"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container.",
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "env": {
          "target": "com.modal.task.command.router#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables to set directly for the exec'd command.",
            "com.distilled.proto#field": {
              "n": 12,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecStartResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecStart": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecStartRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecStartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStart",
          "code": 200
        },
        "smithy.api#documentation": "Execute a command in the task."
      }
    },
    "com.modal.task.command.router#TaskExecStdinStatusRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to query.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdinStatusResponse": {
      "type": "structure",
      "members": {
        "numBytesWritten": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of bytes the server has accepted for this exec so far. A streaming client that lost its connection should resume sending at this offset.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint64"
            }
          }
        },
        "closed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if stdin has already been closed (EOF sent) for this exec.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdinStatus": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecStdinStatusRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecStdinStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStdinStatus",
          "code": 200
        },
        "smithy.api#documentation": "Get the current stdin write status for an exec'd command. Used to resume a TaskExecStdinWriteStream after a stream failure. Evicts any in-flight TaskExecStdinWriteStream for this exec, so it is not safe to call for read-only observability."
      }
    },
    "com.modal.task.command.router#TaskExecStdinWriteRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to write to.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset to start writing to. This is used to resume writing from the last write position if the connection is closed and reopened.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bytes"
            }
          }
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, close the stdin stream after writing any provided data. This signals EOF to the exec'd process.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdinWriteResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdinWrite": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecStdinWriteRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecStdinWriteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStdinWrite",
          "code": 200
        },
        "smithy.api#documentation": "Write to the stdin stream of an exec'd command."
      }
    },
    "com.modal.task.command.router#TaskExecStdinWriteStreamStart": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to write to.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The byte offset at which the stream begins. Will be 0 unless resuming a broken stream.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        }
      }
    },
    "com.modal.task.command.router#TaskExecStdinWriteStreamEnd": {
      "type": "structure",
      "members": {}
    },
    "com.modal.task.command.router#TaskExecStdinWriteStreamRequest": {
      "type": "structure",
      "members": {
        "start": {
          "target": "com.modal.task.command.router#TaskExecStdinWriteStreamStart",
          "traits": {
            "smithy.api#documentation": "Start of a stdin write stream. Includes task_id, exec_id, and offset to write to.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "A chunk of stdin data to write to the exec'd command.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "end": {
          "target": "com.modal.task.command.router#TaskExecStdinWriteStreamEnd",
          "traits": {
            "smithy.api#documentation": "Signals EOF: close stdin after the data sent so far.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdinWriteStreamResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdinWriteStream": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecStdinWriteStreamRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecStdinWriteStreamResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStdinWriteStream",
          "code": 200
        },
        "smithy.api#documentation": "Stream stdin bytes to an exec'd command. First message carries the start message (task_id, exec_id, offset); subsequent messages carry data.",
        "com.distilled.proto#streaming": {
          "request": true
        }
      }
    },
    "com.modal.task.command.router#TaskExecStdioFileDescriptor": {
      "type": "enum",
      "members": {
        "TASK_EXEC_STDIO_FILE_DESCRIPTOR_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDIO_FILE_DESCRIPTOR_STDOUT",
            "smithy.api#documentation": "Read from stdout."
          }
        },
        "TASK_EXEC_STDIO_FILE_DESCRIPTOR_STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDIO_FILE_DESCRIPTOR_STDERR",
            "smithy.api#documentation": "Read from stderr."
          }
        }
      }
    },
    "com.modal.task.command.router#TaskExecStdioReadRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to read from.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset to start reading from. This is used to resume reading from the last read position if the connection is closed and reopened.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "fileDescriptor": {
          "target": "com.modal.task.command.router#TaskExecStdioFileDescriptor",
          "traits": {
            "smithy.api#documentation": "Which file descriptor to read from.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "TASK_EXEC_STDIO_FILE_DESCRIPTOR_STDOUT": 0,
                "TASK_EXEC_STDIO_FILE_DESCRIPTOR_STDERR": 1
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdioReadResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "The data read from the file descriptor.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecStdioRead": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecStdioReadRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecStdioReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStdioRead",
          "code": 200
        },
        "smithy.api#documentation": "Get a stream of output from the stdout or stderr stream of an exec'd command.",
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.task.command.router#TaskExecWaitRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to wait on.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecWaitResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exit code of the command.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "signal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The signal that terminated the command.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "int32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecWait": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecWaitRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecWaitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecWait",
          "code": 200
        },
        "smithy.api#documentation": "Wait for an exec'd command to exit and return the exit code."
      }
    },
    "com.modal.task.command.router#TaskMountDirectoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "customerSuppliedEncryptionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Customer-supplied encryption key used to decrypt CSEK-encrypted image metadata keys. This key is not persisted by Modal.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bytes"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskMountDirectory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskMountDirectoryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskMountDirectory",
          "code": 200
        },
        "smithy.api#documentation": "Mount an image at a directory in the container."
      }
    },
    "com.modal.task.command.router#TaskReloadVolumesRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskReloadVolumesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskReloadVolumes": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskReloadVolumesRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskReloadVolumesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskReloadVolumes",
          "code": 200
        },
        "smithy.api#documentation": "Reload all Volumes mounted in the task to reflect their latest committed state."
      }
    },
    "com.modal.task.command.router#TaskSetNetworkAccessRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "networkAccess": {
          "target": "com.modal.task.command.router#NetworkAccess",
          "traits": {
            "smithy.api#documentation": "Replaces the task's network access policy. Only ALLOWLIST is currently supported; open access is expressed as an allow-all allowlist.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSetNetworkAccessResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSetNetworkAccess": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSetNetworkAccessRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSetNetworkAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSetNetworkAccess",
          "code": 200
        },
        "smithy.api#documentation": "Replace the task's outbound network allowlist (domains + CIDRs)."
      }
    },
    "com.modal.task.command.router#OutboundPolicy": {
      "type": "structure",
      "members": {
        "headerReplacements": {
          "target": "com.modal.task.command.router#OutboundPolicyHeaderReplacementList",
          "traits": {
            "smithy.api#documentation": "Replace headers in outbound HTTPS requests, potentially with secret values.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for outbound traffic from a sandbox."
      }
    },
    "com.modal.task.command.router#OutboundPolicyHeaderReplacement": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain that the header replacements are scoped to. Supports wildcards in subdomain positions.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to a secret usable in the header value templates. Can be empty if no secret value is used.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "headers": {
          "target": "com.modal.task.command.router#StringMap",
          "traits": {
            "smithy.api#documentation": "Header name -> header value. Values support templating with keys in the stanza's secret_id: a $-prefixed key name in the secret will be replaced with the secret value. Literal $ characters can be represented by two dollars: `$$`.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.modal.task.command.router#OutboundPolicyHeaderReplacementList": {
      "type": "list",
      "member": {
        "target": "com.modal.task.command.router#OutboundPolicyHeaderReplacement"
      }
    },
    "com.modal.task.command.router#TaskSetOutboundPolicyRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "outboundPolicy": {
          "target": "com.modal.task.command.router#OutboundPolicy",
          "traits": {
            "smithy.api#documentation": "Replaces the task's outbound policy.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSetOutboundPolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSetOutboundPolicy": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSetOutboundPolicyRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSetOutboundPolicyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSetOutboundPolicy",
          "code": 200
        },
        "smithy.api#documentation": "Replace the task's outbound policy."
      }
    },
    "com.modal.task.command.router#TaskSnapshotDirectoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID to ensure idempotency of directory snapshot requests.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lifetime for the resulting image, in seconds. When set, the image's expires_at is a hard cutoff: it is fixed at creation time and is not extended on use. When unset, the resulting image gets the legacy retention policy: a 30-day TTL that is bumped forward by 30 days on every use, so active images effectively never expire. Sentinel: -1 means \"no expiry\" (the image never expires). 0 and other negative values are invalid and rejected by the server.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int64"
            }
          }
        },
        "customerSuppliedEncryptionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Customer-supplied encryption key used to encrypt the resulting image's data and tree metadata keys. This key is not persisted by Modal.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bytes"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container.",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotDirectoryResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotDirectory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSnapshotDirectoryRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSnapshotDirectoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSnapshotDirectory",
          "code": 200
        },
        "smithy.api#documentation": "Snapshot a directory with a mounted image, including any local changes, into a new image."
      }
    },
    "com.modal.task.command.router#TaskSnapshotFilesystemRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID to ensure idempotency of filesystem snapshot requests.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lifetime for the resulting image, in seconds. Must be set. When positive, the image expiry is a hard cutoff: it is fixed at creation time and is not extended on use. Sentinel: -1 means \"no expiry\" (the image never expires). 0 and other negative values are invalid and rejected by the server.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int64"
            }
          }
        },
        "customerSuppliedEncryptionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Customer-supplied encryption key used to encrypt the resulting image's data and tree metadata keys. This key is not persisted by Modal.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bytes"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotFilesystemResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotFilesystem": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSnapshotFilesystemRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSnapshotFilesystemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSnapshotFilesystem",
          "code": 200
        },
        "smithy.api#documentation": "Snapshot the full task filesystem into a new image."
      }
    },
    "com.modal.task.command.router#TaskSnapshotMemoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotMemoryResponse": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotMemory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSnapshotMemoryRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSnapshotMemoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSnapshotMemory",
          "code": 200
        },
        "smithy.api#documentation": "Take a memory snapshot of the task's sandbox container. Idempotency is keyed on the request idempotency_key: concurrent and repeated calls with the same key share one snapshot attempt. A successful snapshot currently terminates the container."
      }
    },
    "com.modal.task.command.router#TaskUnmountDirectoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskUnmountDirectory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskUnmountDirectoryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskUnmountDirectory",
          "code": 200
        },
        "smithy.api#documentation": "Unmount an image previously mounted at a directory in the container."
      }
    },
    "com.modal.task.command.router#TaskCommandRouterService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.task.command.router#SandboxStdinWriteV2"
        },
        {
          "target": "com.modal.task.command.router#SandboxStdioReadV2"
        },
        {
          "target": "com.modal.task.command.router#SandboxWaitUntilReady"
        },
        {
          "target": "com.modal.task.command.router#CreateTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#GetTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#ListTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#TerminateTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#WaitTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#TaskExecPoll"
        },
        {
          "target": "com.modal.task.command.router#TaskExecStart"
        },
        {
          "target": "com.modal.task.command.router#TaskExecStdinStatus"
        },
        {
          "target": "com.modal.task.command.router#TaskExecStdinWrite"
        },
        {
          "target": "com.modal.task.command.router#TaskExecStdinWriteStream"
        },
        {
          "target": "com.modal.task.command.router#TaskExecStdioRead"
        },
        {
          "target": "com.modal.task.command.router#TaskExecWait"
        },
        {
          "target": "com.modal.task.command.router#TaskMountDirectory"
        },
        {
          "target": "com.modal.task.command.router#TaskReloadVolumes"
        },
        {
          "target": "com.modal.task.command.router#TaskSetNetworkAccess"
        },
        {
          "target": "com.modal.task.command.router#TaskSetOutboundPolicy"
        },
        {
          "target": "com.modal.task.command.router#TaskSnapshotDirectory"
        },
        {
          "target": "com.modal.task.command.router#TaskSnapshotFilesystem"
        },
        {
          "target": "com.modal.task.command.router#TaskSnapshotMemory"
        },
        {
          "target": "com.modal.task.command.router#TaskUnmountDirectory"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal TaskCommandRouter",
        "smithy.api#documentation": "modal.task_command_router.TaskCommandRouter. Each operation is a unary binary gRPC call to POST /modal.task_command_router.TaskCommandRouter/<Method>."
      }
    }
  }
}
