{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.volume#CommitVolumeRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NOTE(staffan): Mounting a volume in multiple locations is not supported, so volume_id alone uniquely identifies a volume mount.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set by the runtime when committing a volume mounted in a sandbox sidecar container (used for runtime-driven commit-on-exit). Unset targets the task's main container.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#CommitVolumeResponse": {
      "type": "structure",
      "members": {
        "skipReload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#CommitVolume": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#CommitVolumeRequest"
      },
      "output": {
        "target": "com.modal.volume#CommitVolumeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeCommit",
          "code": 200
        },
        "smithy.api#documentation": "Volumes"
      }
    },
    "com.modal.volume#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.volume#VolumeCopyFilesRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "srcPaths": {
          "target": "com.modal.volume#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "dstPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeCopyFiles": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeCopyFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeCopyFiles",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeCopyFiles2Request": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "srcPaths": {
          "target": "com.modal.volume#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string",
              "rep": true
            }
          }
        },
        "dstPath": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeCopyFiles2": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeCopyFiles2Request"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeCopyFiles2",
          "code": 200
        }
      }
    },
    "com.modal.volume#DeleteVolumeRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#DeleteVolume": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#DeleteVolumeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeDelete",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeGetByIdRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeMetadata": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.modal.volume#VolumeFsVersion",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "VOLUME_FS_VERSION_UNSPECIFIED": 0,
                "VOLUME_FS_VERSION_V1": 1,
                "VOLUME_FS_VERSION_V2": 2
              }
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "creationInfo": {
          "target": "com.modal.volume#CreationInfo",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.volume#VolumeFsVersion": {
      "type": "enum",
      "members": {
        "VOLUME_FS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_FS_VERSION_UNSPECIFIED"
          }
        },
        "VOLUME_FS_VERSION_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_FS_VERSION_V1"
          }
        },
        "VOLUME_FS_VERSION_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_FS_VERSION_V2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP/2 tunnel"
      }
    },
    "com.modal.volume#CreationInfo": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This message is used in metadata for resource objects like Dict, Queue, Volume, etc.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "double"
            }
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of resource creation",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.volume#VolumeGetByIdResponse": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "metadata": {
          "target": "com.modal.volume#VolumeMetadata",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumeGetById": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeGetByIdRequest"
      },
      "output": {
        "target": "com.modal.volume#VolumeGetByIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeGetById",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeGetFileRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeGetFileResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "total file size",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        },
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "file position of first byte returned",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint64"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumeGetFile": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeGetFileRequest"
      },
      "output": {
        "target": "com.modal.volume#VolumeGetFileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeGetFile",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeGetFile2Request": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        },
        "clientPadsBlocks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "0 is interpreted as 'read to end' The client extends each block body it downloads with zero bytes up to the block's expected length, so responses may omit trailing zero bytes.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeGetFile2Response": {
      "type": "structure",
      "members": {
        "getUrls": {
          "target": "com.modal.volume#StringList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string",
              "rep": true
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "total file size",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "len": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "file position of first byte returned",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumeGetFile2": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeGetFile2Request"
      },
      "output": {
        "target": "com.modal.volume#VolumeGetFile2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeGetFile2",
          "code": 200
        }
      }
    },
    "com.modal.volume#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.volume#VolumeCreateOptions": {
      "type": "structure",
      "members": {
        "experimentalOptions": {
          "target": "com.modal.volume#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      }
    },
    "com.modal.volume#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.volume#VolumeGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "removed namespace",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "objectCreationType": {
          "target": "com.modal.volume#ObjectCreationType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "enum",
              "e": {
                "OBJECT_CREATION_TYPE_UNSPECIFIED": 0,
                "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": 1,
                "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": 2,
                "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": 3,
                "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": 4,
                "OBJECT_CREATION_TYPE_EPHEMERAL": 5
              }
            }
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "string"
            }
          }
        },
        "version": {
          "target": "com.modal.volume#VolumeFsVersion",
          "traits": {
            "smithy.api#documentation": "only used with OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "enum",
              "e": {
                "VOLUME_FS_VERSION_UNSPECIFIED": 0,
                "VOLUME_FS_VERSION_V1": 1,
                "VOLUME_FS_VERSION_V2": 2
              }
            }
          }
        },
        "createOptions": {
          "target": "com.modal.volume#VolumeCreateOptions",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "version": {
          "target": "com.modal.volume#VolumeFsVersion",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "VOLUME_FS_VERSION_UNSPECIFIED": 0,
                "VOLUME_FS_VERSION_V1": 1,
                "VOLUME_FS_VERSION_V2": 2
              }
            }
          }
        },
        "metadata": {
          "target": "com.modal.volume#VolumeMetadata",
          "traits": {
            "smithy.api#documentation": "Not used directly; version is part of the metadata",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumeGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.volume#VolumeGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeHeartbeatRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeHeartbeat": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeHeartbeatRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeHeartbeat",
          "code": 200
        }
      }
    },
    "com.modal.volume#ListPagination": {
      "type": "structure",
      "members": {
        "maxObjects": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "int32"
            }
          }
        },
        "createdBefore": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "double"
            }
          }
        }
      }
    },
    "com.modal.volume#ListVolumeRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "pagination": {
          "target": "com.modal.volume#ListPagination",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeListItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "app name of object entity app",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "double"
            }
          }
        },
        "metadata": {
          "target": "com.modal.volume#VolumeMetadata",
          "traits": {
            "smithy.api#documentation": "Superseded by metadata, used by clients up to 1.1.2",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "message"
            }
          }
        }
      }
    },
    "com.modal.volume#VolumeListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.volume#VolumeListItem"
      }
    },
    "com.modal.volume#ListVolumeResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.volume#VolumeListItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#ListVolume": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#ListVolumeRequest"
      },
      "output": {
        "target": "com.modal.volume#ListVolumeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeList",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeListFilesRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "maxEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#FileEntry": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "type": {
          "target": "com.modal.volume#FileEntryFileType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "enum",
              "e": {
                "UNSPECIFIED": 0,
                "FILE": 1,
                "DIRECTORY": 2,
                "SYMLINK": 3,
                "FIFO": 4,
                "SOCKET": 5
              }
            }
          }
        },
        "mtime": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint64"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file entry when listing files in a volume or network file system."
      }
    },
    "com.modal.volume#FileEntryFileType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY"
          }
        },
        "SYMLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYMLINK"
          }
        },
        "FIFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIFO"
          }
        },
        "SOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCKET"
          }
        }
      }
    },
    "com.modal.volume#FileEntryList": {
      "type": "list",
      "member": {
        "target": "com.modal.volume#FileEntry"
      }
    },
    "com.modal.volume#VolumeListFilesResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.modal.volume#FileEntryList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumeListFiles": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeListFilesRequest"
      },
      "output": {
        "target": "com.modal.volume#VolumeListFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeListFiles",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.volume#VolumeListFiles2Request": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "bool"
            }
          }
        },
        "maxEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "uint32"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeListFiles2Response": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.modal.volume#FileEntryList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumeListFiles2": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeListFiles2Request"
      },
      "output": {
        "target": "com.modal.volume#VolumeListFiles2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeListFiles2",
          "code": 200
        },
        "com.distilled.proto#streaming": {
          "response": true
        }
      }
    },
    "com.modal.volume#MountFile": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "sha256Hex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 checksum of the file.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint64"
            }
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the file in bytes — ignored in MountBuild().",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.volume#MountFileList": {
      "type": "list",
      "member": {
        "target": "com.modal.volume#MountFile"
      }
    },
    "com.modal.volume#VolumePutFilesRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "files": {
          "target": "com.modal.volume#MountFileList",
          "traits": {
            "smithy.api#documentation": "TODO(staffan): This is obviously unfortunately named, but provides what we need - consider renaming.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "disallowOverwriteExistingFiles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, prevent overwriting existing files. (Note that we don't allow overwriting existing directories with uploaded files regardless.)",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumePutFiles": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumePutFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumePutFiles",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumePutFiles2RequestFile": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination path of the file to be uploaded, including any parent dirs etc.; for example \"foo/bar/baz.txt\"",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total size of the file, in bytes.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "blocks": {
          "target": "com.modal.volume#VolumePutFiles2RequestBlockList",
          "traits": {
            "smithy.api#documentation": "The blocks, in units of 8MiB, that this file consists of.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "message",
              "rep": true
            }
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix file permission bits `st_mode`.",
            "com.distilled.proto#field": {
              "n": 4,
              "t": "uint32"
            }
          }
        }
      }
    },
    "com.modal.volume#VolumePutFiles2RequestBlock": {
      "type": "structure",
      "members": {
        "contentsSha256": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "The SHA256 digest of the contents of this block, in raw (ie. 32 bytes) form for compactness.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "bytes"
            }
          }
        },
        "putResponse": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "From a previous call to `VolumePutFiles2`, we might have gotten a response indicating that this block was missing. For such a block, this field contains the raw bytes of the body that was returned from the HTTP PUT request when the client made a request for the `put_url` returned in the previous `VolumePutFiles2Response`.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "bytes"
            }
          }
        }
      }
    },
    "com.modal.volume#VolumePutFiles2RequestBlockList": {
      "type": "list",
      "member": {
        "target": "com.modal.volume#VolumePutFiles2RequestBlock"
      }
    },
    "com.modal.volume#VolumePutFiles2RequestFileList": {
      "type": "list",
      "member": {
        "target": "com.modal.volume#VolumePutFiles2RequestFile"
      }
    },
    "com.modal.volume#VolumePutFiles2Request": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the volume to put/upload files into.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "files": {
          "target": "com.modal.volume#VolumePutFiles2RequestFileList",
          "traits": {
            "smithy.api#documentation": "List of files to put/upload.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "message",
              "rep": true
            }
          }
        },
        "disallowOverwriteExistingFiles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, prevent overwriting existing files. (Note that we don't allow overwriting existing directories with uploaded files regardless.)",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumePutFiles2ResponseMissingBlock": {
      "type": "structure",
      "members": {
        "fileIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index of the file in the original `files` field of the request.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "uint64"
            }
          }
        },
        "blockIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index of the block in the original `files[file_index].blocks` of the request.",
            "com.distilled.proto#field": {
              "n": 2,
              "t": "uint64"
            }
          }
        },
        "putUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Make a HTTP PUT request to this endpoint with the blocks' contents as the body.",
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.volume#VolumePutFiles2ResponseMissingBlockList": {
      "type": "list",
      "member": {
        "target": "com.modal.volume#VolumePutFiles2ResponseMissingBlock"
      }
    },
    "com.modal.volume#VolumePutFiles2Response": {
      "type": "structure",
      "members": {
        "missingBlocks": {
          "target": "com.modal.volume#VolumePutFiles2ResponseMissingBlockList",
          "traits": {
            "smithy.api#documentation": "Blocks that are currently missing in the volume, because the file did not exist, or because the block checksum from `blocks_sha256` in the request did not match the current contents of the file. Values will be returned sorted by `(file_index, block_index)`. If this field is empty, it means that the files were uploaded successfully and/or that the request was an idempotent no-op.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.volume#VolumePutFiles2": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumePutFiles2Request"
      },
      "output": {
        "target": "com.modal.volume#VolumePutFiles2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumePutFiles2",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeReloadRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NOTE(staffan): Mounting a volume in multiple locations is not supported, so volume_id alone uniquely identifies a volume mount.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeReload": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeReloadRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeReload",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeRemoveFileRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeRemoveFile": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeRemoveFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeRemoveFile",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeRemoveFile2Request": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#VolumeRemoveFile2": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#VolumeRemoveFile2Request"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeRemoveFile2",
          "code": 200
        }
      }
    },
    "com.modal.volume#RenameVolumeRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.volume#RenameVolume": {
      "type": "operation",
      "input": {
        "target": "com.modal.volume#RenameVolumeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/VolumeRename",
          "code": 200
        }
      }
    },
    "com.modal.volume#VolumeService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.volume#CommitVolume"
        },
        {
          "target": "com.modal.volume#VolumeCopyFiles"
        },
        {
          "target": "com.modal.volume#VolumeCopyFiles2"
        },
        {
          "target": "com.modal.volume#DeleteVolume"
        },
        {
          "target": "com.modal.volume#VolumeGetById"
        },
        {
          "target": "com.modal.volume#VolumeGetFile"
        },
        {
          "target": "com.modal.volume#VolumeGetFile2"
        },
        {
          "target": "com.modal.volume#VolumeGetOrCreate"
        },
        {
          "target": "com.modal.volume#VolumeHeartbeat"
        },
        {
          "target": "com.modal.volume#ListVolume"
        },
        {
          "target": "com.modal.volume#VolumeListFiles"
        },
        {
          "target": "com.modal.volume#VolumeListFiles2"
        },
        {
          "target": "com.modal.volume#VolumePutFiles"
        },
        {
          "target": "com.modal.volume#VolumePutFiles2"
        },
        {
          "target": "com.modal.volume#VolumeReload"
        },
        {
          "target": "com.modal.volume#VolumeRemoveFile"
        },
        {
          "target": "com.modal.volume#VolumeRemoveFile2"
        },
        {
          "target": "com.modal.volume#RenameVolume"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Volume",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Volume`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
