{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.modal.workspace#WorkspaceBillingRatesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.workspace#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.workspace#WorkspaceBillingRatesResponse": {
      "type": "structure",
      "members": {
        "rates": {
          "target": "com.modal.workspace#StringMap",
          "traits": {
            "smithy.api#documentation": "compute rates are per unit per hour, storage rate is per GiB-month",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "deprecationWarnings": {
          "target": "com.modal.workspace#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "deprecationErrors": {
          "target": "com.modal.workspace#StringMap",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "formatted": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#WorkspaceBillingRates": {
      "type": "operation",
      "input": {
        "target": "com.modal.workspace#WorkspaceBillingRatesRequest"
      },
      "output": {
        "target": "com.modal.workspace#WorkspaceBillingRatesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceBillingRates",
          "code": 200
        },
        "smithy.api#documentation": "Workspaces"
      }
    },
    "com.modal.workspace#WorkspaceBillingSummaryRequest": {
      "type": "structure",
      "members": {
        "startTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "all query intervals are implicitly one month long (to line up with billing cycles)",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.workspace#WorkspaceBillingSummaryResponse": {
      "type": "structure",
      "members": {
        "startTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "endTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "wkt",
              "w": "Timestamp"
            }
          }
        },
        "meteredCost": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "string"
            }
          }
        },
        "billedCost": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "string"
            }
          }
        },
        "meteredCostBreakdown": {
          "target": "com.modal.workspace#StringMap",
          "traits": {
            "smithy.api#documentation": "keyed by deployed, ephemeral, volume, notebook, tokens",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        },
        "adjustments": {
          "target": "com.modal.workspace#StringMap",
          "traits": {
            "smithy.api#documentation": "keyed by plan, credits, reservations, storage",
            "com.distilled.proto#field": {
              "n": 6,
              "t": "map",
              "k": "string",
              "v": {
                "t": "string"
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#WorkspaceBillingSummary": {
      "type": "operation",
      "input": {
        "target": "com.modal.workspace#WorkspaceBillingSummaryRequest"
      },
      "output": {
        "target": "com.modal.workspace#WorkspaceBillingSummaryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceBillingSummary",
          "code": 200
        }
      }
    },
    "com.modal.workspace#GetWorkspaceDashboardUrlRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.workspace#GetWorkspaceDashboardUrlResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#GetWorkspaceDashboardUrl": {
      "type": "operation",
      "input": {
        "target": "com.modal.workspace#GetWorkspaceDashboardUrlRequest"
      },
      "output": {
        "target": "com.modal.workspace#GetWorkspaceDashboardUrlResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceDashboardUrlGet",
          "code": 200
        }
      }
    },
    "com.modal.workspace#WorkspaceMembersListItem": {
      "type": "structure",
      "members": {
        "memberId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "memberDisplayname": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "memberRole": {
          "target": "com.modal.workspace#MemberRole",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "enum",
              "e": {
                "MEMBER_ROLE_UNSPECIFIED": 0,
                "MEMBER_ROLE_USER": 1,
                "MEMBER_ROLE_MANAGER": 2,
                "MEMBER_ROLE_OWNER": 3
              }
            }
          }
        },
        "joinedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "double"
            }
          }
        },
        "lastActiveAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 5,
              "t": "double"
            }
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.proto#field": {
              "n": 7,
              "t": "double"
            }
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 8,
              "t": "string"
            }
          }
        },
        "identityProviderType": {
          "target": "com.modal.workspace#IdentityProviderType",
          "traits": {
            "com.distilled.proto#field": {
              "n": 9,
              "t": "enum",
              "e": {
                "IDENTITY_PROVIDER_TYPE_UNSPECIFIED": 0,
                "IDENTITY_PROVIDER_TYPE_GITHUB": 1,
                "IDENTITY_PROVIDER_TYPE_SAML": 2,
                "IDENTITY_PROVIDER_TYPE_OKTA": 2,
                "IDENTITY_PROVIDER_TYPE_GOOGLE_OAUTH": 3
              }
            }
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 10,
              "t": "string"
            }
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 11,
              "t": "string"
            }
          }
        },
        "idpExternalId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 12,
              "t": "string"
            }
          }
        }
      }
    },
    "com.modal.workspace#MemberRole": {
      "type": "enum",
      "members": {
        "MEMBER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_UNSPECIFIED"
          }
        },
        "MEMBER_ROLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_USER"
          }
        },
        "MEMBER_ROLE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_MANAGER"
          }
        },
        "MEMBER_ROLE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER_ROLE_OWNER"
          }
        }
      }
    },
    "com.modal.workspace#IdentityProviderType": {
      "type": "enum",
      "members": {
        "IDENTITY_PROVIDER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_TYPE_UNSPECIFIED"
          }
        },
        "IDENTITY_PROVIDER_TYPE_GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_TYPE_GITHUB"
          }
        },
        "IDENTITY_PROVIDER_TYPE_SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_TYPE_SAML"
          }
        },
        "IDENTITY_PROVIDER_TYPE_OKTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_TYPE_OKTA",
            "smithy.api#deprecated": {}
          }
        },
        "IDENTITY_PROVIDER_TYPE_GOOGLE_OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_TYPE_GOOGLE_OAUTH"
          }
        }
      }
    },
    "com.modal.workspace#WorkspaceMembersListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.workspace#WorkspaceMembersListItem"
      }
    },
    "com.modal.workspace#ListWorkspaceMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.modal.workspace#WorkspaceMembersListItemList",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message",
              "rep": true
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#ListWorkspaceMembers": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.modal.workspace#ListWorkspaceMembersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceMembersList",
          "code": 200
        }
      }
    },
    "com.modal.workspace#LookupWorkspaceNameResponse": {
      "type": "structure",
      "members": {
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {},
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#LookupWorkspaceName": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.modal.workspace#LookupWorkspaceNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceNameLookup",
          "code": 200
        }
      }
    },
    "com.modal.workspace#WorkspaceSetDefaultEnvironmentRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.workspace#WorkspaceSetDefaultEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.modal.workspace#WorkspaceSetDefaultEnvironmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceSetDefaultEnvironment",
          "code": 200
        }
      }
    },
    "com.modal.workspace#EnvironmentBlockUnauthenticatedResources": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_UNSPECIFIED"
          }
        },
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_INHERIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_INHERIT"
          }
        },
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_BLOCK"
          }
        },
        "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_ALLOW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Partial-update signal for EnvironmentUpdateRequest. Omitted means no-op. INHERIT clears the environment override so the workspace default applies."
      }
    },
    "com.modal.workspace#WorkspaceSetDefaultEnvironmentSettingsRequest": {
      "type": "structure",
      "members": {
        "blockUnauthenticatedResources": {
          "target": "com.modal.workspace#EnvironmentBlockUnauthenticatedResources",
          "traits": {
            "smithy.api#documentation": "Omitted = no-op. INHERIT clears the workspace default so environments with no override have no block. Rejects UNSPECIFIED.",
            "com.distilled.proto#field": {
              "n": 1,
              "t": "enum",
              "e": {
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_UNSPECIFIED": 0,
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_INHERIT": 1,
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_BLOCK": 2,
                "ENVIRONMENT_BLOCK_UNAUTHENTICATED_RESOURCES_ALLOW": 3
              }
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.workspace#EnvironmentSettings": {
      "type": "structure",
      "members": {
        "imageBuilderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "webhookSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        },
        "maxConcurrentGpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 3,
              "t": "int32"
            }
          }
        },
        "maxConcurrentTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.proto#field": {
              "n": 4,
              "t": "int32"
            }
          }
        },
        "blockUnauthenticatedResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, new unauthenticated web functions, Servers, tunnels, and Endpoints in this environment are rejected. Unset inherits the workspace default.",
            "com.distilled.proto#field": {
              "n": 5,
              "t": "bool"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment-scoped settings, with workspace-level defaults. Note that we use MergeFrom to combine workspace / environment settings, which will *append* any `repeated` fields!"
      }
    },
    "com.modal.workspace#WorkspaceSetDefaultEnvironmentSettingsResponse": {
      "type": "structure",
      "members": {
        "defaultEnvironmentSettings": {
          "target": "com.modal.workspace#EnvironmentSettings",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#WorkspaceSetDefaultEnvironmentSettings": {
      "type": "operation",
      "input": {
        "target": "com.modal.workspace#WorkspaceSetDefaultEnvironmentSettingsRequest"
      },
      "output": {
        "target": "com.modal.workspace#WorkspaceSetDefaultEnvironmentSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceSetDefaultEnvironmentSettings",
          "code": 200
        }
      }
    },
    "com.modal.workspace#WorkspaceSetImageBuilderVersionRequest": {
      "type": "structure",
      "members": {
        "newImageBuilderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.workspace#WorkspaceSetImageBuilderVersionResponse": {
      "type": "structure",
      "members": {
        "imageBuilderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#WorkspaceSetImageBuilderVersion": {
      "type": "operation",
      "input": {
        "target": "com.modal.workspace#WorkspaceSetImageBuilderVersionRequest"
      },
      "output": {
        "target": "com.modal.workspace#WorkspaceSetImageBuilderVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceSetImageBuilderVersion",
          "code": 200
        }
      }
    },
    "com.modal.workspace#WorkspaceSettingsResponse": {
      "type": "structure",
      "members": {
        "defaultEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 1,
              "t": "string"
            }
          }
        },
        "imageBuilderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.proto#field": {
              "n": 2,
              "t": "string"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.workspace#WorkspaceSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.modal.workspace#WorkspaceSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/WorkspaceSettings",
          "code": 200
        }
      }
    },
    "com.modal.workspace#WorkspaceService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.workspace#WorkspaceBillingRates"
        },
        {
          "target": "com.modal.workspace#WorkspaceBillingSummary"
        },
        {
          "target": "com.modal.workspace#GetWorkspaceDashboardUrl"
        },
        {
          "target": "com.modal.workspace#ListWorkspaceMembers"
        },
        {
          "target": "com.modal.workspace#LookupWorkspaceName"
        },
        {
          "target": "com.modal.workspace#WorkspaceSetDefaultEnvironment"
        },
        {
          "target": "com.modal.workspace#WorkspaceSetDefaultEnvironmentSettings"
        },
        {
          "target": "com.modal.workspace#WorkspaceSetImageBuilderVersion"
        },
        {
          "target": "com.modal.workspace#WorkspaceSettings"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Workspace",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Workspace`. Each operation is a unary binary gRPC call to POST /modal.client.ModalClient/<Method>."
      }
    }
  }
}
